[2016-09-15 16:54] durack1 opened #413 "Provide PCMDI logo for png branding"
Add new png for PCMDI branding of png output - keep under 500KB.

Should be under share/pcmdi/

[2016-09-15 17:34] durack1 commented on #413
@gleckler1 @doutriaux1 @taylor it's time to vote - pick which one:
a)
![160915_pcmdi_logo](https://cloud.githubusercontent.com/assets/3229632/18560257/a40b9532-7b2f-11e6-9faa-0e5c9acaf530.png)
or b)
![160915_pcmdi_oblong_logo](https://cloud.githubusercontent.com/assets/3229632/18560313/e2c51c12-7b2f-11e6-8a85-67f588c582fe.png)

[2016-09-15 17:35] durack1 commented on #380
@doutriaux1 to get this working will likely require a resolution for #303 - which could be closed as a dupe

[2016-09-15 17:37] doutriaux1 commented on #411
file in in share/pmp/graphics not in share/graphics any longer you need to edit the script that @gleckler1 gave you which is NOT part of this repo.

[2016-09-15 17:37] #411 closed

[2016-09-15 17:38] durack1 commented on #408
@gleckler1 want to tag a milestone on this one?

[2016-09-15 17:40] gleckler1 commented on #413
@durack1 in the obslong version its clear Tassie has been wiped off the map... if this is a sensitive issue, PD should choose!

[2016-09-15 17:53] doutriaux1 commented on #413
Alaska seems to be missing from both :wink:
I like a) better but I think that to add to graph b) is much lighter and cleaner. You don't want it to become the point of focus of your plot.

[2016-09-15 18:17] gleckler1 commented on #408
@durack1 no need ... its being worked on right now

[2016-09-15 18:27] gleckler1 opened #415 "unify json production as much as possible"
@doutriaux1 @lee1043   CD can provide example in one of a number of existing branches (e.g, https://github.com/PCMDI/pcmdi_metrics/blob/334_monsoon_wang/src/python/devel/monsoon_wang/scripts/monsoon-wang_driver.py) and JL and PG can propagate across other branches

[2016-09-15 18:51] #409 closed

[2016-09-15 19:01] durack1 commented on #413
@taylor13 votes a) - correct?

[2016-09-15 19:22] taylor13 commented on #413
Why don't we include both as options.  For a letter or a ppt with white background, I prefer a.  I can see b might be preferred if you want to deemphasize.

[2016-09-15 19:31] durack1 commented on #413
@jservonnat has voted b)

[2016-09-15 21:40] doutriaux1 commented on #413
@taylor13 not a bad idea but we still need to pick a default. I'll make sure users can pass any png.

[2016-09-15 23:39] durack1 opened #418 "Add durolib as conda dependency"
Currently durolib is not listed as a dependency (and is not installed from conda during PMP installation), as it's [available on conda](https://anaconda.org/durack1/durolib) this should be added to the [meta.yaml](https://github.com/PCMDI/pcmdi_metrics/blob/master/conda-recipes/pcmdi_metrics/meta.yaml)

[2016-09-16 00:11] durack1 commented on #403
For notes:
https://www.continuum.io/blog/developer-blog/python-packages-and-environments-conda and
[code]

[2016-09-16 14:05] doutriaux1 commented on #418
@durack1 I don't think it is needed quite yet (as in master). This should be done as part of any/all branch that actually requires it.

[2016-09-16 16:18] durack1 commented on #418
@doutriaux1 it'll simplify things considerably for @gleckler1 and @lee1043 - they can chime in on this one.. Gentlemen?

[2016-09-16 16:44] gleckler1 commented on #418
@doutriaux1 @durack1 @lee1043 although I don't think external users will have reason to use durolib, JL and PG rely on it heavily for running through our internal CMIP database... we need it to be there always without inconvenience - we have both wasted considerable time in the past over this issue - so yes, please stuff it in there even if buried and only for internal purposes.

[2016-09-16 18:02] durack1 commented on #403
@gleckler1 pick and choose what you want in here from the top of the [comment above](https://github.com/PCMDI/pcmdi_metrics/issues/403#issuecomment-247488700) I can extract any of the versioning info from the conda json files - so give me the list of what you want versioned..

[2016-09-16 18:17] doutriaux1 commented on #418
This is never going to happen. I refuse to install useless dependencies
Seriously it takes no time to type:
[code]

[2016-09-18 04:50] durack1 commented on #418
@doutriaux1 I'm not sure you've correctly labeled this a "useless dependency" it has a bunch of functions that make dealing with the local archive easier.. And a number of other things that are in development, or testing

[2016-09-21 16:43] doutriaux1 opened #419 "cleaning up the wiki"
Some pages on the wiki seems to be outdated and/or not really belonging on the wiki (or must be reclassified)

examples:
https://github.com/PCMDI/pcmdi_metrics/wiki/Reference-Syntax-indexation
https://github.com/PCMDI/pcmdi_metrics/wiki/IPSL-Corner

probably more...

[2016-09-22 14:40] gleckler1 commented on #419
@doutriaux1 @durack1  great idea.... It would be good to figure out how to remove and organize the the links in the "pages" box on the rhs of main wiki page

[2016-09-22 14:43] gleckler1 commented on #418
if it is really this easy to install we might have a compromise

[2016-09-22 14:51] doutriaux1 commented on #418
it is, try it.

[2016-09-22 14:51] gleckler1 opened #420 "harmonize selected clim plots using json files"
PG and JS to work on barcharts and TDs

[2016-09-22 14:54] gleckler1 commented on #407
@doutriaux1  In addition to having option in paramater file to save zonal means, it would be good also to save  area average 12 month time series for each region metrics are calculated for

[2016-09-22 14:56] gleckler1 commented on #317
@durack1 finally making some progress!

[2016-09-22 15:22] chaosphere2112 commented on #420
@doutriaux1 Histograms or barcharts? I'm working with barcharts right now on my own, but histograms are in vcsaddons already (difference being that barcharts just plot values, and histograms use levels to segment values from an array and display the counts of those values).

[2016-09-22 15:56] gleckler1 commented on #420
@chaosphere2112 @doutriaux1 We'll show you solutions we are already using for bar charts and Taylor Diagrams.  When you are ready we can compare them.

[2016-09-22 16:04] doutriaux1 commented on #407
@gleckler1 and I just had a chat about this, it's better to keep it as a separate process.

[2016-09-22 16:04] #407 closed

[2016-09-23 09:17] durack1 commented on #420
@gleckler1 for transparency it might be a good idea to expand your acronyms.. TD could be anything, thought my educated guess would be a taylor diagram

[2016-09-23 09:31] durack1 commented on #418
@gleckler1 @doutriaux1 I would note the channel above was wrong, it should be:
[code]

[2016-09-26 14:48] doutriaux1 commented on #418
Thanks @durack1 I'm willing to meet you guys half way and put `durolib` on PCMDI channel.

[2016-09-26 21:27] durack1 commented on #418
@doutriaux1 as long as I have write access and can update it, that would be fine

[2016-09-27 14:40] gleckler1 commented on #418
@durack1 @doutriaux1  Is durolib on pCMDI channel yet?  If so we can close this issue

[2016-09-27 14:56] durack1 opened #421 "Multiple parallel coordinates (y-axis) on single plot"
@jservonnat pinging you here UV-CDAT/vcs#11
![parallel_coordinates_with_r](https://cloud.githubusercontent.com/assets/3229632/18879084/eadb9816-8487-11e6-85c3-08eabba198a9.png)

[2016-09-27 21:32] durack1 commented on #418
@gleckler1 nope - https://anaconda.org/PCMDI doesn't list it yet.. Over to @doutriaux1

[2016-09-27 21:55] doutriaux1 opened #422 "some obs do not have a default, this may lead to failure when running the driver"
example: `sftlf` (but that is normal) or `rtnetcre`

thanks @zshaheen for noticing this

[2016-09-27 22:42] durack1 opened #423 "conda nightly channel doesn't seem to be working (or updating)"
@jservonnat and I are hitting issues:

[code]

[2016-09-27 23:05] durack1 commented on #423
@jservonnat try the following:
`conda install -c pcmdi/label/nightly pcmdi_metrics`

But I still don't think what you want is in there:
[code]
@doutriaux1 he's after the `JSONs` class

[2016-10-03 22:17] #413 closed

[2016-10-03 22:55] gleckler1 commented on #412
@doutriaux1 @durack1 can this be merged with PR 423?

[2016-10-04 16:09] gleckler1 commented on #422
@doutriaux1 @zshaheen The only additional variable that we use (so far), rtnetcre, has been added.   There is a pull request to implement.   When one of you has pushed to master I'll remove this issue... which will likely resurface from time to time as additional fields are added to our database

[2016-10-04 16:19] gleckler1 commented on #421
@doutriaux1 @jservonnat .... mission accomplished - time to close this issue?

[2016-10-04 18:19] gleckler1 commented on #421
@doutriaux1 pls when creating branch put issue# as prefix to help us keep track of things.

[2016-10-04 18:21] durack1 commented on #421
@doutriaux1 if you'd like to refresh your memory: https://github.com/PCMDI/pcmdi_metrics/wiki/Tips-for-Developers 😄

[2016-10-04 18:47] gleckler1 opened #425 "finding a common path for using argparse"
@doutriaux1 @durack1 @zshaheen @lee1043 @jservonnat This has been scattered about but now is urgent because we have many issues awaiting a solution to this.  The most advanced example we have is
https://github.com/PCMDI/pcmdi_metrics/blob/377_Variability_mode_NAO/src/python/devel/variability_mode_nao/lib/argparse_functions.py

This could be done differently, but we need to find common ground as so

[2016-10-04 18:48] #422 closed

[2016-10-05 14:52] doutriaux1 commented on #421
Except I believe I created the branch before the issue was recorded ;)

C.

From: gleckler1 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, October 4, 2016 at 11:19 AM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com<mailto:pcmdi_metrics@noreply.github.com>>
Cc: Charles Doutria

[2016-10-05 16:27] #421 closed

[2016-10-06 15:32] gleckler1 commented on #412
@doutriaux1 @durack1 redundant with #423 thereore closing....

[2016-10-06 16:41] doutriaux1 commented on #423
it's because it's only in the `nightly` channel

[2016-10-06 16:42] doutriaux1 commented on #412
different issue, @jservonnat could not download it. This is about automatic upload.

[2016-10-06 16:42] doutriaux1 opened #427 "json pure vesion 2.0 broken"

[2016-10-06 17:27] #427 closed

[2016-10-06 23:15] doutriaux1 opened #429 "use dB for Jason class"

[2016-10-06 23:30] durack1 commented on #423
@doutriaux1 if you look above the nightly labels are being used.. It's just that nightlies aren't updated.. It'd be good to get this working - building a nightly Conda release from the master each night

[2016-10-06 23:49] zshaheen opened #430 "New obs_info_dictionary breaks at least one test."
Testing with test/pcmdi/basic_test_parameters_file.py causes the realm for tos to be atm, when it should be ocn.

[2016-10-10 13:59] doutriaux1 commented on #423
agreed but it's not a top priority. For now I just do it manually.

[2016-10-11 17:45] gleckler1 commented on #345
@jservonnat @doutriaux1 @lee1043  @zshaheen  For better or worse, PG has merged the TD and barchart issues into a common branch so that they could be developed together and in particular with consistent use of argparse arguments.    Under https://github.com/PCMDI/pcmdi_metrics/tree/345_pjg_taylor_diagram/src/python/devel/taylor_diagram_mpl/scripts and the corresponding /lib,  both codes are curren

[2016-10-11 21:04] doutriaux1 commented on #345
the json issue is taken care of in the branch  `issue_429_json_to_db`

[2016-10-16 02:15] gleckler1 opened #432 "update regions dic in share to include monsoon domains"

[2016-10-18 23:41] doutriaux1 opened #435 "missing modls are still stored in json files"
If a model fails completely it is still listed (empty entry) in the json files, do we really want this?

example:

[code]

[2016-10-18 23:41] doutriaux1 commented on #435
@gleckler1 @durack1 @jservonnat what do you think?

[2016-10-19 22:36] jservonnat opened #436 "JSONs class: compatibility with the previous versions of the json files"
@doutriaux1 @gleckler1 The JSONs class (in io/base.py) does not seem to work on the old structures of the jsons files. At least with some of the ones that @gleckler1 gave me with all CMIP5 historical results.
Should we work on having the right structure in the json files or on the JSONs class to be able to ingest the different structures that have been produced by the PMP?

[2016-10-19 22:51] doutriaux1 commented on #436
works for me on the json files you sent me.

[2016-10-19 22:52] doutriaux1 commented on #436
anyhow we have a writter that wotks for he future json too.

[2016-10-19 22:52] jservonnat commented on #436
On all the variables? It only works for me on a subset (the ones with the metrics names without the region)

[2016-10-19 23:01] doutriaux1 commented on #436
yes for all variables but because I have a fix for #435 which is probably your issue.

[2016-10-19 23:10] jservonnat commented on #436
I guess not, for instance the variable rlds comes out empty of the JSONs class, although there are data in the json file.

[2016-10-21 23:39] gleckler1 commented on #435
@doutriaux1 @durack1 @jservonnat   Probably what is going on here is that the model climatology exists and the user has requested rlus to be tested, but rlus is not in the PMP obs dataset.   In this case there should be no results in this (rlus) json file.  This is a fine example of where this should be dealt with via error trapping informing the user what happened.

[2016-10-22 01:05] gleckler1 opened #439 "add mod and obs domain averages to json files (currently only bias is available)"

[2016-10-24 18:19] gleckler1 opened #440 "update regions in share to include monsoon regions"

[2016-10-25 20:43] gleckler1 commented on #440
done

[2016-10-25 20:44] #440 closed

[2016-10-25 20:56] gleckler1 commented on #425
@doutriaux1 @zshaheen  @lee1043 @durack1 We now have a solution for this with the PMPparser.     It needs to be implemented for the following (and everything after that):

- [ ] mean climate
- [X] monsoon-wang
- [ ] ENSO
- [ ] Variability modes

[2016-10-26 17:46] #432 closed

[2016-10-26 22:42] gleckler1 opened #443 "modfiy json class output to better deal with masked data"
@doutriaux1 @jservonnat   JS has convinced PG that we should add a layer to deal with masking just after regions (with options "all", "land", "ocean", "land-estimated" or "ocean-estimated")

Current
 "json_structure": ["model", "reference", "rip", "region", "statistic", "season"],

CHANGE TO:
 "json_structure": ["model", "reference", "rip, "region", "mask", "statistic", "season"],

[2016-10-26 23:28] doutriaux1 commented on #443
I'm not convinced though... But hey that will just make it a bit harder for you guys to mix old and new json files...

[2016-10-26 23:37] durack1 commented on #443
@doutriaux1 when I sort out #403 we can then bump the PMP version to `2.0`.. `json` formats change and this limits backward compatibility

[2016-10-27 00:09] gleckler1 commented on #443
@doutriaux1  its early days yet in terms of backwards compatibility being critical ... if we are going to make structural changes to these jsons now is the time.   It will break some plotting codes, but it will be worth it.    Masking is critical, and its important to know if we've had to estimate it.

[2016-10-27 14:38] doutriaux1 commented on #443
it's ok I thought about it last night and it shouldn't be too bad to keep it compatible one more time.

[2016-10-27 15:10] gleckler1 commented on #443
@doutriaux1  Great... and currently we don't document whether or not we had to estimate the model mask... thus will be good to trap.

[2016-10-27 15:14] gleckler1 commented on #415
@doutriaux1 @lee1043  PG using monsoon-wang as a test case using JSON class... we will need to improve and apply this in all other analysis codes

[2016-10-27 15:15] gleckler1 commented on #419
@durack1 should we move to ipython notebooks for documentation?

[2016-10-27 15:20] gleckler1 commented on #436
@doutriaux1 @jservonnat   I suspect this results from not having and estimate of rlds in the obs dataset..... this error should be trapped

[2016-10-27 15:22] durack1 commented on #419
@gleckler1 @doutriaux1 good question, I've noted that if we host the notebooks (`*.ipynb`) on a webserver, then using the jupyter viewer these can be displayed in their full fruit versions - see the UV-CDAT example, the file is hosted on the UV-CDAT webserver:
http://nbviewer.jupyter.org/url/uvcdat.llnl.gov/iPython/boxfill/boxfill.ipynb

It might be a very good way to keep things organized, and ju

[2016-10-27 16:38] jservonnat commented on #436
@gleckler1 @doutriaux1 I haven't add any issues with the JSONs class since the last update. I will provide you with some feedbacks after more testing but it sounds like the last version works pretty well.

[2016-10-27 16:40] jservonnat commented on #436
@gleckler1 @doutriaux1 I haven't add any issues with the JSONs class since the last update. I will provide you with some feedbacks after more testing but it sounds like the last version works pretty well.

[2016-10-27 16:59] jservonnat commented on #436
@gleckler1 @doutriaux1 I haven't add any issues with the JSONs class since the last update. I will provide you with some feedbacks after more testing but it sounds like the last version works pretty well.

[2016-10-27 17:00] jservonnat commented on #436
@gleckler1 @doutriaux1 I haven't add any issues with the JSONs class since the last update. I will provide you with some feedbacks after more testing but it sounds like the last version works pretty well.

[2016-10-27 21:11] jservonnat opened #444 "libGL on linux machine (Ciclad) -- parallel_coordinates"
@doutriaux1 I have issues with the libGL library when trying to plot the parallel coordinates...
Here is my setup:

[code]

And then I try to run my parallel coordinates script:

[code]

Any suggestion?

[2016-10-27 21:18] jservonnat commented on #444
@doutriaux1 the same code works on my mac laptop.

[2016-10-28 14:43] doutriaux1 commented on #444
I see the swrast all the time on my Linux box so not much worries there. @danlipsa @aashish24 and idea? Looks like their openGL is bad.

[2016-10-28 14:55] danlipsa commented on #444
@jservonnat @doutriaux1 Can you try running glxgears using the same setup as for the script? If that does not work cdat cannot work. Indeed this looks like OpenGL issues.
Here is a link with more commands you can try to investigate this:

http://www.linuxquestions.org/questions/slackware-14/failed-to-load-driver-swrast-4175497461/

[2016-10-28 15:08] gleckler1 commented on #408
@doutriaux1  @lee1043 VCS grinding to a halt....   CD your hints yesterday helped a little but our plotting is still blowing up...  any hints??

https://github.com/PCMDI/pcmdi_metrics/blob/408_pgjw_vcs/src/python/devel/mean_climate_maps/scripts/mk_clim_dif_maps-driver.py

(pmpn) bash-4.1$ python -i mk_clim_dif_maps-driver.py

pr   ACCESS1-0   djf   plotting time is  2.39182496071
pr   ACCESS1-3

[2016-10-28 15:28] doutriaux1 commented on #408
That line is horrible!!!!!

        execfile('./plot_map_4panel.py')

use imports. I’ll clean this up! There’s so many things worng with this… (hard coded path, not using argparse etc….)

C.

From: gleckler1 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, October 28, 2016 at 8:08 AM
To:

[2016-10-28 16:56] durack1 commented on #408
@gleckler1 @doutriaux1 @lee1043 @chaosphere2112 this issue is likely related to #1424 which last time I checked was still a big problem. Alongside your time getting longer and longer, the memory usage is also like blowing up too

[2016-10-28 16:58] durack1 commented on #444
@danlipsa @doutriaux1 in my experience it has often been a badly configured environment path rather than problems with the OpenGL install on the machine..

[2016-10-28 18:33] doutriaux1 commented on #408
@durack1 while this might be true, with some clean up I was able to get a constant speed on pngs. A LOT of unnecessary objects were created.

[2016-10-28 18:45] zshaheen commented on #430
Just use custom_observations option when testing.

[2016-10-28 18:45] #430 closed

[2016-10-28 21:01] gleckler1 commented on #408
@doutriaux1 @zshaheen trying to test CD improvements but can get everything recognized.   Starting with a new PMP env, "from pcmdi_metrics.mean_climate_maps import plot_4panel" is not recognized which is fixed by running setup.py with --enable-devel.   But then from "pcmdi_metrics.pcmdi import pmp_parser" does not work so I follow ZS instructions ... https://github.com/PCMDI/pcmdi_metrics/wiki/PMP

[2016-10-28 22:20] doutriaux1 commented on #408
@gleckler1 I told you in email you need to add the cdp package:
[code]

[2016-10-28 22:32] durack1 commented on #408
@doutriaux1 can this be added as a conda dependency to avoid problems again in the future?

[2016-10-28 22:33] doutriaux1 commented on #408
yes it is already added. But all conda packages have been built before this. Remember we want to push a new version soon.

[2016-10-28 22:34] durack1 commented on #408
@doutriaux1 yes I think tagging a new release ASAP would be a good idea to close out this installation issue and get things back to a smoother install process

[2016-10-28 23:13] zshaheen commented on #408
Until we have a cron job for nightly releases, we might think about adding in a section to the wiki for getting the latest version of pmp. Even if that just entails running `python setup.py install` and `conda install cdp -c uvcdat`.

[2016-11-02 14:02] gleckler1 commented on #444
@jservonnat  @doutriaux1  PG experienced same error.   Don't understand exactly how or why it was fixed, but it did involve updating the version of Anaconda and reinstalling the PMP

[2016-11-03 20:35] gleckler1 opened #445 "add masks for reference data"
As we embark on cmorizing the PMP database we should include land sea masks

[2016-11-03 20:58] durack1 commented on #445
@gleckler1 to do this right it will likely involve obtaining masks from the original data sources, and while this happening we may as well update the data alongside the masks.. so not sure what milestone you want to pin this to?

[2016-11-03 21:05] gleckler1 commented on #445
@durack1 For now its just good to have it jotted down.   Getting PMP1.5-obs going is certainly a higher priority

[2016-11-03 21:23] durack1 commented on #445
@gleckler1 ok perfect `2.0` it is then..

[2016-11-04 01:27] durack1 commented on #403
@gleckler1 here's what I've started to work on now, look at this list below and the available bits above and let me know if there's anything else you want wedged in:
[code]

[2016-11-04 16:58] gleckler1 opened #446 "add centered RMS to mean climate summaries"

[2016-11-04 17:00] gleckler1 commented on #444
@jservonnat @doutriaux1  JS, can we close this issue?  I had the same error that eventually went away with some combination of updating annaconda, PMP and UV-CDAT... don't know what solved it but something did...

[2016-11-04 17:55] durack1 commented on #444
I agree to close what ISN'T an issue.. But this one happens too often, it'd be good to fix it once and for all..

[2016-11-04 18:01] gleckler1 commented on #444
@durack1 @doutriaux1 As far as I understand this is one of the many items we hope will be improved with a nightly build so perhaps we close this for now and confirm its better with nightlies?

[2016-11-04 18:06] durack1 commented on #444
@gleckler1 go on (close it - actually I just did) - we can always reopen an issue if we're able to isolate what the problem is that requires fixing

[2016-11-04 18:07] durack1 commented on #403
@gleckler1 here's what I've started to work on now, look at this list below and the available bits above and let me know if there's anything else you want wedged in:
[code]

[2016-11-04 20:48] gleckler1 commented on #446
added IN 439 to this update

[2016-11-05 16:27] gleckler1 commented on #403
@durack1  I think this is great.   But I wonder if the PMP tag (which we will get serious about soon) is attached to a particular version of UVCDAT, in which case alot of things would be defined.  But I guess its not that simple... a PMP version does not have to be associated with a particular version of UVCDAT, and I presume that with cdms etc now having become independent means we probably do ne

[2016-11-05 16:44] durack1 commented on #403
@gleckler1 `nightly` changes everything, as everything is then undetermined..

I can trap anything listed above with relative ease - it was easy to find this, the format is fixed so extracting info should be straight forward

[2016-11-16 10:01] jservonnat opened #449 "Can't run the PMP demo on the default version from conda"
@doutriaux1 @gleckler1 @durack1 I can't run the pmp_demo_1.py on a freshly installed PMP.
I do:
[code]
And then try to run:
[code]
Is it working on your side?

[2016-11-16 10:24] jservonnat commented on #449
Not working neither on my laptop nor on Ciclad (IPSL server).
I'm using Python 2.7.12 |Anaconda 4.2.0 on both sides.

[2016-11-16 13:04] jservonnat commented on #449
Ok apparently it is coherent with #447.
We can close it in this case (after your confirmation)

[2016-11-16 15:16] doutriaux1 commented on #449
@jservonnat I updated the Linux side of uvcdat you probably need:
[code]
Note that we now need conda-forge channel

[2016-11-16 16:11] jservonnat commented on #449
@doutriaux1 it does work on Ciclad. Thank you!
But it still doesn't make it on my Mac laptop (using the same command line). Any suggestion?

[2016-11-16 16:33] gleckler1 commented on #449
I doubt the demo will work with the changes we have made to the json files.   We have not been putting any real effort yet into documentation of demos since our
emphasis is currently on advancing our framework and working directly with those who are already using the package.

From: jservonnat <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.gi

[2016-11-16 16:37] jservonnat commented on #449
@gleckler1 ok but actually the test is successful on Ciclad. Which is a good news regarding your comment ;).
I still have issues with the threads but we are on it with @doutriaux1.

[2016-11-16 16:45] jservonnat commented on #449
@doutriaux1 @gleckler1 breaking good news: the PMP updated with the nightly channels does pass the test on my Mac.
But we still have the thread issue. We really need to fix it (I can't work on Ciclad because of that).

[2016-11-16 16:53] durack1 commented on #449
@jservonnat I was hitting a thread issue with a pre-2.8 version of UV-CDAT, the changes in https://github.com/UV-CDAT/uvcdat/commit/910814b19996f074adeb341575b9c4b0fabfcb3b fixed things for me.. You might want to check that your `cdat_info.py` that is being installed has the amendments in the change above

[2016-11-16 17:01] doutriaux1 commented on #449
@jservonnat I'm preparing the mac build as we speak should be ready in an hour or so.

[2016-11-17 18:17] doutriaux1 commented on #449
@jservonnat are you good now?

[2016-11-18 10:03] jservonnat commented on #449
@doutriaux1 almost, there is (from what I've tested) only one error left:
[code]
The module bias_xy.py is actually named bias.py in pcmdi_metrics/pcmdi. I've renamed it and it works now. You can close it as soon as you've renamed pcmdi_metrics/pcmdi/bias.py by pcmdi_metrics/pcmdi/bias_xy.py .

[2016-11-18 16:13] durack1 commented on #443
@doutriaux1 just spoke with @gleckler1 and he bumped this one up to top priority.. With #423 (nightlies) as next in line

[2016-11-18 17:46] gleckler1 commented on #443
@doutriaux1 @durack1 note the add on info.... keeping track of whether or not a mask needed to be automatically generatted

[2016-11-21 15:13] doutriaux1 commented on #449
not sure what you got, in master i see:
https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/bias_xy.py

[2016-11-21 15:17] doutriaux1 commented on #443
@gleckler1 in json? Or do you also want some kind of info stored in NC file?

[2016-11-22 15:55] jservonnat commented on #449
@doutriaux1 pretty weird indeed... I've also realized that I don't get the PMP parser, although it's on github (neither on my mac nor on Ciclad).
Do you guys have the same issue?

[2016-11-22 16:06] doutriaux1 commented on #449
looks like you trashed your git env, I would clone fresh

[2016-11-22 16:09] jservonnat commented on #449
I'm only doing conda but is git coming into play?

[2016-11-22 16:31] durack1 commented on #449
@jservonnat I've had to rebuild my anaconda environment a few times now.. It seems that once you've created a number of separate environments and then updated these things get out of sync (anaconda sets up links between all these different versions across environments).

The way I have solved these issues, is to rename the anaconda dir, and then completely reinstall anaconda, and then build new en

[2016-11-22 16:59] doutriaux1 commented on #449
@jservonnat if you accidentally install pmp into your "root" env of conda (it happened last week to @glekcler1 ) then you're hosed, try removing your CONDA_PREFIX/lib/python2.7/site-packages/pcmdi*

C.

[2016-11-23 10:32] jservonnat commented on #449
@durack1: I've re-installed anaconda2 on both my Mac and Ciclad, then installed the PMP with:
[code]
I've checked before and after updating the PMP with:
[code]
And still no pmp_parser.py in pcmdi_metrics/pcmdi (actually, nowhere else).

@doutriaux1: I've looked at my /home/jservon/anaconda2 (root) but no pcmdi* module in lib/python2.7/site-packages/

Of course I can technically get the source cod

[2016-11-23 15:23] jservonnat commented on #449
And I don't have the JSONs class neither in pcmdi_metrics/pcmdi/io.py...
What am I doing wrong?

[2016-11-23 21:38] durack1 commented on #449
@jservonnat the JSON class is in [src/python/io/base.py](https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/io/base.py#L188-L200)

Can you confirm that you are installing the [linux-64/pcmdi_metrics-2016.10.20-0.tar.bz2](https://anaconda.org/PCMDI/pcmdi_metrics/files) file on linux, or equivalent OSX version? Anything before this will not likely include what you want to use

[2016-11-23 21:41] durack1 commented on #449
@jservonnat when I try with your command line above, I'm sourcing the `1.1.1` release:
[code]

[2016-11-23 21:41] durack1 commented on #449
@jservonnat this will get you there:
[code]

[2016-11-23 22:14] doutriaux1 commented on #449
@durack1 I believe the issue here is that @jservonnat installed an older version of `pmp` in his `root` env which seems to superseed whatever env he creates now.

[2016-11-24 01:27] durack1 commented on #449
@doutriaux1 the examples below should sort him out.. This make me think we need to push a `1.2.0` or similar to the main channel soon

[2016-11-24 08:40] jservonnat commented on #449
@doutriaux1 apparently not... I've checked in both of my root and there is no pcmdi* module:
[code]
@durack1 your command actually works for me ;). There is a subtile difference between what I was doing and what you do: I use to request "-c uvcdat/label/nightly" and you ask for "-c uvcdat". The
difference between both is that with the uvcdat/label/nightly you get:
[code]
And with -c uvcdat you get

[2016-11-24 08:45] jservonnat commented on #449
@doutriaux1 @durack1 @gleckler1 And by the way, should the conda default version be in line with the github master? In other words, do you expect the installation protocole described in the wiki to get you the same code as what can be seen on the github master? Because it is not what happens for me...

[2016-11-24 09:01] zshaheen commented on #449
@jservonnat @doutriaux1 @durack1 @gleckler1 The code on the master branch is sometimes in a flux, thus is make sense for the default installation to be a stable version of pmp. If the user does want the latest code from the github master, all they need to go is look on the link below and get the latest code from there:  [https://anaconda.org/PCMDI/pcmdi_metrics/files](https://anaconda.org/PCMDI/pc

[2016-11-24 09:27] jservonnat commented on #449
@zshaheen indeed ;), I've noticed that I was installing a version 2016.11.21-0 on my linux machine (it is still the 2016.10.20-0 on my mac but I guess there are good reasons for that). Congratulations and many thanks for the nightly!
Thank you also for the explanation, it is clear now.
@doutriaux1 @durack1 @gleckler1 @zshaheen It might be worth clarifying the documentation on the wiki page on the

[2016-11-27 22:15] durack1 commented on #449
@jservonnat are we good to close this now?

[2016-11-28 13:17] jservonnat commented on #449
@durack1 Yes we can!

[2016-11-28 13:17] #449 closed

[2016-12-02 03:19] durack1 opened #454 "regrid2 and matplotlib appears to be missing from the PMP nightly builds"
I've just been reviewing the packages that are shipped with the current [`nightly-2016.10.20-0`](https://anaconda.org/PCMDI/pcmdi_metrics/files), it seems that somehow we're missing regrid2.

The installation below was generated using:
[code]

And the install includes:
[code]

[2016-12-02 03:48] durack1 commented on #403
@gleckler1 I have the following functioning well on `osx`:
[code]
I will test this on `linux` and if we all check out, we have fleshed out `*.json` histories to append

[2016-12-03 01:29] gleckler1 commented on #403
@durack1 Looking good.   Lets talk on travel about PMPVersion and PMPObsVersion....

[2016-12-03 01:34] durack1 commented on #403
@gleckler1 `PMPObsVersion` was *meant* to be a blank string..

[2016-12-06 14:40] durack1 commented on #454
@doutriaux1 @zshaheen it seems `matplotlib` is also missing, these both need to be added back in..

[2016-12-06 14:43] durack1 commented on #423
@zshaheen in addition to the `linux-64` nightlies, can you also add in `osx-64` nightlies? Most of the development is occurring on `osx-64` so having these available alongside the linux will be very useful..

[2016-12-06 14:55] doutriaux1 commented on #454
@durack1 matplotlib only?

[2016-12-06 14:58] gleckler1 commented on #454
@doutriaux1 xmgrace or qtgrace

[2016-12-06 15:00] doutriaux1 commented on #454
I don't think that exists on conda @gleckler1 and we really really need to avoid using this any longer. I thought you moved on to matplotlib, no?

[2016-12-06 15:00] doutriaux1 commented on #454
@durack1 see: https://github.com/PCMDI/pcmdi_metrics/pull/455

[2016-12-06 15:02] gleckler1 commented on #454
@doutriaux1 https://anaconda.org/uvcdat/xmgrace

[2016-12-06 15:04] durack1 commented on #454
@gleckler1 this is just a library that calls a local install.. Which is a hard thing to find these days.. It's not easily located for `osx` or linux.. I haven't scoured conda or other repos however..

[2016-12-06 15:09] doutriaux1 commented on #423
@durack1 it's my fault, we need to get mac and linux in agreement first (otherwise the suite will fail for one at the moment.
@zshaheen we do need to build the nightly for linux no X support though (thst's where the meta.yaml.in comes in) look at my .travis for vcs

[2016-12-06 15:20] gleckler1 opened #456 "better alternative to argparse?"
@doutriaux1 @zshaheen  Before we commit 100% to argparse for everything, should we consider http://docopt.org ?

[2016-12-06 15:58] doutriaux1 commented on #456
Argparse is official python, I'd rather limit the dependencies, but @zshaheen please take a look if there's any missing feature in argparse that we could absolutely use let me know.

[2016-12-06 16:03] durack1 commented on #456
https://realpython.com/blog/python/comparing-python-command-line-parsing-libraries-argparse-docopt-click/ - this seems to discuss many of the options, including argparse and docopts.. Although it is 2015..

[2016-12-06 18:12] zshaheen commented on #456
I've look through docopt and it's just an easier way to do the stuff that argparse does, specifically using doc strings. docopt also has it's own rules for things and that just makes people using it need to know more stuff.

Unless there's something missing in how we parse stuff, I think the default argparse is the best. If we did choose another argument parsing library, we'd need to add it to cdp

[2016-12-06 18:43] zshaheen opened #457 "Travis uploads to Anaconda on non-master branches"
There was no commit to master today 12/06/2016, yet the 2016.12.06 version seen [here](https://anaconda.org/PCMDI/pcmdi_metrics/files) was uploaded at 07:11 AM.

When Charles submitted the PR for #455 , Travis tested the merge on master [here](https://travis-ci.org/PCMDI/pcmdi_metrics/builds/181679117) so it upload to Anaconda, without anyone accepting the pr.

@doutriaux1 is this okay?

[2016-12-06 18:55] zshaheen commented on #423
@doutriaux1 Doesn't your `.travis.yml` for vcs already do what we do for pmp? I see that you're testing on linux and osx, but looking at your `conda_upload.sh` you only upload to Anaconda for linux. For pmp, we just test and upload on linux. In the end, only the linux builds are being uploaded.

@durack1 @doutriaux1 We can have the osx nightly being upload without testing. This is not ideal, but i

[2016-12-06 19:09] gleckler1 commented on #456
@doutriaux1 @durack1 @zshaheen  OK, thanks for looking.  Shelved.

[2016-12-06 19:09] #456 closed

[2016-12-06 19:10] durack1 commented on #423
@zshaheen @doutriaux1 we need to solve these test issues - what do we need to address this?

[2016-12-06 19:15] gleckler1 commented on #446
Now in master

[2016-12-06 19:17] gleckler1 commented on #439
@jservonnat  Now in master

[2016-12-06 19:17] #439 closed

[2016-12-06 19:18] durack1 commented on #454
@doutriaux1 we also need `regrid2`, having both `ESMF` and `regrid2` will be useful..

Here's what I get with the latest nightly (note no `regrid2`, though we do get `matplotlib`):
[code]

[2016-12-06 20:13] durack1 commented on #454
@doutriaux1 @zshaheen just a comment, it looks like the dependencies have blown out considerably too - what is `harfbuzz`, `pango`, `wheel`, `certifi-2016.9.26` etc etc

[2016-12-06 20:28] doutriaux1 commented on #454
regrid2 is part of cdms2 now

[2016-12-06 20:29] doutriaux1 commented on #454
dependencies come from matplotlib

[2016-12-06 20:33] doutriaux1 commented on #454
actually i guess no since you do not have it in

[2016-12-06 20:34] durack1 commented on #454
`regrid2` exactly @doutriaux1 that was the original reason for this issue

[2016-12-06 20:36] doutriaux1 commented on #454
yes `regrid2` is part of `cdms2` now (as of `2.8`)

[2016-12-06 20:42] durack1 commented on #454
@doutriaux1 and yep I've just confirmed that through testing the `nightly` install above, so closing this issue

[2016-12-06 20:42] #454 closed

[2016-12-09 00:07] durack1 opened #458 "test suite isn't reporting correctly"
I just took a look at the latest log from the `master` build and the tests are not finding data, yet they are not reporting test errors:

https://travis-ci.org/PCMDI/pcmdi_metrics/builds/181746675#L1066

This is an issue in the reliability of the test suite

[2016-12-09 02:41] doutriaux1 commented on #458
what are you talking about?

i see the ldsea mask not being found but that's normal. I don't see anything weird in this log.

[2016-12-09 02:41] #458 closed

[2016-12-09 03:04] durack1 commented on #458
@doutriaux1 you don't think the `cdms I/O error` At L1066 isn't weird? It's indexing a non-existent file

[2016-12-09 04:12] durack1 commented on #403
@doutriaux1 @gleckler1 here is what I have working now, it's working consistently on `OS-X` and `linux` and reports whether a `PMP` install is present or not.. I plan to wedge this into the `src/python/io/base.py` as a new function
[code]

[2016-12-12 21:01] durack1 commented on #403
@doutriaux1 pinging you here.. I'm going to need some feedback from you.. The code is in the [issue403_durack1_AugmentPMPTraceablityFromSource](https://github.com/PCMDI/pcmdi_metrics/blob/issue403_durack1_AugmentPMPTraceablityFromSource/src/python/io/test.py) branch

[2016-12-15 15:46] jservonnat commented on #443
@gleckler1 @doutriaux1 @durack1 following this discussion I might have a feedback related with those issues of land/sea masks.
We are currently working with Patricia Cadule from IPSL (she has just started to use the PMP) to compute metrics on the Gross Primary Productivity (gpp). I naturally set "gpp":["land"] in regions:
[code]
And here is the error I get:
[code]
We do not provide a mask and set

[2016-12-15 16:26] jservonnat commented on #443
I've just checked on other variables (tas, pr...), and I confirm that I can't get either 'ocean' or 'land' (with generate_sftlf = True).

[2016-12-15 17:21] gleckler1 commented on #443
@doutriaux1 @jservonnat  Not obvious if its the PMP software or something not quite right in your parameter file.    The whole point of the generate_sftlf is to be able to get land or ocean values and its been working fine.   Need to track down why its not working for tas and pr before trying a new variable.

[2016-12-15 17:43] doutriaux1 commented on #443
I think that might be a numpy 1.11 issue pinging @nadeau4

[2016-12-15 17:43] jservonnat commented on #443
@gleckler1 @doutriaux1 Here is the content (without comments) of my param file:
[code]
Do you see something wrong in there?

[2016-12-15 17:44] jservonnat commented on #443
@doutriaux1 then you suggest to update numpy (or at least force version 1.11)?

[2016-12-15 17:49] doutriaux1 commented on #443
no I think it's because we updated to numpy 1.11 you can try to re-install the metrics with:
`conda create -n BLAH -c conda-forge -c uvcdat uvcdat-nox numpy=1.9`

Let me know

[2016-12-15 17:52] jservonnat commented on #443
@doutriaux1 Ok I'll do this.

[2016-12-16 00:43] dnadeau4 commented on #443
I  wiki be looking at it after AGU meeting.

[2016-12-16 10:23] jservonnat commented on #443
@doutriaux1 I've checked today and it doesn't fix the problem for me (same error).
@gleckler1 @durack1 @doutriaux1 you guys do not have the same problem with the latest version of the PMP?

[2016-12-19 20:57] durack1 commented on #403
@doutriaux1 pinging you here.. I'm going to need some feedback from you.. The code is in the [issue403_durack1_AugmentPMPTraceablityFromSource](https://github.com/PCMDI/pcmdi_metrics/blob/issue403_durack1_AugmentPMPTraceablityFromSource/src/python/io/test.py) branch

[2016-12-19 21:18] doutriaux1 commented on #403
@durack1 I like this. I need to see where you get cdutil/genutil etc info from since they will soon each have their own independent versioning.

[2016-12-19 21:19] doutriaux1 commented on #403
i like the osRootAccess bit

[2016-12-19 21:20] doutriaux1 commented on #403
@durack1 I wonder if we should store somewhere (separate section in json files?) the whole `conda info` and `conda list`

[2016-12-19 21:23] durack1 commented on #403
@doutriaux1 take a peek at https://github.com/PCMDI/pcmdi_metrics/blob/issue403_durack1_AugmentPMPTraceablityFromSource/src/python/io/test.py - that's just the test script.. We need to wedge this into base.py I think

[2016-12-19 22:44] durack1 commented on #403
@doutriaux1 the way this info is grabbed, is from each of the packages that `conda` installs, so if you install a nightly from one channel that is listed, only releases from another, it all should be captured.. It does however assume that a standard syntax is followed, which I assume is what the conda upload enforces..

Over to you to implement and roll into the package? Or is there more work to d

[2016-12-20 02:13] doutriaux1 commented on #403
I think it's good, short of moving the defs into the proper pkg and all that.

[2016-12-20 02:20] durack1 commented on #403
@doutriaux1 well can I leave this up to you.. I did start a new function definition in the `Base class` in [`base.py`](https://github.com/PCMDI/pcmdi_metrics/blob/issue403_durack1_AugmentPMPTraceablityFromSource/src/python/io/base.py#L118-L167) but the contents of `test.py` need to be pulled back across..

[2016-12-21 05:02] doutriaux1 commented on #403
sure no problem.

[2017-01-04 14:13] jservonnat commented on #446
@gleckler1 @durack1 I found the rmsc_xy but not the rmsc_xyt (on the annual cycle) in the results. The LMD people are particularly interested in this rms_xyt, rmsc_xyt and bias_xy (ann) trio of metrics. Do you have a scientific reason for not adding it to the list of metrics? Or should I simply add it myself?

And by the way, we use 'ann' to describe the annual mean and the annual cycle; I know we

[2017-01-04 15:57] jservonnat commented on #444
@gleckler1 @doutriaux1 @durack1 @danlipsa Back on this issue... this time re-installing anaconda2 (even taking the latest 4.2.0 version) and the PMP didn't make it. I get the same error whatever the version/install of anaconda and PMP:
[code]
Last time it worked was on November 25. We've had a server maintenance since then.
Should I contact the server management team? Or you guys have the same iss

[2017-01-04 16:30] doutriaux1 commented on #444
@jservonnat use the "nox" version please. I'll contact kitware about this. @danlipsa

[2017-01-04 17:08] jservonnat commented on #444
@doutriaux1 I've followed your advice in two different ways.

First, I kept my anaconda2 install that was working in November and created a new install PMP_nightly-nox:
[code]
But it didn't solve the problem.

Then I've tried to restart from a new anaconda2 (4.2.0). This time, the problem is that I don't get an old version of the PMP (2016.10.20):
[code]
Where apparently the latest nightly version

[2017-01-04 17:11] doutriaux1 commented on #444
I'm guessing you inadvertently install vcs (no nox) into your root conda
try:
[code]
see if it lists vcs/cdms or any of our stuff

[2017-01-05 00:17] gleckler1 commented on #446
@jservonnat We can certainly add these.   The only reason they are not in there now is that they have not recently used them.   GREAT if you add them yourself, but not just to your local installation but as a pull request... that would be great practice!   If you do that, we'll push them to master quickly.   If you don't do it, or still don't have permission to make a pull request, then... well...

[2017-01-05 00:18] gleckler1 commented on #444
@jservonnat @doutriaux1  Resolved yet?

[2017-01-05 08:16] jservonnat commented on #444
@gleckler1 nope, last time we did solve the problem with reinstalling anaconda and the PMP but this time it doesn't work.

[2017-01-05 14:34] durack1 commented on #444
@jservonnat this looks to me like a garbled X11 environment, you **should** be able to install a version of the driver file locally and add it to your path.. that should get you working while a more permanent solution is found.. TigerVNC is a package that provides the pre-compiled driver

[2017-01-05 15:42] durack1 commented on #444
@jservonnat the `swrast_dri.so` file is what I have used before, it's found at `usr/lib64/tigervnc/dri/swrast_dri.so` and can be downloaded in the `tigervnc-1.7.0.x86_64.tar.gz` archive downloadable from https://bintray.com/tigervnc/stable/tigervnc/1.7.0. I configure the full VNC environment for visual interactivity, if this is configured correctly (and is on your path) the software should use it

[2017-01-05 16:03] doutriaux1 commented on #444
but if you're using the nox the vnc server does not matter at all...

[2017-01-05 16:07] doutriaux1 commented on #444
@jservonnat ok please do `ls -l /home/jservon/anaconda2/lib/python2.7/site-packages`

thanks

[2017-01-05 16:21] durack1 commented on #403
@doutriaux1 the issues described in #444 appear to be reappearing often, should some graphics diags be added into the above? It'd also be good to implement this s ASAP, as we want to tag a new release soon

[2017-01-05 17:03] durack1 commented on #403
@doutriaux1 how about this:
[code]

[2017-01-05 17:05] durack1 commented on #444
@jservonnat how about you do this - my guess is that you don't have a valid install/environment, so you need to update your environment (nag sys admins).. Either that or ungarble your install, the `nox` versions don't use X11, so you've got something confused somewhere:
[code]

[2017-01-06 18:32] doutriaux1 opened #459 "json class does not update json_struct after finding it in json file"

[2017-01-06 19:34] doutriaux1 opened #461 "conda package uploaded for every PR even if branch is not master"
see: https://travis-ci.org/PCMDI/pcmdi_metrics/builds/189601037

[2017-01-06 19:44] durack1 commented on #461
@doutriaux1 nice!! This relates to #457, #423, #412, kinda #380 (this needs the `OS X` vs `linux` problem fixed - also #303), so when it's locked down and has the **robust** tag firmly assigned these semi-dupes may need closing too

@gleckler1 ping

[2017-01-06 19:49] doutriaux1 commented on #461
yes if @zshaheen doesn't get to it first, I'll make sure it only uploads for master branch, not every PR.

[2017-01-06 20:00] zshaheen commented on #461
@doutriaux1 If feel like this is unavoidable, since when doing a PR, git will always try to merge with master to see if there are any conflicts and then test the code on Travis. Like @durack1 mentioned, this this exactly the same issue I had in December, see #457.

[2017-01-06 20:28] doutriaux1 commented on #461
@zshaheen now it never gets build because travis only builds on PR now... Let me change that back.

[2017-01-06 21:47] #459 closed

[2017-01-07 18:09] durack1 commented on #403
@doutriaux1 are we good to close this?

[2017-01-10 23:32] gleckler1 commented on #403
@durack1 @doutriaux1  This is working great!

[2017-01-10 23:52] durack1 commented on #403
@gleckler1 good to know.. got a demo file to share here?

[2017-01-11 00:03] durack1 commented on #403
@doutriaux1 will these provenance changes cause any issues with the tests? It seems from the quick check I undertook that only `UV-CDAT` and `PMP` version is recorded in the files I checked..

[2017-01-11 00:11] durack1 commented on #444
@jservonnat are you back up and running? If yes we'll close this issue

[2017-01-11 00:42] gleckler1 commented on #425
@zshaheen @doutriaux1 The PMP parser needs to be included as part of the PMP to facilitate how we are trying to integrate different metrics.   Sure it can be installed separately but having it included will greatly facilitate the modification of the default arguments shown on
https://github.com/PCMDI/pcmdi_metrics/wiki/PMPParser
Can we include it now?

[2017-01-11 00:57] gleckler1 commented on #403
An example with monsoon metrics...
"provenance": {
        "platform": {
            "OS": "Linux",
            "Version": "2.6.32-642.6.1.el6.x86_64",
            "Name": "oceanonly.llnl.gov"
        },
        "userId": "gleckler1",
        "osAccess": false,
        "commandLine": "mpi_compute.py -mp /work/gleckler1/processed_data/cmip5clims_metrics_package-historical/pr_MODS_Amon_historical_r1

[2017-01-11 01:23] zshaheen commented on #425
@gleckler1 It's in all of the nightly releases after October 18. So a person would need to do `conda install pcmdi_metrics=SOME_NIGHTLY -c conda-forge -c pcmdi` instead of the more direct `conda install pcmdi_metrics -c conda-forge -c pcmdi`. We would need to release a new version of pcmdi_metrics (v1.2?) so there would be no need to put in a version number.

[2017-01-11 01:52] durack1 commented on #403
@gleckler1 ok great, it looks like it's working as spec'd.. There are a couple of duplicate entries (the `openGL` fields) but otherwise looks good.. I'd be curious to see the output on `OS X` if you also have a dev environment there.. As I said I tested in my `linux` and `OS X` envs, but it's good to see this working across environments

@doutriaux1 the `openGL` duplicate should probably be cleane

[2017-01-11 02:03] gleckler1 commented on #425
@zshaheen I"ve been doing that.   What I'm looking for is having the default arguments (https://github.com/PCMDI/pcmdi_metrics/wiki/PMPParser) in **master on github** so that it is easier for us to modify them.

[2017-01-11 02:46] zshaheen commented on #425
@gleckler1 sure, I'll talk to @doutriaux1 about this. We'll get to accepting that pull request too also.

[2017-01-11 15:47] doutriaux1 commented on #403
@durack1 the test passes. So the eanswer to your question is no.

[2017-01-11 15:48] doutriaux1 commented on #403
@durack1 there is no duplicate, one is the client one is the server

[2017-01-11 19:02] durack1 commented on #403
@doutriaux1 it seems to me that there is a dupe:
[code]

[2017-01-11 19:29] gleckler1 commented on #443
@jservonnat @doutriaux1  JS you've mixed issues... this issue (see origin) is for CD to add a "mask" layer to the mean climate json structure with options "all", "land", "ocean", "**land-estimated**" or "**ocean-estimated**" ... depending on whether a automatically generated mask was used... This is labeled at PRIORITY1 ...

With regard to you not being able to use masked data, as you described ab

[2017-01-11 19:29] gleckler1 commented on #444
@jservonnat what is the status of this?

[2017-01-11 21:35] doutriaux1 commented on #403
[code]

glxinfo gives us all 3. I'm fine with eliminatiing the one you don't like

[2017-01-11 21:37] durack1 commented on #403
@doutriaux1 do you think this is dupe info? If yes then I think purge the "GLX version" otherwise just ignore my comment and close this issue

[2017-01-11 22:18] doutriaux1 commented on #403
@danlipsa do you think we need to store all 3 or just glx_server and glx_client versions? You're more familiar with this. Also do you think of any extra information about openGL we should store (for debugging purposes)

[2017-01-11 22:20] durack1 commented on #403
@danlipsa I'd extend on that question, are there any other diagnostics for `linux` and `OS X` either together or separately that would be good to catch so we can more easily diagnose issues rather than having to query users for additional diagnostics?

[2017-01-11 22:42] danlipsa commented on #403
@doutriaux1 I would say to save all output from glxinfo. Vendor, openGL and driver versions are also important and less so the extensions. I don't know what GLX Visuals are.  Besides that OS vendor and version (distribution version) (uname -a). @aashish24 anything else? I've seen people send a stack trace but I don't know how to generate/use something like this to debug the code.

[2017-01-11 23:21] doutriaux1 commented on #403
@danlipsa glxinfo input is just too long to be stored into EVERY output (~500 lines)
right now this is the provenance we store:
[code]

@aashish24 yes please chime if you can think of any other usefull info about the user env we should save

[2017-01-12 13:59] jservonnat commented on #444
@gleckler1 I still have to work on that... sorry for the delay...

[2017-01-12 15:12] doutriaux1 commented on #415
@gleckler1 I think we can close this one now. Correct?

[2017-01-12 15:39] gleckler1 commented on #415
@doutriaux1 Yes, but to advance the solution we need to have the PMPparser as part of the PMP master on github so that we can efficiently advance the common/default arguments (https://github.com/PCMDI/pcmdi_metrics/wiki/PMPParser)

[2017-01-12 15:42] gleckler1 commented on #443
@doutriaux1 After getting the PMPParser (but NOT yet the rest of the CDP) into the PMP's master on github  this issue (see beginning) is still "Priority 1"

[2017-01-12 15:53] doutriaux1 commented on #443
@gleckler1 will work on this today. @zshaheen is dealing with the parser issue.

[2017-01-12 15:54] doutriaux1 commented on #415
@zshaheen I think we can merge this in today, correct? @zshaheen isn't the Parser already in?

[2017-01-12 16:13] zshaheen commented on #415
@doutriaux1 yes, the parser is in, but not under a main release on conda. So you have to download a nightly to use it.

[2017-01-12 16:16] gleckler1 commented on #415
@zshaheen @doutriaux1  We need the parser **in the PMP github master.**   Can you do a pull request for just the parser, NOT the rest of the CDP?

[2017-01-12 16:19] jservonnat commented on #444
@doutriaux1 Here is what you asked:
[code]

[2017-01-12 16:21] zshaheen commented on #415
But it is in master. See here: https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/pmp_parser.py

I think you want it where a user doesn't need to install CDP, is that correct?

[2017-01-12 16:22] jservonnat commented on #444
And @durack1 here is what you asked:
[code]

And apparently this is coming from this issue. I will try to replace my swrast stuff as you say.

[2017-01-12 16:44] doutriaux1 commented on #415
@zshaheen I think @gleckler1 didn't realize he could already use it in his branch

[2017-01-12 16:45] doutriaux1 commented on #415
@zshaheen can you point @gleckler1 to your wiki page on how to use this for his driver

[2017-01-12 17:02] jservonnat commented on #444
@durack1 Sorry I'm really bad at this game... I want to be sure that I am doing it right:
- I've downloaded and untared tigervnc-1.7.0.x86_64.tar.gz on my /home/jservon
- I've added to my PATH: /home/jservon/tigervnc-1.7.0.x86_64/usr/bin:/home/jservon/tigervnc-1.7.0.x86_64/usr/lib64
And at the moment, it doesn't fix the problem (same error).
I've seen that there are some .exe on the webpage you po

[2017-01-12 17:07] doutriaux1 commented on #444
@jservonnat let's schedule a goto meeting later today and like this I can see your screen it will be easier. What's the latest you can do this?

[2017-01-12 17:14] gleckler1 commented on #415
@zshaheen @doutriaux1 OK, I think I'm getting it.  Its in master, but only in the nightly conda build (not the v1.1 release).   Do I have the process (below) right for making changes?

From a nigthly conda env, I go to ~/git/pcmdi_metrics, create a branch to modify the default CDP parameters in (~git/pcmdi_metrics/src/python/pcmdi/pmp_parser.py), push it, make a pull request, and once that gets ac

[2017-01-12 17:14] jservonnat commented on #444
@doutriaux1 Unfortunately I will leave in less than one hour...
Ok to setup an appointment in the coming days to fix it. What about Monday or Thursday next week?

[2017-01-12 17:25] doutriaux1 commented on #415
it should be, assuming @zshaheen to get the automatic nighlty build is in as well.

[2017-01-12 17:33] doutriaux1 commented on #444
thursdays are best for me since it's my pcmdi day. But it's a bit far off. Any chance I can get an account on the machine before that so I can try it?

[2017-01-12 17:36] jservonnat commented on #444
I think it's doable but still you won't have the permissions on my account...
What about friday tomorrow (even late in the day)? We already have an appointment with Pete

[2017-01-12 17:37] zshaheen commented on #415
@gleckler1 Here's the page on how to use the parser, which I think you already have: https://github.com/PCMDI/pcmdi_metrics/wiki/PMPParser

This is how the driver will work, once we accept the pull request (after modifications to account for the changes after late November): https://github.com/PCMDI/pcmdi_metrics/wiki/PMP-using-CDP-Guide

@gleckler1 yes, your statement is correct.

@doutriaux1 I g

[2017-01-12 18:04] doutriaux1 commented on #444
i'm off tomorrow... What time though I might be able to squeeze it in.

[2017-01-12 18:13] gleckler1 commented on #415
@doutriaux1 @zshaheen  Thanks...  using the parser rnow (e.g., https://github.com/PCMDI/pcmdi_metrics/blob/334_monsoon_wang/src/python/devel/monsoon_wang/scripts/mpi_compute.py)...  finessing and augmenting the default options will be how we work towards unifying different metrics.

[2017-01-12 18:18] gleckler1 opened #464 "strategy for organizing graphics functions in devel..."
@doutriaux1  Making progress with a series of branches that include new metrics in, for example, devel/monsoon/scripts and devel/monsoon/lib.    We need to decide how best to partition analysis (metrics) codes from graphics fcns.   Question: when developing a plotting routines, should they go in devel/monsoon/scripts and devel/monsoon/lib or devel/monsoon/scripts and devel/monsoon/graphics ?

[2017-01-12 18:35] durack1 commented on #464
@gleckler1 at the moment you have [/src/python/graphics](https://github.com/PCMDI/pcmdi_metrics/tree/master/src/python/graphics) which contains all graphic (the portrait.py) functions, and [/src/python/pcmdi](https://github.com/PCMDI/pcmdi_metrics/tree/master/src/python/pcmdi) that contains all the metrics calculation functions.. To me I think having these separated (graphics from calcs) is a good

[2017-01-12 18:42] zshaheen commented on #457
Fixed in #465. Merged into master now

[2017-01-12 18:42] #457 closed

[2017-01-12 18:43] zshaheen commented on #415
@doutriaux1 @gleckler1 Nightly uploads are now working. It'll only upload the pull requests when they get accepted into master, not before.

[2017-01-12 18:45] zshaheen commented on #461
@doutriaux1 This was fixed in #465, which has now been merged into master.

[2017-01-12 18:45] #461 closed

[2017-01-12 18:46] gleckler1 commented on #464
@doutriaux1 @durack1  Its a 2 part question... the first is where to put graphics in "devel" branches ... we want to do this consistently to ease how its dealt with in setup.py... 2nd question is where do we them to go in master when merged.   I think PD's suggestion is part 2.

[2017-01-12 18:49] durack1 commented on #444
@jservonnat the output from `glxinfo` above indicates that your linux environment (and not the anaconda/metrics environment) is having issues.. It's not part of Anaconda, rather it's the linux system stuff itself. Have you raised a query with the local IT folks about this?

[2017-01-12 18:49] zshaheen commented on #423
Conda nightlies are now created in #465, which is now in master. The issue with non-osx nightlies is a separate issue, since we need to get the tests working on osx first.

[2017-01-12 18:49] #423 closed

[2017-01-12 18:50] zshaheen commented on #412
Conda nightlies are now created in #465, which is now in master.

[2017-01-12 18:50] #412 closed

[2017-01-12 19:20] durack1 commented on #412
@zshaheen this is great thanks!

[2017-01-12 19:44] danlipsa commented on #403
@doutriaux1 Nice! I think the linux distribution would be useful as well:
https://www.cyberciti.biz/faq/find-linux-distribution-name-version-number/

[2017-01-12 19:50] durack1 commented on #403
@doutriaux1 for redhat we get:
[code]
For ubuntu 16.04 you get:
[code]
Not sure what other options there would be for SuSE, CentOS, ...

[2017-01-12 21:30] durack1 commented on #464
@gleckler1 just to comment (you're actually doing this, I'm just commenting) would it be smart to have a complete directory tree under devel, so [src/python/devel/monsoon_wang](https://github.com/PCMDI/pcmdi_metrics/tree/334_monsoon_wang/src/python/devel/monsoon_wang) and then under this directory duplicate the "functions" and "graphics" directories, that would then be folded back into the master

[2017-01-12 21:36] gleckler1 commented on #464
@durack1 @doutriaux1 Thats what I'm thinking.

[2017-01-12 21:50] doutriaux1 commented on #464
scripts go in scripts, that's easy
now all code should go under lib at that point you have 3 choices
if it's tiny put in graphics.py under monsson/lib
if it's so big you need to break it then put it inside directory: monsoon/lib/graphics/files.py
if it's going to be used by many many branches then put it under src/python/graphics

[2017-01-12 21:56] gleckler1 commented on #464
@durack1 @doutriaux1   How do you define "tiny"  or "so big" ?
Can't we decide where they should go based on logic?
I don't have strong feeling how/where we do this, except I would like it to be sufficiently self describing by have all graphics under one tree rather than scattered about.

[2017-01-12 22:04] durack1 commented on #464
@gleckler1 I see two options, use directories to separate stuff.. Or use a naming convention that allows for this information to be gleaned from filenames.. Probably better to chat about this with a whiteboard..

[2017-01-12 22:25] doutriaux1 commented on #464
ok stick it in monsoon/lib/graphics/ directory

[2017-01-12 22:25] #464 closed

[2017-01-12 22:28] gleckler1 commented on #425
@zshaheen @doutriaux1  Thanks for this... done here for now...

[2017-01-12 22:28] #425 closed

[2017-01-16 08:50] jservonnat commented on #444
@durack1 not yet but I will if you suggest it ;)

[2017-01-18 01:52] durack1 commented on #444
@jservonnat this might be useful, see how far you get down the list.. http://www.linuxfromscratch.org/blfs/view/7.6/x/xorg-config.html

[2017-01-18 16:51] gleckler1 commented on #436
@jservonnat @doutriaux1 Sounds like we can close this for now

[2017-01-18 16:51] #436 closed

[2017-01-18 16:53] gleckler1 commented on #403
@durack1 @doutriaux1  Looks like a great step for a next release... shall we close this for now?

[2017-01-18 16:56] gleckler1 commented on #419
@durack1 @doutriaux1  The github wiki functionality is bulky and very limited.   Are you suggesting we migrate away from having PMP documentation on the wiki and migrate somehow to jupiter?   If yes, how do we get this started?

[2017-01-18 16:58] gleckler1 commented on #429
@doutriaux1  I think we circumvented this and stayed with json... correct?  If yes, lets close this.

[2017-01-18 16:59] durack1 commented on #419
@doutriaux1 @zshaheen I defer this question to you

[2017-01-18 17:00] durack1 commented on #403
@gleckler1 yes for the PMP purposes this is complete

[2017-01-18 17:02] doutriaux1 commented on #429
correct

[2017-01-18 17:02] #429 closed

[2017-01-18 17:03] doutriaux1 commented on #419
I think jupyter is good complement. anything tutorial should be done with jupyter (i.e anything involving python) . The Jupyter files still need to be hosted somewhere. We could use github.io to host the pmp website @mattben can help us to set this up it's not very hard.

[2017-01-18 17:28] zshaheen commented on #419
I agree with Charles. Jupyter is good for interactive documentation or documentation involving code. The wiki is probably best for static stuff like installing pmp, etc.

[2017-01-18 17:39] gleckler1 commented on #419
@doutriaux1 @durack1 @zshaheen @mattben  Will follow comp-sci lead, just one request... lets try to identify a sufficiently stable path that we can expect to last for a few years, ie, avoid any cutting edge solutions that require reinventing how we document things every 6 months.

I like this example which links jupiter files directly to the github site, circumventing the github wiki via the READM

[2017-01-18 17:45] gleckler1 commented on #419
@doutriaux1 @durack1 @zshaheen @mattben   I'm wondering if we move away from using the clunky wiki altogether and follow the above koldunovn example for documenting via the README.md

[2017-01-18 17:52] gleckler1 commented on #419
@doutriaux1 on same site, FYI....

http://nbviewer.jupyter.org/github/koldunovn/python_for_geosciences/blob/master/07%20-%20Other%20modules%20for%20geoscientists.ipynb

[2017-01-18 18:06] doutriaux1 commented on #419
@gleckler1 yes it's great for tutorials, we already have some for uvcdat see: http://uvcdat.llnl.gov/tutorials.html

[2017-01-18 18:09] doutriaux1 commented on #419
@gleckler1 @zshaheen @chaosphere2112 @mattben this nbviewer linking to github might be something we want to use.

[2017-01-18 18:16] gleckler1 commented on #419
@zshaheen @chaosphere2112 @mattben  @durack1  How does the overhead look, getting it set-up, maintaining, making it easy for tech-weak climate scientists to use, etc??

[2017-01-18 18:17] doutriaux1 commented on #419
I'll let @mattben take a look and let us know, he's the expert on this.

[2017-01-18 18:17] doutriaux1 commented on #419
@zshaheen you can tell us too, you're a young hipster as well.

[2017-01-18 18:23] mattben commented on #419
I've never used Jupiter notebook @chaosphere2112 is the one you want

[2017-01-18 18:27] doutriaux1 commented on #419
guys it's really easy simply point https://github.com/doutriaux1/pcmdi_metrics/tree/master/tutorials at: http://nbviewer.jupyter.org/ and it's done for you!

[2017-01-18 18:33] doutriaux1 commented on #419
result can be accessed at: http://nbviewer.jupyter.org/github/doutriaux1/pcmdi_metrics/tree/master/tutorials/

So basically there's no setup we simply need to create the url above that points to a git repo with ipython notebooks!

@williams13 @mattben @chaosphere2112 we should use this for our UV-CDAT ipython notebook tutorials, it's easier than what we have now! No need to generate nbconvert. Gra

[2017-01-18 18:34] doutriaux1 commented on #419
@mattben you should look into jupyter notebook with your other web skills that would be a really good plus.

[2017-01-18 18:36] doutriaux1 commented on #419
wow, i just discovered that actually github converts ipynb for you as well! This is really really slick see: https://github.com/doutriaux1/pcmdi_metrics/blob/master/tutorials/ParallelCoordinates.ipynb

[2017-01-18 18:37] gleckler1 commented on #419
@doutriaux1 Now you're talking!!

[2017-01-18 18:40] zshaheen commented on #419
After speaking to some of the guys, I think it's a good idea to transition to Jupyter. As @doutriaux1 showed, it's pretty simple to setup and use. We can have tons of tutorials if needed, especially with the current and forthcoming changes to the driver using cdp.

[2017-01-18 18:50] doutriaux1 commented on #419
Just set it up for uv-cdat, needs cleaning but look at:
https://github.com/uv-cdat/tutorials
and
http://nbviewer.jupyter.org/github/UV-CDAT/tutorials/tree/master/

[2017-01-26 15:11] gleckler1 commented on #443
@doutriaux1 Please this is from Oct and is still "priority 1" ... we need to add a layer to deal with masking just after regions (with options "all", "land", "ocean", "land-estimated" or "ocean-estimated")

Current
"json_structure": ["model", "reference", "rip", "region", "statistic", "season"],

CHANGE TO:
"json_structure": ["model", "reference", "rip, "region", "mask", "statistic", "season"],

[2017-01-26 16:20] doutriaux1 commented on #443
will do today

[2017-01-26 16:53] doutriaux1 commented on #443
@gleckler1 looking into this
right now we have regions defined as: "Nino3" should that become` {"Nino3":{"ocean":{blah}}}?`

[2017-01-26 16:55] doutriaux1 commented on #443
what do you want to call the `nomask` regions? What about in the future when the code allow to pass values such as `234` or unions of values ['234','235'] what the name of the mask should be?

[2017-01-26 16:59] doutriaux1 commented on #443
I'm not sure it's a great idea. "global","ocean","land" at the same level seem to make more sense than {"glob":{"nomask":{},'land':{},'ocean':{}}

Even for special caes like NH i think 'NH','NH_ocean' and 'NH_land' make as much sense as {'NH
:{"nomask":{},"land":{},"ocean":{}}

Beside with so many layers assuming with go with he extra "mask" layer, it might be better to structure as:
"json_structu

[2017-01-26 17:09] gleckler1 commented on #443
@doutriaux1 open to suggestions on how best to deal with json syntax.   But somehow, we need to trap info to distinguish if a mask was used, and if so, was it from a "predefined" mask (e.g., land/sea), or was it "estimated" via the PMP.

[2017-01-26 17:30] doutriaux1 commented on #443
@gleckler1 we have a full section of the JSON that store this information:

[code]

[2017-01-26 17:31] doutriaux1 commented on #443
the one information missing here (I can think of) is the path to the mask used (or if it's been self generated) I can add this if you want.

[2017-01-26 17:46] gleckler1 commented on #443
@doutriaux1  OK, agreed, working with this would be better than altering json structure for statistics...  how about something like addition for "ocean" below...

 "RegionalMasking": {
        "Nino34": {
            "domain": {
                "Nino34": "cdutil.region.domain(latitude=(-5.0, 5.0, 'ccb'),longitude=(190.0, 240.0, 'ccb'))"
            },
            "id": "Nino34",
            "value

[2017-01-26 17:52] doutriaux1 commented on #443
@gleckler1 yes. The only issue is that "Regional Mask" is at the top level, "hence" for each models it might different, i.e if we have passed a mask path that does not exist for some model then we will end up with a mix of "path" and "Self-generated" masks.

But I'll come up with a solution soon, either I will add a filed "mask" into the regional masking and map each model to its used mask or i'll

[2017-01-26 21:54] doutriaux1 commented on #443
@gleckler1 turns out it is already here!
[code]

[2017-01-26 21:54] doutriaux1 commented on #443
so i guess we are good to close no?

[2017-01-26 21:56] doutriaux1 commented on #443
in case it is autogenerated is will be set to `nulll`

[code]

[2017-01-26 22:36] gleckler1 commented on #443
@doutriaux1  OK, will try working with this... have you needed to make any changes or just figured out this is already in place (in master)?

[2017-01-26 23:05] doutriaux1 commented on #443
it's in master! I love it when it's that easy! Let's wait to make sure you're happy with it before closing.

[2017-01-31 17:09] gleckler1 opened #466 "execfile?"
@doutriaux1

Line 40 of
https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/scripts/pcmdi_metrics_driver.py

is
execfile(sys.prefix + "/share/pmp/default_regions.py")

This makes good sense to me, but I thought we were being discouraged from using execfile.  And if that is the case, what is the best alternate solution to execfile?

[2017-02-01 15:43] doutriaux1 commented on #466
good point. I don't even really know why it's in share. Except to make it easy for developers to edit just this file. I'll fix this.

[2017-02-01 17:13] gleckler1 commented on #466
@doutriaux1    Its is share because we decided that was the right place to put it... its being shared by multiple metrics applications.    **My question is... If we don't use execfile, how should we load it?**  I'm asking because I am following this lead in other metrics branches.

[2017-02-02 18:38] gleckler1 commented on #466
@doutriaux1 ok

[2017-02-02 18:38] #466 closed

[2017-02-22 16:30] jservonnat commented on #443
@gleckler1 @doutriaux1 sorry for this long period of silence but I'm back on this issue ;).
I'm not sure I totally understand where you are right now, but I would like to be sure that the land-sea masking, i.e. land only (land), ocean only (ocean), or all together (global or nomask) is not at the same level in the json structure as the geographical domain (i.e. TROPICS, NHEX, Nino34...).
Can you c

[2017-02-22 16:54] doutriaux1 commented on #443
@jservonnat they are at the same level

[2017-02-22 16:55] doutriaux1 commented on #443
otherwise some field would be redundant e.g Nino34 would have a useless "ocean" subsection

[2017-02-22 16:56] doutriaux1 commented on #443
masking regions are not going to stay just None/land/ocean for ever, I can foresee complicated region selection schemas, so the "Region" name alone should reflect that with the region described in its own special section.

[2017-02-22 17:02] jservonnat commented on #443
@doutriaux1 I agree with your last point. There should be a way to make the difference between a geographical domain, or 'region', and the fact that we compute a statistic, for instance, on land-only or ocean-only over the same geographical domain.
And thus I'm not really convinced by the previous point ;), that is a redundant information when we have Nino34 for the region, and ocean for the mask.

[2017-02-22 17:07] jservonnat commented on #443
@doutriaux1 @gleckler1 Concerning the example of the Nino34 region, the default mask should be something like 'nomask' or 'global', which means that no particular masking is applied before the computation of the statistics. From the user point of view, it is not mandatory to specify that Nino34 is ocean only. We only need to specify it when we actually require different masks. In other terms, the

[2017-02-22 17:09] jservonnat commented on #443
@doutriaux I read a second time your last comment ;). So you propose that the name of the region includes the mask, right? Like for instance 'NHEX_land' or 'GLB_ocean'?

[2017-02-22 17:26] durack1 commented on #443
@jservonnat @doutriaux1 just to chime in, @gleckler1 and I are working toward (ocean) basin sub regions and it would be very useful to be able to generate a polygon (lat/lon pairs) that we can store in the "regions" file.. These may not be regular shapes..

[2017-02-22 17:44] jservonnat commented on #443
@durack1 @gleckler1 @doutriaux1 I'm in for any answer to this issue as long as we are able to differentiate between land only and ocean only ;).

[2017-02-22 17:50] gleckler1 commented on #443
@jservonnat @doutriaux1 @durack1  Welcome back JS... we are still here ;-)
A few issues....
We definitely must be able to separate land and ocean... and right now... "yes we can"
For now, we are able to define rectangular domains and then superimpose on them a land or ocean mask.    This takes us a long way.
What is also important is that we document whether or not an actual mask was used or was i

[2017-02-22 17:54] jservonnat commented on #443
@gleckler1 and I'm glad you are ;).
Ok so if I get the last version of the PMP, I should be able to produce those jsons files with regions and masks separated, right? (if yes I will do that tonight, it's getting late here and I'm starting to feel thirsty...)

[2017-02-22 18:00] gleckler1 commented on #443
@jservonnat rub it in... we're still on tea & coffee.   Yes I think regions and masks are separated on latest release, please verify.

[2017-02-22 18:03] jservonnat commented on #443
I will tonight!

[2017-02-22 23:12] jservonnat opened #468 "CMIP_CMOR_TABLE is wrong in obs_info_dictionary.json"
The values of the key "CMIP_CMOR_TABLE" appear to be wrong in obs_info_dictionary.json (latest version of the PMP as well as the versions I've been using since my visit). The values are the associated reference name when it should be 'Amon':
[code]
Here is what it should be:
[code]
This issue came out when I wanted to compute metrics on ocean vertical levels and needed to test CMIP_CMOR_TABLE=='Am

[2017-02-22 23:18] jservonnat commented on #443
@gleckler1 @doutriaux1 I've get the nightly version of the PMP and it seems that the json structure hasn't changed.
[code]
I'm up for a visio conference on Thursday if you want to discuss about that directly.

[2017-02-23 00:01] doutriaux1 commented on #468
thanks @jservonnat I wonder how this one went through!

[2017-02-23 00:02] doutriaux1 commented on #468
oops it's ob stuff so it's a @gleckler1 issue.

[2017-02-23 23:10] jservonnat opened #469 "Updating pcmdi_metrics-nox?"
The latest version of pcmdi_metrics-nox is from 2016-10-20, as confirmed by:
https://anaconda.org/PCMDI/pcmdi_metrics-nox/files
Is there an update planned soon?

[2017-02-23 23:14] doutriaux1 commented on #469
@zshaheen did you push the changes to make it fully backward compatible? Also things went into master so why is the nightly so old?

[2017-02-23 23:15] doutriaux1 commented on #469
@zshaheen i bet you don't build the `nox` version. Take a look at vcs's conda_upload for this.

[2017-02-23 23:18] zshaheen commented on #469
@doutriaux1 It's not the nox version, I'll get to that by tomorrow. And yeah, legacy support is available via `pcmdi_metrics_driver_legacy.py`

[2017-02-23 23:20] doutriaux1 commented on #469
@zshaheen there was something that was not fully compatible when you put CDP in. I'm not sure what exactly. You said you would fix it. (parameter names?)

[2017-02-23 23:22] zshaheen commented on #469
If you use the old driver (`pcmdi_metrics_driver_legacy.py `), the old parameter names work. The new driver only works with the new naming. I can add code that translates the old parameter's keywords to work with the new one.

[2017-02-23 23:37] gleckler1 commented on #468
@jservonnat  We are in the process of putting together PMPobsV1.1 in which all data will be processed through CMOR3...  this issue is getting fixed in the process so closing this issue ...

[2017-02-23 23:37] #468 closed

[2017-02-23 23:40] gleckler1 commented on #469
@doutriaux1 @zshaheen  This issue is about pmp-nox.   When can we start nightlies?   Does this first require us having an updated tag?

[2017-02-23 23:42] doutriaux1 commented on #469
@gleckler1 nightlies work but @zshaheen forgot to build the nox ones. @jservonnat you install the regular one and then install vtk-cdat-nox after the fact into your env.

[2017-02-23 23:42] gleckler1 commented on #446
@jservonnat  were you going to add these (good practice on submitting pull requests) or are you awaiting it to get done?

[2017-03-01 05:01] zshaheen commented on #469
@jservonnat @gleckler1 @doutriaux1 It works now guys. See here: https://anaconda.org/PCMDI/pcmdi_metrics-nox/files

[2017-03-01 05:01] #469 closed

[2017-03-01 15:40] durack1 commented on #469
@zshaheen this is great, so does that mean that each time a new PR is merged into `master` we get a new nightly? What happens if multiple PRs are merged in one day?

[2017-03-01 16:03] jservonnat commented on #446
@gleckler1 I'll do my best to push it in the coming days ;).

[2017-03-01 16:43] gleckler1 commented on #446
@jservonnat Great... PG will keep an eye out for it and push it through quickly.

[2017-03-01 16:57] doutriaux1 commented on #469
@durack1 in case of multiple PR on the same day. Then the latest one overrides the first one, which is fine.

[2017-03-01 17:05] durack1 commented on #469
@doutriaux1 @zshaheen that's great, is it a 12am cron? So when is the deadline for merging PRs before the nightly is built?

[2017-03-01 17:10] doutriaux1 commented on #469
It's automatic as soon as travis successfully built and tested the master branch

[2017-03-01 17:17] zshaheen commented on #469
Fyi, we have been getting this for the non-nox pcmdi_metrics since January.

[2017-03-02 12:31] jservonnat commented on #446
@gleckler1 @doutriaux1 apparently I've merged my PR into master... I didn't intended to do so, I thought I was on my repo...

[2017-03-02 14:13] jservonnat opened #472 "Dealing with the vertical levels in ocean variables (to / so)"
We've set that up at IPSL (against WOA) and found it pretty interesting. It only involves a couple of lines added to the driver to enable the PMP to automatically extract, say, to at 200m at depth, if you pass to_200 (same mechanism as for the atmospheric variables, but without the 100 factor).
If you guys are interested I can set up a PR.

[2017-03-02 14:28] jservonnat opened #473 "Demo of PMP_nightly (default and nox) fails"
I've run the PMP_nightly-nox pmp_demo_1.py and it fails (same with PMP_nightly; both are 2017.03.01-0):
[code]

I've tried to correct this issue by modifying the param file but I keep hitting new issues.
I've also tried with pcmdi_metrics_driver.py and it doesn't work neither:
[code]

[2017-03-02 15:34] jservonnat commented on #444
Ok so apparently the new version of PMP-nox allows me to pass the bug. I propose to close this issue for the moment.

[2017-03-02 15:34] #444 closed

[2017-03-02 15:39] zshaheen commented on #473
Use the command `pcmdi_metrics_driver_legacy` instead of `pcmdi_metrics_driver` for scripts with the old vocabulary.

[2017-03-02 15:41] jservonnat commented on #473
I've tried both (see first block) and none of them work.

[2017-03-02 15:41] zshaheen commented on #473
But yeah, I'll see why the demo fails. I must have forgot to change a keyword from `model` to `test`

[2017-03-02 15:43] jservonnat commented on #473
It might not be the only one. Last time I've tried I had to change a couple of them and didn't actually managed to make it work...

[2017-03-02 15:43] jservonnat commented on #473
It's true both for the default and nox.

[2017-03-02 15:43] durack1 commented on #473
@jservonnat thanks for kicking the tyres on this stuff, it's really helpful having you input

[2017-03-02 15:45] jservonnat commented on #473
@durack1 you're welcome mate ;)

[2017-03-02 15:46] durack1 commented on #472
@jservonnat I would be really interested to see what you've done, yeah go ahead and drop in a PR or create a branch that we can starting iterating on.. Also there are updates coming down the pipe on the regridding functionality, we're getting a regridding upgrade :)

[2017-03-02 15:49] jservonnat commented on #472
Ok great I'll do this (it's really simple actually).

[2017-03-02 15:54] durack1 commented on #472
@jservonnat just don't merge it!!

[2017-03-02 18:38] durack1 commented on #446
@jservonnat that has been reverted.. Feel free to resubmit a PR when things are ready to roll, we can then augment the baselines (if required) so the tests pass with your changes and then get it merged

[2017-03-02 19:01] gleckler1 commented on #473
@jservonnat @zshaheen  I will sample some of my "legacy" parameter files to make sure they are all still working.   If not, we'll have to revert back or get this fixed now.   We need full backwards compatibility.

[2017-03-03 17:06] jservonnat opened #476 "New options for the parallel_coordinates vcsaddons"
@doutriaux1 I post it here but it might not be the right place.
I would be interested in two functionalities for the parallel coordinates GM in vcs.

1/ For the plots showing biases, the plot as it is now is a little bit messy at the moment because we can have both positive and negative values (on one axis and across the axes):
![bias_parallel_coordinates](https://cloud.githubusercontent.com/asset

[2017-03-03 17:14] jservonnat commented on #473
@gleckler1 I'll be waiting for you!

[2017-03-06 20:05] gleckler1 commented on #446
@jservonnat In case you've lost track of the process...
https://github.com/PCMDI/pcmdi_metrics/blob/master/doc/HOWTO_devel_package.md
Create a branch, add subdirectory in devel with a name that describes whats being done (e.g., addnl_rms_calcs", with scripts and lib directories below.  If you think your ready for it to be considered for merge into master, make a pull request.    If you are not sur

[2017-03-06 20:28] durack1 opened #478 "Update install from source page"
The [Install-from-source](https://github.com/PCMDI/pcmdi_metrics/wiki/Install-from-source) page points to the `install_metrics.bash` file which was removed a long time ago. If we are supporting installations from source, this page needs to be updated so a user can install `cdms2`, `vcs` and the `PMP`
[code]

[2017-03-06 23:29] zshaheen commented on #473
@jservonnat @gleckler1 `pmp_demo1.py` works now on the latest version. It wasn't an issue with the `pcmdi_metrics_driver_legacy.py`, but rather `pmp_demo1.py` didn't use the new driver. Download the latest version like so:

`conda install pcmdi_metrics=2017.03.06 -c pcmdi/label/nightly -c conda-forge -c uvcdat`

[2017-03-07 08:23] jservonnat commented on #473
@zshaheen not working on my side... it looks like it is not handling the variable (provides a blank):
[code]

[2017-03-07 10:12] jservonnat commented on #446
@gleckler1 thanks for the reminder ;)! I'll redo it following the instructions.

[2017-03-07 15:28] zshaheen commented on #473
@jservonnat I'll look into this

[2017-03-07 16:04] jservonnat commented on #473
@zshaheen thanks a lot. I've re-tried from scratch and obtain the same result.
I've also tried to look into the driver but the structure of the new version is totally enigmatic for me (I'm really not good with python classes...).

[2017-03-07 17:35] jservonnat commented on #446
@gleckler1 @doutriaux1 @durack1 after a second read of the HOWTO_devel_package page I'm actually not sure that it is the way to go for the kind of PR I want to submit. The modifications are within the pcmdi package, it's not a package sitting on it.
Can you guys work with the PR that I've done or I really need to do it differently?

[2017-03-07 18:48] gleckler1 opened #479 "Wheeler Kiladas"
Revamp CD's legacy codes and use them for PMP metrics.

[2017-03-08 16:31] jservonnat commented on #472
@durack1 I've set up a PR, tell me if I did it correctly or if I need to do something differently.

[2017-03-08 18:07] gleckler1 commented on #472
@jservonnat This will be a great contribution!   And a good opportunity to "grease the wheels" on making a contribution.    It does not look to me as though you have created a branch for this.   Check the gh site, there is a button on the left side for branches with master as a default.   Click on that and you will see all of the branches and see the syntax for how we create them.   Took me a whil

[2017-03-08 20:18] zshaheen commented on #473
@jservonnat Okay, I hopefully got the no output issue working now. Please get the latest nightly from Anaconda or manually install it from master.

There is an issue regarding the downloading of the demo data. It's an issue on our side, so the current workaround is using a command line argument to point to the location of the tarball:

`pmp_demo_1.py -d /path/to/pmpv1.1_demodata.tar `

If you don'

[2017-03-10 22:39] durack1 opened #481 "Add external-setups into conda install package"
The files contained in [examples/external-setups](https://github.com/PCMDI/pcmdi_metrics/tree/master/examples/external-setups) should really be included in the conda install package, as already some users (at GFDL) have been asking about where these demo files reside.

I'm uncertain where they would go in the `anaconda2/envs/pcmdi_metrics` subdirectories, but I think this resource is certainly use

[2017-03-16 18:34] durack1 opened #484 "json timestamps?"
I just got this warning today, maybe we need to tweak load statements across the package?
[code]
This might be useful http://stackoverflow.com/questions/7065164/how-to-make-an-unaware-datetime-timezone-aware-in-python

@doutriaux1 @zshaheen @gleckler1

[2017-03-24 17:03] durack1 commented on #267
@gleckler1 we need to augment the information contained in the `obs_info_dictionary.json` as it currently doesn't contain version information for the data products, e.g.:
[code]

[2017-03-24 17:40] durack1 commented on #267
@gleckler1 with the above we need `version`, `source` (so site, institution, etc), `references`, `temporal coverage`, `climatology period`.. And many other pieces of info that will provide users of the package/database an ability to answer questions for themselves and cite things appropriately.. This will all become easier when we're building off the obs4MIPs archive

[2017-03-27 10:23] jservonnat commented on #476
@doutriaux1 @gleckler1 I ping you to activate this issue ;). @doutriaux1 do you think it is feasible to add that to the GM?

[2017-03-27 10:35] jservonnat commented on #473
@zshaheen apparently I have no issue with downloading the tarball but the demo fails now on another error related with cdp (for the default and nox versions):
[code]
With the 'legacy' version I get:
[code]
Any thought on that?

[2017-03-27 14:10] zshaheen commented on #473
Please install `cdp` (`conda install cdp -c conda-forge -c uvcdat`). Also the demos don't work with the legacy due to the new keyworks.

[2017-03-27 15:01] jservonnat commented on #473
@zshaheen after verification it was already installed:
[code]
Is it the right version? (I've tried conda update with no success)

[2017-03-27 15:30] zshaheen commented on #473
@jservonnat I'll work on this and get back to you with a fix.

[2017-03-27 18:19] zshaheen commented on #473
@jservonnat Do you have the latest code from master? With the newer version of cdp, I made a fix for pmp on 14/03/2017. Grab the latest code from master and it should work.

[2017-03-28 00:15] chengzhuzhang opened #485 "ncar_cmip_direct_name_map, 'pr' maps to 'PRECC'"
Hi @doutriaux1

I came across this ncar_cmip_direct_name_map list, where 'pr' is mapping to 'PRECC' in NCAR convention. However pr in CMIP stands for total precip flux, while PRECC stands for convective precip flux. 'pr'='PRECT'='PRECC'+'PRECL'. Not sure if this dictionary is still in use. Just a reminder here.

[2017-03-28 00:56] doutriaux1 commented on #485
@durack1 did you write this?

[2017-03-28 07:27] jservonnat commented on #473
@zshaheen Can you confirm how to do that? Is it just a git clone git://github.com/UV-CDAT/CDP in the lib/python2.7/site-packages/cdp directory of my anaconda install (~/anaconda2/envs/TEST/lib/python2.7/site-packages/cdp)?
I've cloned the master and here is what I get:
[code]
Actually I find no cdp_driver.py file in the cdp master github repo:
https://github.com/UV-CDAT/cdp/tree/master/cdp

[2017-03-28 15:07] durack1 commented on #485
@chengzhuzhang @doutriaux1 yep that was me.

@chengzhuzhang [the file you have referred to](https://github.com/PCMDI/pcmdi_metrics/blob/master/examples/external-setups/NCAR/transform_ncar_clims_to_CMIP5_structure.py) was generated by @gleckler1 in his demos for NCAR.

Thanks for pointing out the `PR` equivalence, we actually do have this captured in the code [here](https://github.com/PCMDI/pcmdi_m

[2017-03-28 15:21] zshaheen commented on #473
@jservonnat Yes, there's no driver now. Just do `python setup.py install` and all should work.

[2017-03-28 15:41] jservonnat commented on #473
The problem is that the demo is complaining about a missing cdp.cdp_driver (see message above), I might be confused with this message but in this case, I don't understand what I'm doing :)...

[2017-03-28 15:45] durack1 commented on #485
@chengzhuzhang it would make sense to generate a "mapping dictionary" for all these variable names, I had started that in https://github.com/PCMDI/pcmdi_metrics/issues/176, however, it seems to have been closed this rather than pursuing this further.. Feel free to kick something like this off, I would be more than happy to iterate over this with you

[2017-03-28 15:48] zshaheen commented on #473
@jservonnat It's okay :)

You need to get the latest code from pmp. But it's good that you got the latest from cdp as well.

[2017-03-28 15:51] jservonnat commented on #473
@zshaheen the version I'm working with is:
pcmdi_metrics             2017.03.14                    0    pcmdi/label/nightly

Which is a later version than the one you pointed in a previous (2017.03.06). Should I use 2017.03.06?

[2017-03-28 19:14] chengzhuzhang commented on #176
@durack1 This is exactly what we are looking to do! Should be very helpful for runs without being CMORIZED. I will keep you in the updated as this progresses. Thanks!

[2017-03-28 19:15] durack1 commented on #176
@chengzhuzhang ok let's reopen this one.. I think it's a worthy effort

[2017-03-28 19:16] durack1 commented on #176
@jservonnat wanna pipe in with your IPSL mappings - have you done this?

[2017-03-28 20:40] gleckler1 commented on #176
Good idea to put them in a dictionary json file

[2017-03-28 20:54] gleckler1 opened #486 "remove examples-results (for now)"
Somehow, this has cropped back up into the repo - it needs to be removed now.

[2017-03-30 14:42] gleckler1 opened #488 "refactor 334_monsoon_wang for inclusion"
@doutriaux1 This branch is ready for your review/refactor before a pull request is made.   There is one script in /scripts and one in /lib.    Pls ignore /graphics for now.

[2017-03-30 15:17] doutriaux1 commented on #476
@jservonnat
1- I'm guessing you can achieve that via template/ticks use the mticks to go accross the template ```python
t=vcs.createtemplate()
t.ytic1.x1=t.data.x1
t.ytic1.x2=t.data.x2
[code]

[2017-03-31 22:13] doutriaux1 opened #492 "possible simplification of pcmdi driver"
I used to have code to mask `bad` values after mask regridding via esmf/esmp I think @dnadeau4 fixed this and this code shouldn't be needed any longer.

[2017-04-03 13:53] jservonnat commented on #476
@doutriaux1 I've tried the 'plug and play' approach with the lines you gave but it didn't work.
Then I've tried the 'read the doc' method (together with the lines you gave) but couldn't find my way...

I would thus need some help to learn how to control VCS on those aspects... Could we plan a session together (visio) to get those things working?

[2017-04-04 16:33] #486 closed

[2017-04-04 16:40] gleckler1 commented on #473
@jservonnat @zshaheen  Is this issue resolved?

[2017-04-04 23:43] gleckler1 commented on #485
@chengzhuzhang @durack1  It would be great to set something up as part of the code base, not a GH table.

One possibility would be to create a variable id mapping for all models.  We have a few nascent examples for several groups here:
https://github.com/PCMDI/pcmdi_metrics/tree/master/examples/external-setups

Starting with these, we could pull the variable_id mapping (+units and equations where

[2017-04-07 08:55] jservonnat commented on #473
@gleckler1 work in progress!!

[2017-04-07 14:08] jservonnat commented on #476
@gleckler1 @durack1 @doutriaux1 Here is a teaser for you guys:
https://vesg.ipsl.upmc.fr/thredds/fileServer/IPSLFS/jservon/parallel_coordinates_metrics_figures/TeaserForPCMDI/parallel_coordinates_TeaserForPCMDI.html
The plots are made with an R script. The goal could be doing the same with the VCS script (but at least now I have something that we can use at IPSL).

[2017-04-10 23:59] gleckler1 commented on #446
@jservonnat JS I thought you were on this?

[2017-04-11 00:03] gleckler1 commented on #418
@durack1 @doutriaux1 Guess we are settled on this being external.  As long as its easy to get thats fine

[2017-04-11 00:03] #418 closed

[2017-04-11 07:55] jservonnat commented on #446
@gleckler1 I was waiting for an answer to my last question ;). I'm not convinced that the devel-way is the way yo go for this (these are modifications in the pcmdi_metrics/pcmdi directory), it would be better to look for a PR. That's why I was asking @doutriaux1 and @durack1 to check if the last PR can be used. If not I'll setup a new one.

[2017-04-12 14:40] jservonnat commented on #473
@zshaheen I ping you about the issue, do you have something new? I really need to have it working as soon as possible.

[2017-04-12 16:29] zshaheen commented on #473
@jservonnat I will work on this now. So sorry for the delay. I had to release another project and just did that yesterday.

[2017-04-13 01:58] gleckler1 commented on #492
@doutriaux1 @zshaheen I don't understand this issue.  Is it resolved?

[2017-04-13 09:15] jservonnat commented on #473
@zshaheen no problem ;)

[2017-04-13 14:10] doutriaux1 commented on #492
@gleckler1 it was mostly a memo for me to take a look if i can simplify the code. I'll double check today.

[2017-04-13 18:27] zshaheen commented on #473
@jservonnat Okay, let's hope it works this time.

There was a problem with the nightlies (they weren't being updated) so now that's all hopefully fixed. Here's what I tried and it worked for me:

[code]

Let me know how this goes.

[2017-04-19 23:35] gleckler1 commented on #479
@doutriaux1 @sperber1 Had a powwow with KS and we agree this needs to be made a high priority... but we need CD help to get old codes working...

[2017-04-20 15:56] gleckler1 commented on #479
@doutriaux1  PG started branch 479_pjg_wheelerkaladis ... all CD legacy codes and test data are in there.

[2017-04-24 13:45] jservonnat commented on #473
@zshaheen @gleckler1 I'm really glad to confirm that the demo now works for me ;).
FYI I've also tried without the 'pcmdi_metrics-nox=2017.04.13' (just with pcmdi_metrics-nox), and it worked as well.
If you have nothing left to say we can close this issue.
Back to work, thanks a lot @zshaheen !

[2017-05-16 15:44] jypeter opened #496 "Wrong access rights of pcmdi_metrics-v1.1.1-py2.7.egg-info in 2.8.0!"
@doutriaux1 and @durack1  with my usual luck, I have found an unusual problem...

I have installed **PMP** in 2.8.0, just in case, with
`conda install -n cdatm14 -c conda-forge -c pcmdi pcmdi_metrics`

I have not used PMP, so I assume it is OK, but it has the following **weird side effect**: if another person uses my **shared CDAT installation**, AND wants to use ipython, then there is a huge trac

[2017-05-16 15:48] durack1 commented on #496
@jypeter thanks for this feedback, when the conda packages are being built we might have to add in a perm wash to ensure that similar issues don't occur in the future.. It's the first time that we've received such a specific use case issue, some other folks using the PMP are doing so in a shared install env

[2017-05-16 16:02] jypeter commented on #496
Can you check what access rights you have for this file (and the others), ideally in a 2.8.0 version?

Also, the **date** of the _pcmdi_metrics-v1.1.1-py2.7.egg-info_ file is **21 juil. 2016**, which seems kind of old to me, but I don't know what it should be. Could it be that I got a wrong and outdated version?

[2017-05-16 16:52] doutriaux1 commented on #496
@jypeter when I install for users here I always do some sort of rechmod to make sure users can read files. I don't think it's due to pmp.

[2017-05-16 21:23] jypeter commented on #496
Not due to PMP? Why is it that I have this access rights problem only with PMP (see my find command above), on 2 separate servers? I have installed PMP the same way I have installed other packages. Look for "PMP" in my [2.8.0 installation notes](https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:cdat_conda:cdat_2_8_0#packages_that_have_no_dependency_problems)

Can one of you guys check the acce

[2017-05-16 22:14] doutriaux1 commented on #496
@durack1 @zshaheen where is the pmp conda package built at? crunchy and ocenaonly have weird permission mask by dsefault, could that be it?

[2017-05-16 22:21] zshaheen commented on #496
@doutriaux1 @durack1 Nightlies are done on Travis. I didn't build the conda packages for v1.1.1, but I usually use aims4, however I never worked on a shared env.

[2017-05-19 13:46] #473 closed

[2017-05-19 13:47] jservonnat commented on #446
@gleckler1 @doutriaux1 @durack1 any update on that issue?

[2017-05-25 23:19] zyuying opened #497 "Add Zelinka's cloud metrics"

[2017-06-07 12:22] doutriaux1 opened #498 "debug on by default"
Somehow logging level is DEBUG by default which triggers uvcdat usage DEBUG to show up!

[code]

[2017-06-07 12:50] doutriaux1 commented on #498
partialfix in 2d92fdfd761e8e1bcc48cba00e04eea1a0c48477 but we should probably only set log level on the actual logger file not the whole logging level?

[2017-06-08 19:18] durack1 commented on #403
@doutriaux1 with the new ESMF/ESMPy is this provenance still working with v2.10?

[2017-06-08 19:21] doutriaux1 commented on #403
It does look like ti:

[code]

[2017-06-08 19:22] doutriaux1 commented on #403
want us to add esmpy?

[2017-06-08 19:26] durack1 commented on #403
@doutriaux1 yeah, is there anything else in v2.10 that should also be added?

[2017-06-08 19:28] doutriaux1 commented on #403
mesalib I guess.

[2017-06-08 19:29] doutriaux1 commented on #403
i'll submit a PR shortly with the updated test suite.

[2017-06-08 19:32] durack1 commented on #403
@gleckler1 @lee1043 @doutriaux1 are there any other libraries that we're using in current metrics that we need to keep track of?

[2017-06-08 21:30] durack1 commented on #403
@doutriaux1 can you add in the date that the conda env/build was completed?

[2017-06-08 21:52] durack1 opened #499 "1.1.2 tagging"
The `1.1.2` release has been scheduled for Wednesday 14th June 2017, see [milestone/1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/6)

@doutriaux1 once v1.1.2 has been tagged, we'll need to:
- [x] Validate version info is correctly written (version indicated v1.1.2)
- [x] Set all CDAT dependencies to v2.10 in [meta.yaml](https://github.com/PCMDI/pcmdi_metrics/blob/master/conda-recipes/pcmdi

[2017-06-08 21:54] durack1 commented on #499
@gleckler1 @doutriaux1 we'll need to sift through the remaining issues and assign those that can be completed by next Wednesday 14th June 2017 for a new `1.2.0` release - please take a peek at the standing issues

If there are any other items that need to be added to the task list above please add them in

[2017-06-08 22:01] durack1 commented on #303
@zshaheen it would be great to entrain you on getting to the bottom of this issue

[2017-06-13 20:29] durack1 commented on #499
@doutriaux1 @gleckler1 are we on track for a release today/tomorrow?

[2017-06-13 20:54] durack1 commented on #499
Thanks @zshaheen, unless @gleckler1 has a good reason against this.. I think we should surge ahead with a`v2.10` CDAT and make sure that all the code: ESMF, CDMS2, VCS, VTK is up-to-date and the latest available.. I assume the numbers are very similar to results generated with `v2.8`

[2017-06-15 20:12] durack1 commented on #499
@doutriaux1 [tag/1.1.2](https://github.com/PCMDI/pcmdi_metrics/releases/tag/1.1.2) Great! The steps above would be great to follow..

Also let me know once a conda release has been minted and I'll test it out..

[2017-06-15 20:14] durack1 commented on #499
@doutriaux1 we want to lock this to `==2.10` not the `>=2.10` in the current [recipes/pcmdi_metrics/meta.yaml.in](https://github.com/PCMDI/pcmdi_metrics/blob/1.1.2/recipes/pcmdi_metrics/meta.yaml.in#L19-L23)

[2017-06-15 20:36] doutriaux1 commented on #499
@durack1 i used == when creating the conda pkg
also for future ref we knowmstore full working envs in the repo see:
https://github.com/PCMDI/pcmdi_metrics/tree/master/recipes/conda-envs
usage:
[code]

[2017-06-15 20:40] zshaheen commented on #499
@doutriaux1 Maybe for the next release, we should actually have the modified `meta.yaml.in`with the == in there. So in case the packages get removed from Anaconda, all we need to do is checkout that tag (ex. v1.1.1, v1.1.2) and reupload it.

Otherwise, if v1.1.2 got deleted again, a person wouldn't know that == was used.

[2017-06-15 20:45] doutriaux1 commented on #499
I can put the meta.yam in and move the tag if you want

[2017-06-15 20:55] doutriaux1 commented on #499
done and retagged

[2017-06-15 20:57] doutriaux1 commented on #499
@durack1 @zshaheen I will let you take care of DOI and rest of unchecked boxes.

[2017-06-15 21:06] zshaheen commented on #499
@durack1 I got the new Zenodo DOI and put it in the readme. I'm updating the Install using Anaconda guide to include stuff about the new env @doutriaux1 created.

[2017-06-15 21:09] durack1 commented on #499
@zshaheen @doutriaux1 great, I'll start looking at the conda releases so I can test out the new version and compare some numbers

[2017-06-15 21:11] durack1 commented on #499
@doutriaux1 nice touch with the [`pmp-1.1.2.yml` and `pmp-nox-1.1.2.yml` additions](https://github.com/PCMDI/pcmdi_metrics/tree/master/recipes/conda-envs)

[2017-06-15 21:32] durack1 commented on #499
@zshaheen thanks for this, once you've finished up point out what bits you've done and I'll double check.. also would it be possible to cleanup that 1.1 Vonda version that you indicated wasn't 1.1 (but 1.1.1 instead)? It'd be great if we clean up all these loose edges.. I can then generate the output libraries using each of the 3 versions we've then released through conda: 1.1, 1.1.1 and now 1.1.2

[2017-06-15 21:36] zshaheen commented on #499
@durack1
Take a look at the readme, I just updated the Zenodo DOI and changed 1.1 to 1.1.2
Also see [here](https://github.com/PCMDI/pcmdi_metrics/wiki/Install-using-Anaconda#installing-the-pcmdi-metrics-package-pmp), my addition was: "If you don't have an Anaconda..."

Regarding the messed up v1.1 on Anaconda, it's all fixed now. @doutriaux1 inadvertently made me do it :)

[2017-06-26 23:02] durack1 opened #502 "uvcdat-usage.llnl.gov broken in 1.1.2"
@zshaheen it seems the logging is broken in `1.1.2`:
[code]

[2017-06-26 23:05] zshaheen commented on #502
I think @doutriaux1 fixed this somewhere.

[2017-06-26 23:08] doutriaux1 commented on #502
@zshaheen I have a **partial** fix in https://github.com/PCMDI/pcmdi_metrics/pull/489 but you need to fix it better so that the log level is not set at the log module level but at the actual log file level.

[2017-06-28 16:16] doutriaux1 commented on #498
@zshaheen look at: https://stackoverflow.com/questions/11029717/how-do-i-disable-log-messages-from-the-requests-library

[2017-07-05 00:51] zshaheen commented on #498
I'll fix this by this week.

[2017-07-07 18:54] durack1 commented on #502
@zshaheen @doutriaux1 I've just hit the same issue today:
[code]
Do we need to push out a 1.1.3 to fix this issue? If yes, it'd be great to do that ASAP, as we're trying to get some more data generated for GFDL

[2017-07-07 18:56] doutriaux1 commented on #502
nighlty cdat_info should fix this

From: "Paul J. Durack" <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com>
Date: Friday, July 7, 2017 at 11:54 AM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [PCMDI/pcmdi_metrics] uvcdat-usage.llnl.gov broken in 1.1.2 (#50

[2017-07-07 19:01] durack1 commented on #502
@doutriaux1 @zshaheen how do I hook up a PMP112 with cdat_info nightly?

We really need to make sure that out of the box this stuff just works, so I would push for a 1.1.3 to sort things out so that the issue is resolved. At the moment I assume any user that installs 1.1.2 will hit exactly the same issue I am reproducing time and time again

[2017-07-07 19:08] doutriaux1 commented on #502
I have also a fix independent of cdat_info in the branch I'm reviewing for @gleckler1 which I'm hoping to push in today.

[2017-07-07 19:09] doutriaux1 commented on #502
thinking about it I can edit the above tweak and use the one in cdat_info. @zshaheen no need to look into it any longer.

[2017-07-07 19:10] gleckler1 commented on #502
@durack1 @doutriaux1 @zshaheen  This looks familiar.   After an install I got a prompt for something like do I want to report debug stuff.   When I said yes it bombed like PDs case.  But when I said no everything ran fine.

[2017-07-07 19:11] durack1 commented on #502
@doutriaux1 perfect, once this is in I'll pull down and make sure I'm fixed and we can tag the 1.1.3. It's important that we clean this right up.

@gleckler1 please comment if you don't agree

[2017-07-12 20:42] lee1043 commented on #502
I am getting same issue, @doutriaux1 @durack1 @gleckler1 how this was concluded?

[2017-07-12 20:47] doutriaux1 commented on #502
It's awaiting me tomorrow. Sorry @lee1043 I'm working on your taylordiagrams today.

[2017-07-12 20:50] doutriaux1 commented on #502
guys in the mean time in yuor scripts add:
[code]

[2017-07-12 20:53] lee1043 commented on #502
@doutriaux1 that helps, thanks!

[2017-08-07 22:00] doutriaux1 opened #503 "add ability to split portrait plot cells in grid rather than pie charts."
3x3 split would be hard to identify in 9 pie charts, better make it a 3x3 grid.

[2017-08-15 21:40] doutriaux1 opened #504 "JSONs class fails if passed only one file as string, not in a list"
[code]

[2017-08-31 13:03] jypeter opened #506 "Use consistent installation directory names for pcmdi_metrics?"
When cleaning up access rights linked to https://github.com/PCMDI/pcmdi_metrics/issues/496 in my 2.8.0 version, I have noticed that you find pcmdi-metrics stuff in both
- envs/myenv/_lib_/python2.7/site-packages/**pcmdi_metrics**/
- envs/myenv/_share_/**pmp**/

From a consistency point of view, it would probably make more sense to use the same directory name... but you may have already discussed t

[2017-09-20 15:54] doutriaux1 opened #507 "pmpparser should only show options actually used in -h"
[code]

The --help string will show:

[code]

We should probably add a keyword to let the parser know which default option we will be using in that script, or some similar mechanism

[code]

[2017-10-02 22:32] lee1043 opened #508 "Cannot install with vcs 2.12"
[code]

I created uvcdat 2.12 conda env then was trying to pmp in the env, but it seems like pmp limits to use certain version of vcs and vcsaddons as 2.10.

[code]

[2017-10-02 22:33] doutriaux1 commented on #508
you're missing uvcdat channel!
[code]

[2017-10-02 22:34] lee1043 commented on #508
[code]
@doutriaux1  It still requires vcs 2.10.

[code]

[2017-10-02 22:36] lee1043 commented on #508
My vcs version from conda list is:

[code]

[2017-10-02 22:37] doutriaux1 commented on #508
yes it is "pinned" you could use the nightlies which I believe do not enforce pinning, or try:
conda install pcmdi_metrics -c uvcdat/abel/nightly -c conda-forge -c uvcdat -c pcmdi/label/nightly --no-update-dependencies

[2017-10-02 22:38] doutriaux1 commented on #508
if you're happy with downgrading to 2.10 use:
[code]

[2017-10-02 22:38] lee1043 commented on #508
@doutriaux1

Should the [installation document](https://github.com/PCMDI/pcmdi_metrics/wiki/Install-using-Anaconda#installing-the-pcmdi-metrics-package-pmp) include uvcdat channel?

[2017-10-02 22:48] lee1043 commented on #508
@doutriaux1 installing nightly version of pmp works. Thanks.

[2017-10-04 00:09] lee1043 commented on #508
Installing PMP and latest VCS as nightly version (note for future record):

```conda create -n pmp_nightly -c uvcdat/label/nightly -c conda-forge -c uvcdat -c pcmdi/label/nightly -c pcmdi pcmdi_metrics```

[2017-10-22 01:17] gleckler1 opened #509 "add clim eddy and time departures"

[2017-11-16 23:00] durack1 opened #511 "Catch problems with parameter filenames including hyphen"
With v1.1.2 the following error occurred:
[code]

[2017-11-16 23:04] durack1 opened #512 "Catch error with variable not contained in a list"
v1.1.2
In the parameter file, I have declared a variable to process as
[code]
This leads to the behaviour below
[code]

[2017-11-16 23:11] gleckler1 commented on #512
@durack1  Needs to be a list

[2017-11-16 23:12] durack1 commented on #512
Not for v1.1.3 it doesn't. This is just a silly error that should be trapped and fixed in the package

[2017-11-16 23:13] durack1 commented on #502
@doutriaux1 we really need to fix this soon, v1.1.3 should bump us across to UV-CDAT 2.12

[2017-11-17 22:21] durack1 opened #513 "Add thetao to obs dictionary"
The new variable `thetao` and files need to be added to the obs dictionary

[2017-11-21 00:59] durack1 opened #514 "pmp-1.1.2.yml broken"
This is the output when attempting to generate a "canned" environment:
[code]

[2017-11-21 01:54] durack1 commented on #514
@doutriaux1, I'm a bit confused by this the [`pmp-1.1.2.yml` shows](https://github.com/PCMDI/pcmdi_metrics/blob/master/recipes/conda-envs/pmp-1.1.2.yml#L3-L10):
[code]
and [further down](https://github.com/PCMDI/pcmdi_metrics/blob/master/recipes/conda-envs/pmp-1.1.2.yml#L44-L45):
[code]
This package is available on `conda-forge` for `linux-64` as noted [here](https://anaconda.org/conda-forge/esmf/

[2017-11-21 19:14] durack1 commented on #514
conda-forge have just changed the labels for a number of packages from the default `main` to `broken`, this is causing grief with this `pmp-1.1.2.yml` file:
![171121_brokencondaforge](https://user-images.githubusercontent.com/3229632/33091839-19cc0d16-cead-11e7-86ce-c23d0d22d5f6.png)

[2017-11-21 22:10] durack1 commented on #502
This problem is solved by updating `cdat_info` to 2.12+

[2017-11-21 22:13] durack1 opened #516 "1.1.3 tagging"
The `1.2` release is due soon, see [milestone/1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/9)

@doutriaux1 once v1.2 has been tagged, we'll need to:
- [ ] Validate version info is correctly written (version indicated v1.1.3)
- [ ] Set all CDAT dependencies to v2.12 in [meta.yaml](https://github.com/PCMDI/pcmdi_metrics/blob/master/conda-recipes/pcmdi_metrics/meta.yaml)
- [ ] Obtain zenodo

[2017-11-21 22:13] #499 closed

[2017-11-21 22:15] durack1 commented on #496
This issue was solved in [1.1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/8) so closing

[2017-11-21 22:15] #496 closed

[2017-11-21 22:17] durack1 commented on #484
Fixed in [1.1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/8) closing

[2017-11-21 22:17] #484 closed

[2017-11-21 22:18] durack1 commented on #481
These examples will need updating for [1.1.3](https://github.com/PCMDI/pcmdi_metrics/milestone/9)

[2017-11-21 22:19] durack1 commented on #446
@gleckler1 was this in [1.1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/8)? If yes, we can close

[2017-11-21 22:23] durack1 commented on #86
@gleckler1 @zshaheen this was in for [1.1.2](https://github.com/PCMDI/pcmdi_metrics/milestone/8) right? If yes, then closing is a good idea

[2017-11-21 22:24] durack1 commented on #253
This revisit will be done in conjunction with #317

[2017-11-21 22:26] durack1 commented on #485
@chengzhuzhang can you ping me where these mappings are located in the [ACME-Climate/acme_diags](https://github.com/ACME-Climate/acme_diags)?

[2017-11-21 23:01] durack1 commented on #514
The issue has been *almost* fixed by adding the new channels and labels:
[code]
But it really needs to be cleaned up and a new `*.yml` file generated, we should combine this with a `1.1.3` push after the thanksgiving break

[2017-11-21 23:09] durack1 opened #517 "Update logos"
Add PMP and PCMDI logos [share/pcmdi](https://github.com/PCMDI/pcmdi_metrics/tree/master/share/pcmdi)

[2017-11-22 00:15] durack1 commented on #514
Attached are 2 files that have been working on ocean
[pmp_10172017.yml](https://github.com/PCMDI/pcmdi_metrics/files/1493455/pmp_10172017.yml.txt)
[pmp1.1.2.yml](https://github.com/PCMDI/pcmdi_metrics/files/1493457/pmp1.1.2.yml.txt)

[2017-11-22 02:08] durack1 commented on #517
Address @doutriaux1 comments in https://github.com/PCMDI/pcmdi_metrics/pull/518#issuecomment-346211193

[2017-11-22 17:55] lee1043 commented on #517
![pr access1-0_djf](https://user-images.githubusercontent.com/17091564/33142364-1320630e-cf6b-11e7-9d29-33383f62dbd1.png)

@durack1 @gleckler1 @doutriaux1
Candidate plot with new logos.
For PCMDI, 200x65 used without resizing. For CDAT, size shrinked 0.08 times.

[2017-11-22 17:59] gleckler1 commented on #517
@lee1043 @durack1 @doutriaux1  I like both new logos.  Maybe put PCMDI in upper right and CDAT in lower left... CDAT is pretty close to the legend units.

[2017-11-22 18:01] lee1043 commented on #517
@gleckler1 What about the locations of logos?

[2017-11-22 18:13] gleckler1 commented on #517
@lee1043 Currently PCMDI is in upper left... it could go to upper right.   Similarly CDAT could go in lower left.  But the main reason I am suggesting this is to get the logo away from the (mm d-1)... alternatively the units could get moved to be centered with colorbar or in lower left.   I don't have strong opinions about this so happy to follow your lead.

[2017-11-22 18:18] lee1043 commented on #517
@gleckler1 Like your idea. Thanks!

[2017-11-22 18:25] durack1 commented on #517
@lee1043 glad you were able to use these straight away, I’ll regenerate the CDAT logo at a smaller size, the 200px seems reasonable.. great!

[2017-11-22 18:27] lee1043 commented on #517
@durack1 Thanks. I had to cut out the Full name of CDAT under the logo, because resizing make the letter look bad.

[2017-11-22 18:29] durack1 commented on #517
@lee1043, yeah there are some resize jaggies associated with the CDAT logo, it looks great, but with targeted sizes it’ll look cleaner. The native 200px PCMDI logo is as sharp as the text, so we’ve achieved exactly what I was hoping, this looks great!

[2017-11-22 18:32] lee1043 commented on #517
![pr access1-0_djf](https://user-images.githubusercontent.com/17091564/33143966-6b2f5eba-cf70-11e7-97ab-ceb5ee7ccfc0.png)

suggestion of @gleckler1

[2017-11-22 22:09] lee1043 commented on #517
![pr access1-0_djf](https://user-images.githubusercontent.com/17091564/33151843-97160790-cf8e-11e7-9beb-aeac7d375fb9.png)

@gleckler1  Logo location changed.

[2017-11-28 01:02] #517 closed

[2017-11-28 18:40] #513 closed

[2018-01-02 23:56] gleckler1 commented on #478
@durack1 @doutriaux1 Haven't we abandoned support of installing from source?

[2018-01-03 00:00] durack1 commented on #478
@gleckler1 I think you're right, so we need to delete the page.. I see no reason why we'd want to continue to support this installation approach

[2018-01-03 00:11] doutriaux1 commented on #478
we should move it into a developer section

[2018-01-03 00:19] durack1 commented on #478
If we're not going to test and support it, we purge it, otherwise it gets too difficult

[2018-01-03 00:21] doutriaux1 commented on #478
well I'm testing it because that's how we install it when developing, no?

[2018-01-03 00:32] durack1 commented on #478
`install_metrics.bash` doesn't exist - so this page is just out of date altogether

[2018-01-03 00:36] doutriaux1 commented on #478
oh god! Yes that page is completely out of date... the correct way is setup.py install...

[2018-01-04 01:07] gleckler1 commented on #478
@durack1 @doutriaux1 I'd probably muck this up if I tried to change

[2018-01-04 01:13] gleckler1 commented on #498
@doutriaux1 @zshaheen  Better remove DEBUG until its really robust.   It has gotten in the way on several occasions.

[2018-02-12 22:31] wk1984 opened #525 "TypeError: load_default_args"
I have installed PMP by using conda:

conda install -c pcmdi/label/nightly pcmdi_metrics

Also, I tested "which pcmdi_metrics_driver.py" to confirm whether it was installed successfully.

All things look good. However, when I used "pmp_demo_1.py" to run the demo, it reported a TypeError like:

===============
Traceback (most recent call last):
  File "/Users/kangwang/anaconda2/envs/PCMDI/bin/pcmdi

[2018-02-12 23:34] doutriaux1 commented on #525
You will need to get the package that was updated just shortly and cdp > = 1.2.2 and the cia package

Conda create -n pmp -c uvcdat/label/nightly -c conda-forge -c uvcdat -c pcmdi/label/nightly -c pcmdi pcmdi_metrics cia

should do the trick. Please let us know.

C.

From: Kang <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com>
Date: Monday, February 12, 2018 at 2:31

[2018-02-13 00:49] wk1984 commented on #525
I used the command you @doutriaux1  suggested to create a new conda environment.

However, it is still the same problem.

-----------

We will now run the pmp using this parameter file
To do so we are using the follwoing command
pcmdi_metrics_driver.py -p /Users/kangwang/anaconda2/envs/pmp/share/pmp/demo/pmp_input_parameters_demo1.py
[Press enter]
Traceback (most recent call last):
  File "/Users/

[2018-02-13 17:16] doutriaux1 commented on #525
my bad i didn't realize you were using the demo. I need to update this script as well. I will ping you as soon as this is corrected.

[2018-03-02 19:10] liuye923 commented on #525
I also tried the demo script and got the same error. I solved it by adding a "_" before "load_default_args" in cdp_parser.py to make it a private function. However, I do not know the reason but it works in my case.

[2018-03-08 15:49] jcovert1994 commented on #525
I downloaded the latest version of pmp using anaconda and the following command as suggested on the install page:

$ conda install pcmdi_metrics -c conda-forge -c uvcdat -c uvcdat/label/v210 -c pcmdi

I got the same error as noted in this issue so I then proceeded to install it using doutriaux1's suggested command:

Conda create -n pmp -c uvcdat/label/nightly -c conda-forge -c uvcdat -c pcmdi/labe

[2018-03-29 23:25] lee1043 opened #531 "JSON structure"
I am loading a [JSON file](https://github.com/eguil/ENSO_metrics/blob/master/scripts/test_MC1_all.json) that has json structure described in it, but the Json structure is not appreciated when getting axes.

[code]

In the sample JSON file, `json_structure` is given as below:
[code]

But when run above code, below information is returned, which is completely different than above.

[code]

[2018-03-30 15:28] doutriaux1 commented on #531
@lee1043 it works for me in nightly, can you please check using nightly?
[code]

[2018-03-30 16:32] lee1043 commented on #531
@doutriaux1 thanks for following up this. `J.getAxisList()` returns below after installing pmp nightly, which I don't see any difference comparing to above, especially regarding the axis id. It does not match to the given [json structure](https://github.com/eguil/ENSO_metrics/blob/15661707d9b52846f1e09a3a0df7f1de4e517c36/scripts/test_MC1_all.json#L11503)

[code]

[2018-03-30 16:38] gleckler1 commented on #531
@lee1043 @doutriaux1  Since we need this now to advance the ENSO project with our collaborators, is there an alternate json_structure we could use as a temporary kludge until this can get fixed?   I recall with the modes of variability we were able to do some reverse engineering... i.e., able to get the results even though they were not labeled properly.

[2018-03-30 19:22] lee1043 opened #532 "Continents coastal line in Portrait plot?"
Somehow a portrait plot that I generated has a line that looks like part of continents coastal line. I have no idea where it come from.

![index](https://user-images.githubusercontent.com/17091564/38150565-62d7352c-3414-11e8-866e-8455b628cd62.png)

input JSON:
https://github.com/eguil/ENSO_metrics/blob/master/scripts/test_MC1_all.json

Python script:
[ENSO_PP-Test.py.txt](https://github.com/PCMDI/

[2018-03-30 19:50] gleckler1 commented on #532
@lee1043  wow!   Thats a new feature... we'll have to think how to use that one ;-)

[2018-03-30 20:11] doutriaux1 commented on #531
@lee1043 are you using a nightly pmp? It works for me there's even a test with YOUR json file see:

https://github.com/PCMDI/pcmdi_metrics/pull/533

[2018-03-30 20:15] doutriaux1 commented on #532
@lee1043 I did see and fixed this. Are you using CDAT 8.0?

[2018-03-30 21:39] lee1043 commented on #532
@doutriaux1 I was using 3.0. I will try with 8.0.

[2018-04-03 22:28] lee1043 commented on #531
@doutriaux1 yes I am using nightly pmp. And I still have same issue with cdat8. Can you please copy and paste your result here when you do `J.getAxisList()`? I am curious to see. Thanks!

[2018-04-03 22:29] lee1043 commented on #532
@doutriaux1 this issue was gone with using cdat 8.0. Thanks.

[2018-04-03 22:29] #532 closed

[2018-04-09 12:43] doutriaux1 commented on #531
@lee1043 ping me when you get in, we'll fix this. I'm suspecting you have a pcmdi_metrics installed somewhere please paste the result of:

[code]

[2018-04-09 18:57] lee1043 commented on #531
[code]
[code]
@doutriaux1 hope this help to diagnose the problem. thanks!

[2018-04-10 21:47] lee1043 commented on #531
issue solved with help from @doutriaux1 by replacing
[code]
to
[code]

[2018-04-11 14:17] doutriaux1 commented on #531
@lee1043 thanks for confirming, indeed you should use the base class, I believe the one in `pcmdi` has been tweaked to reflect the structure produced by the `compute_pcmdi_metrics` script.

[2018-04-11 16:32] lee1043 commented on #531
@doutriaux1 okay, thanks for confirming! 👍

[2018-04-13 16:59] #531 closed

[2018-04-25 01:26] gleckler1 opened #534 "MFW extremes"

[2018-04-25 15:47] doutriaux1 commented on #534
Michael F. Wehner? 😉

[2018-04-25 15:51] durack1 commented on #534
@mfwehner your name may have been raised here

[2018-04-25 17:14] gleckler1 commented on #534
Yes, I'll be putting MFW's code in here for us to chip away at.   We'll get him in the loop!

[2018-04-26 21:24] gleckler1 opened #535 "include parameter files for monsoon_wang and diurnal_covey"

[2018-04-26 22:40] durack1 commented on #303
@gleckler1 @doutriaux1 really, we've fixed this? If yes that's a huge step forward and we should push for a new release ASAP

[2018-04-27 00:40] gleckler1 commented on #535
@doutriaux1   OK I've created a branch (535_pjg_monsoon_diurnal_parameterfiles) with a test parameter file (examples/parameter_files/test_inparams-mpindex_compute.py).  This points to data on oceanonly.... **better would be to automatically download file or use readily accessible test-case data**.   I will add an example for the diurnal next.

[2018-04-27 17:31] gleckler1 commented on #342
implemented!

[2018-04-27 17:31] #342 closed

[2018-04-27 17:33] gleckler1 commented on #478
@durack1 @doutriaux1  Do we want to remove
https://github.com/PCMDI/pcmdi_metrics/wiki/Install-from-source
And just point users to conda?

[2018-04-27 17:40] durack1 commented on #478
@gleckler1 yep - it's the only supported path

[2018-04-27 20:11] gleckler1 commented on #492
@doutriaux1   CD did you ever do this?   If y pls close.

[2018-04-27 20:17] doutriaux1 commented on #492
No I didn't remove it. It's not hurting anything except maybe performance. I'll take it out next week.

[2018-04-27 20:18] #478 closed

[2018-04-27 21:34] gleckler1 opened #536 "fix CD bug in diurnal"

[2018-04-27 22:10] gleckler1 commented on #535
@doutriaux1   There is now also a test parameter file for the first diurnal code.   This works on data avail on crunchy.   Like the monsoon example mentioned above (same branch and subdir), the test param for diurnal would be good to be "self contained", ie., somehow able to run with the test data we have in the repository, or perhaps hanging off a website.

[2018-04-30 14:19] doutriaux1 opened #538 "Mac vs Linux"
I updated all baselines on Linux, now ran it on Mac, 5 tests are failing. Here is the summary:

`test_pmp_basic_test_parameters_file`

[code]

`testSavg_fourierWrappedInOut`
[code]

`test_pmp_keep_going_on_error_varname`

[code]

`test_pmp_region_specs`

[code]

`test_pmp_salinity_test`

[code]

I will investigate the diurnal error. What are you guys thinking of the other erros @taylor13 @gleckler

[2018-04-30 20:38] gleckler1 commented on #538
@doutriaux1 @taylor13 @durack1   CD, I believe **ALL** of the tests above involve masking.  It would be helpful to know how MAC and LINUX compare for cases without masking.   Additionally, I believe all tests above (except diurnal not yet working) are from ocean native grids.   Good to know, but it would also be useful to know how MAC/LINUX compare with regular grids (with and without masking).

B

[2018-05-02 19:06] gleckler1 opened #539 "staying with legacy or not?"
@doutriaux1 @zshaheen I've noticed that within the last month both the legacy and newer driver have changed... this is dangerous.   If we can get the newer driver working, that would be great as it looks more intuitive (the original driver is very mysterious to me), and all that work Zeshawn did for being able to test mods against mods etc would be very powerful.   HOWEVER,  I have never managed t

[2018-05-02 19:32] gleckler1 commented on #535
@doutriaux1  We should discuss whether or not these test_parameter files rely on the small test data on the repo or if we pull down larger data on the fly to provide a more informative test case

[2018-05-02 19:33] gleckler1 opened #540 "include mean_clim json filename as an option in the parameter file"

[2018-05-02 19:35] doutriaux1 commented on #535
@gleckler1 when we have tests relying on bigger dataset I'll add them to the suite, but skip them on travis

[2018-05-02 20:43] gleckler1 commented on #535
@doutriaux1  Right.   So your task with this branch ((535_pjg_monsoon_diurnal_parameterfiles) is to set up the parameter files I've added to work with the test suite.

[2018-05-03 01:13] gleckler1 opened #541 "add regrid option to monsoon param"

[2018-05-03 21:51] doutriaux1 opened #542 "pcmdi_mtrics_driver should exit if no ref found"
When converting from legacy param file we ran into an obscure error that was due to the fact that no result where computed because no error were found.

[2018-05-03 21:54] doutriaux1 opened #543 "if no result were generated pcmdi_metrics_driver dies in writing json file"
error it completely obscure and not releated

[2018-05-04 01:08] gleckler1 commented on #543
@doutriaux1 do you have a working param file I can try out?  I'm using your branch but still struggling to be errorless...

[2018-05-08 14:47] #538 closed

[2018-05-08 14:50] doutriaux1 opened #547 "show values in Portrait Plots Cells"
@lee1043 had this idea.

[2018-05-08 16:43] lee1043 commented on #547
Below is for example that I created for clarification. Thanks @doutriaux1 for following up on this.

![enso_mc1_pp_matplotlib_test1_annotatenormalizednumbers](https://user-images.githubusercontent.com/17091564/39770510-15042054-52a4-11e8-9676-132b1482f822.png)

[2018-05-08 16:44] doutriaux1 commented on #547
@lee1043 I'm almost there, should have an example for you shortly

[2018-05-08 16:50] lee1043 commented on #547
@doutriaux1 awesome. Thanks. One question: below is same as above, but showing different numbers. In above plot, numbers are corresponding to the color bar, which are values getting after normalizing by median of each row. In below plot, color bar is corresponding to the normalized value, but numbers are from actual value BEFORE normalizing. Would it be possible to show as below as well?

![enso_m

[2018-05-08 16:51] lee1043 commented on #547
@gleckler1 might be interested as well

[2018-05-08 16:57] doutriaux1 commented on #547
@lee1043 the `different` numbers options is doable, thanks for pointing it out now. I will add this.

[2018-05-08 18:32] doutriaux1 commented on #547
@lee1043 @gleckler1 is that what you want?
![testvaluesonportrait](https://user-images.githubusercontent.com/2781425/39775685-804569a4-52b3-11e8-9ef3-ed220e767c89.png)

[2018-05-08 18:33] doutriaux1 commented on #547
@lee1043 I let you control the font, color, angle, etc.. I locked the font size though, I shrink the size until the largest text fits in its cell.

[2018-05-08 18:37] gleckler1 commented on #547
@doutriaux1 @lee1043 Hey that is nifty... will it work in each triangle?  Also, as JW indicated normally we'll want the numbers to be different than the colors (e.g., one will be normalized the other not).

[2018-05-08 18:37] doutriaux1 commented on #547
@lee1043 another one where I forced the plot values to be what I want (value+2. here)

[2018-05-08 18:38] doutriaux1 commented on #547
@gleckler1 as shown above we can control the numbers

[2018-05-08 18:39] doutriaux1 commented on #547
@gleckler1 it should work in triangles

[2018-05-08 18:40] doutriaux1 commented on #547
@gleckler1 showing first out of triangles here
![testvaluesonportrait](https://user-images.githubusercontent.com/2781425/39776076-a829ec8c-52b4-11e8-8f7e-6e80824ec2f7.png)

[2018-05-08 18:41] #539 closed

[2018-05-08 18:45] gleckler1 commented on #535
@doutriaux1 currently the tests in this PR point to data in crunchy.   Can you fix them to point to the test data suite so that a user can run them?

[2018-05-08 20:15] durack1 commented on #547
Nice! @lee1043 @doutriaux1, I've used multiple colours when plotting these things against varied backgrounds, so the text is visible, so white against dark colours and black against light colours

[2018-05-08 20:25] doutriaux1 commented on #547
@durack1 darn you! I'll add an option to control the colors. @lee1043 @durack1 do you have an algorithm to pick the best possible color?

[2018-05-08 20:40] doutriaux1 commented on #547
@lee1043 @gleckler1 @durack1 ok, I looked into the dark/light color bit, it might take a bit of time to implement. Do you need this urgently?

[2018-05-08 22:31] lee1043 commented on #547
@doutriaux1 in my matplotlib example, you will see some text with white over dark background while rest text with black over light background. I was using loop for placing each numbers where I controlled its color. I am not sure how this would work with your VCS code.

No urgency for text color for me. I will start chipping away with the new branch you pointed. Thanks!

[2018-05-08 22:47] doutriaux1 commented on #547
@lee1043 Im' 90% done with an auto detection of background color... Will let you know when I updated the branch

[2018-05-08 22:49] lee1043 commented on #547
@doutriaux1 awesome, thanks!

[2018-05-08 23:00] doutriaux1 commented on #547
@lee1043 I pushed it into the branch, is this what you want:
![testvaluesonportrait](https://user-images.githubusercontent.com/2781425/39787184-f6912cfe-52d8-11e8-919e-ac5a54e5b8e5.png)

[2018-05-08 23:01] doutriaux1 commented on #547
@lee1043 right now it's only black or white let me add an option to control these two colors

[2018-05-08 23:03] lee1043 commented on #547
@doutriaux1 correct, thanks!

[2018-05-09 21:46] lee1043 commented on #547
@doutriaux1 I am getting error for `P.PLOT_SETTINGS.values.show = True` as below.

code:
[code]

error:
[code]

I updated my pmp nightly as below:
[code]

Any advice, please. Thanks!

[2018-05-09 22:04] doutriaux1 commented on #547
hum... looks like it didn't make it in... Did you install manually in your env as well? Sometime they conflict.

[2018-05-09 22:07] lee1043 commented on #547
@doutriaux1 yes I manually installed pmp nightly in my existing env. As version number says last updated at 5/8 I thought I have the right one.

[2018-05-09 22:14] doutriaux1 commented on #547
try
[code]
let me know

[2018-05-09 22:20] gleckler1 opened #549 "add precip orthogonal decomposition to diurnal codes"
@doutriaux1 @taylor13 @covey1   Add "irregular sub-diurnal variations" to Curt's diurnal code.

[2018-05-10 18:42] lee1043 commented on #547
@doutriaux1 thanks for help, it works nicely!
![index](https://user-images.githubusercontent.com/17091564/39887452-216239ae-5447-11e8-9c80-3412e0f88c69.png)

[2018-05-10 21:04] gleckler1 commented on #547
@doutriaux1 @lee1043 Great to have this capability.   It will be interesting to see how well it works with clickable :-)

[2018-05-10 21:04] #547 closed

[2018-05-10 23:47] lee1043 commented on #547
@doutriaux1 Could you please provide example code for control numbers? thanks!

[2018-05-11 14:19] doutriaux1 commented on #547
@lee1043 see: https://github.com/PCMDI/pcmdi_metrics/blob/master/tests/test_pmp_portrait_values_on.py#L109

[2018-06-13 02:21] wjchen1203 commented on #525
I download the latest version of pmp by using anaconda. I got similar problem as previous users.
When i run the demo, i got the following problem:

$ python pmp_demo_1.py
============
Traceback (most recent call last):
  File "/home/xb37/anaconda2/bin/pcmdi_metrics_driver.py", line 196, in <module>
    parser = pcmdi_metrics.driver.pmp_parser.PMPParser()
  File "/home/xb37/anaconda2/lib/python2.7/

[2018-06-13 11:36] doutriaux1 commented on #525
@wjchen1203 apologies for the delay on this, I will update the demo by the end of the week.

[2018-06-13 11:36] doutriaux1 commented on #525
@gleckler1 @durack1 is this demo still relevant anyway?

[2018-06-13 14:34] Cypresslin commented on #525
I did a quick test for this by running the pmp_demo_1.py script directly, it looks like the problem lies within the pcmdi_metrics/driver/pmp_parser.py.

it's trying to call the load_default_args function in PMPParser, which only takes one argument, instead of the one in CDPParser:

    def load_default_args(self):

Thus it cause this error message:

    TypeError: load_default_args() takes exactly

[2018-06-14 20:51] gleckler1 opened #552 "add JwL's variability stats to PMP"
from this https://github.com/PCMDI/modes_of_variability/blob/master/devel/variability_mode/lib/calc_stat.py

add to https://github.com/PCMDI/pcmdi_metrics/tree/master/src/python/pcmdi

Consult with @doutriaux1 on how best to do this... one file as in JwL's code or an individual file for each statistic?
@lee1043

[2018-06-14 23:02] lee1043 commented on #508
Attempt:
`conda install pcmdi_metrics -c cdat/label/nightly -c conda-forge -c cdat -c pcmdi/label/nightly -c pcmdi`

Error message:
[code]

@doutriaux1 any advice please?

[2018-06-14 23:30] lee1043 commented on #508
conda create -n pmp_nightly_20180614-3 -c cdat/label/nightly -c pcmdi/label/nightly -c conda-forge -c cdat -c pcmdi pcmdi_metrics python=2.7

[2018-06-15 03:03] lee1043 commented on #508
Installing instruction at https://github.com/PCMDI/pcmdi_metrics/wiki/Install-using-Anaconda needs to be updated

[2018-06-15 03:04] lee1043 commented on #479
@gleckler1 @doutriaux1 could you please show me how this work, when you have time?

[2018-06-18 13:35] doutriaux1 commented on #479
@lee1043 I can show you tomorrow, in the mean time look in the test directory, it's a bare bones example.

[2018-06-20 00:56] gleckler1 commented on #508
@doutriaux1 @lee1043  Probably good to plan a release soon because its not great to point to a moving target.

[2018-06-20 01:33] durack1 commented on #508
@gleckler1 set a target date, https://github.com/PCMDI/pcmdi_metrics/milestones

[2018-06-20 14:32] doutriaux1 commented on #508
Let's finish the tweaks for @lee1043 jsons tomorrow and release tomorrow then.

[2018-06-20 14:43] gleckler1 commented on #508
@doutriaux1 @lee1043 @durack1  OK, this will be another minor (low profile) release - 1.1.3 ... at least since 1.1.2 we've added Wang's Monsoon precipitation index and Curt's diurnal cycle codes.

[2018-06-20 14:47] doutriaux1 commented on #508
@gleckler1 it should be 1.2 the last digit is supposed to indicate "patches", these are actually new features, which we can consider as "minor"

[2018-06-20 15:01] durack1 commented on #508
@doutriaux1 if we want to go down the py2 AND py3 path, this is something that we need to discuss.. It'd be nice to have both versions available for users

[2018-06-20 15:23] doutriaux1 commented on #508
@durack1 py2 and py3 are both available, you're right. It's kind of major tooo, might want to up to 2.0? Plus we will introduce the cdat-forge channel

[2018-06-20 16:47] gleckler1 commented on #508
@durack1 @doutriaux1 Agreed with 1.2.  Not ready for 2.0 because additions of new metrics is nominal.    GREAT to introduce the cdat-forge channel in this release!

[2018-06-27 17:08] lee1043 opened #553 "PMP parser help does not follow line change"
I would like to make the description given from PMPParser help nicely using line changer, `\n`, but the code does not work with the line changer.

[code]

Screen printed output for `-h` option:
[code]
[code]

Following `--var VAR`, `Line1 Line2 option1 option2 Additional_description` are listed on the same line.

[2018-06-27 17:09] lee1043 commented on #553
@doutriaux1 @zshaheen any advice for me, please? Thanks!

[2018-06-27 18:02] lee1043 commented on #553
[Solution for argparse](https://stackoverflow.com/questions/3853722/python-argparse-how-to-insert-newline-in-the-help-text) is not helpful for pmpparser

[2018-06-27 18:10] zshaheen commented on #553
I don't really have a working pmp env, but try the following or something similar:
[code]
All of the CDP parsers inherit from `ArgumentParser`, which is what your example does. So this might work.

[2018-06-27 18:14] lee1043 commented on #553
@zshaheen thanks for your reply. Unfortunately that gives error as below:
[code]
which seems like the `formatter_class` is not recognizable for PMPParser.

[2018-06-27 18:41] zshaheen commented on #553
I realized that we had `formatter_class=argparse.ArgumentDefaultsHelpFormatter` be the default formatter class for `cdp_parser`. I've just removed this and tested with your example and everything works. Please get the latest code from master.

We shouldn't even have had a default value for this. When we do, users like yourself cannot overwrite it. And the default help displayed isn't so different

[2018-06-27 19:09] doutriaux1 commented on #553
@zshaheen I did add this, why do you remove it? w/o it the `--help` does NOT show the default values, that's bad.

[2018-06-27 19:30] doutriaux1 commented on #553
@zshaheen yes that's the way to go, overwrite the default if needed (like here)

[2018-06-27 21:03] lee1043 commented on #553
@doutriaux1 @zshaheen thanks for following up. Will it be available in pmp nightly version soon?

[2018-06-27 21:04] doutriaux1 commented on #553
@lee1043 it doesn't require any change to cdp, just add it to your script, right @zshaheen ?

[2018-06-27 22:23] zshaheen commented on #553
You'll need the latest cdp on master. So clone the cdp repo and manually install it with `python setup.py install`. If you have any issues, let me know.

So Jiwoo, after you update the example I have here would work: https://github.com/PCMDI/pcmdi_metrics/issues/553#issuecomment-400778434

[2018-06-27 22:36] doutriaux1 commented on #553
@zshaheen master should be in nightly. Did you have to change anything for @lee1043 stuff to work?

[2018-06-27 22:38] doutriaux1 commented on #553
ngihtlies are at: https://anaconda.org/cdat/cdp/files

Looks like a few push went straight into master @zshaheen 😉

[2018-06-27 23:45] zshaheen commented on #553
@doutriaux1 Yes, I did change some stuff in CDP for Jiwoo's example to work. Nothing was changed in pmp.

[2018-07-02 16:52] lee1043 commented on #553
@zshaheen @doutriaux1 yay! The line change works nicely after I updated cdp. Many thanks to @zshaheen and @doutriaux1 👍

[2018-07-03 17:34] gleckler1 commented on #508
@lee1043

[2018-07-03 17:34] #508 closed

[2018-07-03 17:35] #492 closed

[2018-07-03 17:37] gleckler1 commented on #377
@lee1043 we are way ahead of this now ;-)

[2018-07-03 17:37] #377 closed

[2018-07-03 17:39] gleckler1 opened #554 "update monsoon wang parameter file and diagnostics"

[2018-07-03 17:40] #554 closed

[2018-07-05 22:38] gleckler1 commented on #511
parameter files cannot include a '-'

[2018-07-05 22:38] #511 closed

[2018-07-05 22:42] gleckler1 opened #555 "include in share a json file with model listing for each generation of CMIP for historical/20c3m, picontrol and AMIP..."
Logical place for this json file will be https://github.com/PCMDI/pcmdi_metrics/tree/master/share

[2018-07-10 22:44] lee1043 commented on #404
opened branch for the task: https://github.com/PCMDI/pcmdi_metrics/tree/404_jwl_pentmonsoon

[2018-07-10 22:49] lee1043 commented on #404
@gleckler1 In my understanding it seems like we start coding for the metrics from the scratch, is that correct? Please let me know if there is a draft code that I can refer somewhere.

[2018-07-10 22:51] lee1043 commented on #404
@durack1 could you please remind me what was for the given link? The link does not work anymore, so cannot get what you meant. Thanks!

[2018-07-10 22:52] gleckler1 commented on #404
@lee1043 Yes, from scratch...  but good news... https://github.com/PCMDI/pcmdi_metrics/blob/master/share/default_regions.py

One headache... we need to mask out over ocean.

[2018-07-10 22:57] durack1 commented on #404
@lee1043 it seems like the server pcmdi.llnl.gov is down, so try here https://pcmdi.github.io/staff/sperber/supplemental.html

[2018-07-10 23:21] gleckler1 commented on #555
@lee1043 Ok this is in master so from a parameter file you can get all possible models via:
f  = open(sys.prefix + "/share/pmp/cmip_model_list.json")
possible_mod_dic = json.load(f)
modnames = possible_mod_dic[MIP][experiment]

[2018-07-10 23:21] #555 closed

[2018-07-10 23:23] durack1 commented on #555
@gleckler1 @lee1043 just FYI and in preparation, we also have the listing of CMIP6 contributing models found in https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_source_id.json - those which include an `activity_participation = [*, CMIP, *]` will be providing DECK (piControl, historical, and AMIP) simulations

[2018-07-11 17:08] gleckler1 commented on #553
@lee1043  I think we can close this issue now... do you agree?

[2018-07-11 19:22] lee1043 commented on #553
@gleckler1 Of course. Thanks for reminding!

[2018-07-11 19:22] #553 closed

[2018-07-12 16:16] gleckler1 commented on #514
@durack1 @doutriaux1 I guess it will be the next release (next week?) where we finally get a stable yml via release on PMP-forge or CDAT-forge... i.e., 1.1.2 yml is not going to get fixed so now closing this.

[2018-07-12 16:16] #514 closed

[2018-07-12 17:03] durack1 commented on #514
@doutriaux1 it would be great to push out a new release, so we're up-to-date

[2018-07-12 17:03] doutriaux1 commented on #514
let me fix them. I'm in the process of fixing cdat yam ls as well! And yes next release with cdat-forge will be so nice!

[2018-07-16 20:49] #334 closed

[2018-07-16 23:51] gleckler1 opened #557 "conda env failing"
@doutriaux1  Any hints??

(base) bash-4.1$
(base) bash-4.1$ conda create -n pmp_cdat_nightly_0716 -c cdat/label/nightly -c conda-forge -c cdat -c pcmdi cdat pcmdi_metrics python=2.7
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pcmdi_metrics
  - vcsaddons==2.10
  - pcmdi_metrics
  - vcs==2.10

Current channels:

  - https:/

[2018-07-17 00:35] gleckler1 opened #558 "fix monsoon_wang parser"

[2018-07-17 14:34] doutriaux1 commented on #557
2.10 is on the `uvcdat` channel not `cdat`

[2018-07-17 14:35] doutriaux1 commented on #557
@gleckler1 we need to release a new version asap with updated everything and cdat-forge channel

[2018-07-17 16:12] gleckler1 commented on #557
@doutriaux1 Looks like the wiki instructions for anaconda install our wrong (CD last updated last month) https://github.com/PCMDI/pcmdi_metrics/wiki/Install-using-Anaconda
Can you set it straight?

[2018-07-17 16:17] gleckler1 commented on #557
@doutriaux1
(base) bash-4.1$ conda create -n pmp_cdat_nightly_0716 -c cdat/label/nightly -c conda-forge -c uvcdat -c pcmdi cdat pcmdi_metrics python=2.7
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - cdat
  - pcmdi_metrics
  - vcs==2.10

[2018-07-17 16:17] gleckler1 commented on #557
@doutriaux1  Also tried:
(base) bash-4.1$ conda create -n pmp_cdat_nightly_0716 -c uvcdat/label/nightly -c conda-forge -c cdat -c pcmdi cdat pcmdi_metrics python=2.7
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pcmdi_metrics
  - vcsaddons==2.10
  - pcmdi_metrics
  - vcs==2.10

Current channels:

  - https://conda.anaconda.

[2018-07-18 22:34] gleckler1 opened #559 "include working example param files..."
@doutriaux1 A fundamental part of the PMP documentation depends on having example parameter files that a user can **run out-of the box**... for 1.1.3 that will include mean climate, monsoon_wang,  diurnal_covey, and possibly compute_clims.   These param files go in https://github.com/PCMDI/pcmdi_metrics/tree/master/examples/parameter_files.   PG is working on these documentation-ready examples.

F

[2018-07-18 23:49] doutriaux1 commented on #559
hum... `out_of_the_box` it not going to happen until we agree on a way to distribute obs in a standard way.

[2018-07-23 23:00] gleckler1 opened #562 "AP pr prototype"

[2018-07-31 16:05] gleckler1 commented on #516
@doutriaux1 @durack1 updated check list note addition for ENSO metrics
- [ ] Validate version info is correctly written (version indicated v1.1.3)
- [ ] Set all CDAT dependencies to CDAT8 in meta.yaml
- [ ] Obtain zenodo DOI
- [ ] Finalise README.md with updated DOI
- [ ] Move tag point to new commit
- [ ] Generate conda release and update https://anaconda.org/PCMDI/pcmdi_metrics/files
- [ ] Updat

[2018-08-01 15:11] doutriaux1 opened #564 "tag and conda-forge Eric and Jiwoo external code."
@lee1043 @gleckler1 can you please point me to it.

[2018-08-01 15:14] doutriaux1 commented on #541
@gleckler1 for 1.2?

[2018-08-01 15:16] doutriaux1 opened #565 "push conda packages to cdat-forge"

[2018-08-01 15:55] doutriaux1 commented on #564
@gleckler1 @durack1 @lee1043 is that the correct repo/tag:

https://github.com/eguil/ENSO_metrics/releases/tag/v0.1

[2018-08-01 16:14] durack1 commented on #564
https://github.com/eguil/ENSO_metrics/releases/tag/v0.1.1 might be the latest

[2018-08-01 17:11] gleckler1 commented on #564
@doutriaux1 Yes

[2018-08-01 18:10] gleckler1 commented on #564
@doutriaux1 @durack1 @lee1043  Yes v0.1.1 seems to be latest.  How goes the pmp-forge hook-up?

[2018-08-01 20:48] lee1043 commented on #564
yes, v0.1.1 is latest

[2018-08-07 20:16] gleckler1 commented on #552
@doutriaux1 We don't have a PR for the @lee1043 variability modes, so for 1.2.0 we can leave this until 1.3.0

[2018-08-07 20:19] gleckler1 commented on #562
PG working on this, scheduling for 1.3

[2018-08-07 21:51] gleckler1 commented on #535
@doutriaux1  diurnal param file no longer working.... changes to dask since you wrote this last September?

(pmp_0808_py2.7) bash-4.1$ compositeDiurnalStatisticsWrapped.py -p test_inparams_compositeDiurnalStatistics.py
done
MODPATH: /work/cmip5-test/new/amip/atmos/3hr/pr/
TEMPLATE: cmip5.IPSL-CM5A-LR.amip.r1i1p1.3hr.atmos.3hr.pr.000000.v*.xml
FILES: ['/work/cmip5-test/new/amip/atmos/3hr/pr/cmip5.I

[2018-08-07 21:52] doutriaux1 commented on #535
is it new env?

[2018-08-07 21:54] gleckler1 commented on #535
@doutriaux1 just created with conda create -n pmp_0808_py2.7 -c cdat/label/nightly -c conda-forge -c cdat -c pcmdi/label/nightly -c pcmdi cdat pcmdi_metrics python=2.7

[2018-08-07 22:02] gleckler1 commented on #558
@doutriaux1 this is redundant with 558 pjg monsoon wang parser so closing..

[2018-08-07 22:02] #558 closed

[2018-08-07 22:07] #536 closed

[2018-08-07 22:11] #502 closed

[2018-08-08 23:59] gleckler1 commented on #535
@doutriaux1  Need to get this one working again before release.   Seems like the dask stuff is still a moving target.   the --bash option you setup for clim-cmor is a functioning temporary solution.  I'm not sure if the better thing to do with diurnal (via param file) is to fix it or to overhall it to use parallelize_driver.py

[2018-08-09 00:11] doutriaux1 commented on #535
on it should be done tomorrow (finger crossed)

[2018-08-09 01:05] doutriaux1 opened #566 "cdp args returned different type depending on linux py2 or py3"
[code]

***Linux PYTHON 3***
[code]

***Linux PYTHON 2 or Mac any Python***
[code]

[2018-08-09 01:10] doutriaux1 commented on #566
[code]

[2018-08-09 01:12] doutriaux1 commented on #566
fixed by updating to latest cdp...

[code]

[2018-08-09 01:13] doutriaux1 commented on #566
@zshaheen leaving this open because now I'm wondering if it shouldn't actually be a `list` the definition is `ast.literal_eval` shouldn't it come back as a list?

[2018-08-10 10:04] wjchen1203 commented on #525
Hi, @doutriaux1 just wanna ask if there is any updated about this issue?

[2018-08-11 00:34] gleckler1 opened #569 "JSON class not loading compliant file"
@doutriaux1  Attached file (without the .txt) can't be read with
J = pcmdi_metrics.pcmdi.io.JSONs(inpath)

(pmp_cdat8) bash-4.1$ python -i portrait_test.py
Traceback (most recent call last):
  File "portrait_test.py", line 12, in <module>
    J = pcmdi_metrics.pcmdi.io.JSONs(inpath)
  File "/export/gleckler1/anaconda2/envs/pmp_cdat8/lib/python2.7/site-packages/pcmdi_metrics/pcmdi/io.py", line 57,

[2018-08-14 22:20] gleckler1 commented on #569
@lee1043 Any ideas why this does not work after removing the ".txt" from the attached json file?

[2018-08-15 21:00] lee1043 commented on #569
@gleckler1 could you please point where I can find the portrait_test.py?

[2018-08-15 21:07] gleckler1 commented on #569
@lee1043 This is it...

import glob
import json
import os, sys
import pcmdi_metrics

inpath = '/work/lee1043/cdat/pmp/pmp_results/tree_v0.3/pmp_v1.1.2/metrics_results/monsoon/monsoon_wang/cmip5/historical/test1/monsoon-wang_CMIP5_historical-regrid2_regrid2_2018-07-19-10-58-22.json'

J = pcmdi_metrics.pcmdi.io.JSONs(inpath)
print J.keys()

[2018-08-15 21:45] lee1043 commented on #569
@gleckler1 could you please replace bottom two lines to below and give a try?
[code]
For me I see below as result.
[code]

[2018-08-15 21:50] lee1043 commented on #569
@gleckler1,

@doutriaux1 recommended not to use `pcmdi_metrics.pcmdi.io.JSONs` as it returns something hard-coded axis IDs as below:
[code]
[code]
which is not defined as `json_structure` in the JSON file. @doutriaux1 please correct me if I am wrong.

[2018-08-15 21:52] lee1043 commented on #569
note: the `inpath` should be given as list, `[inpath]` to the json loading function

[2018-08-20 13:02] doutriaux1 commented on #525
@gleckler1 @durack1 should fix this demo? Or remove it? @wjchen1203 is asking.

[2018-08-20 13:53] doutriaux1 commented on #569
@lee1043 correct the method used by @gleckler1 is a convenience subclass used for pcmdi_metrics results.

[2018-08-20 13:53] #569 closed

[2018-08-20 16:28] doutriaux1 commented on #525
yeah it's an old demo though... I'll fix it on Thursday.

[2018-08-20 16:30] gleckler1 commented on #525
We are in the process of overhauling the PMP demos.  The existing demo and demo1 should be considered deprecated - we will note that.   The new suite of demos will be ready mid to late September.

[2018-08-29 17:29] lee1043 commented on #404
Pull Request: https://github.com/PCMDI/pcmdi_metrics/pull/563

NOTE FOR ISSUES (*: resolved)
*1. syear/eyear given by parameter file need to be refered in the code
*2. ocean mask for land only is not complete; refer placeholder
*3. pathin need to be fully replaced by modpath
*4. reference data (obs) is yet to be used
*5. 72 pentad to 73 pentad interpolation need to be added for HadGEM2 models
*6.

[2018-09-10 23:35] gleckler1 commented on #534
@mfwehner see updated code with print statements to track down error:
https://github.com/PCMDI/pcmdi_metrics/blob/534_pjg_mfw_extremes/src/python/devel/extremes/scripts/driver_extrema_longrun_pentad.py

Compare with execution below ... I suspect the slab.shape should be ~365 but its the entire timeseries...

(pmp_0808_py2.7) bash-4.1$ python -i driver_extrema_longrun_pentad.py
starting annual y1 y

[2018-09-10 23:52] mfwehner commented on #534
Yes, let me take a look. But I have some python execution problems of my own at NERSC. I think a lib changed and I don’t believe anything…
m

[code]

[2018-09-21 20:19] #481 closed

[2018-09-21 21:59] gleckler1 commented on #394
Now handled on a separate repository

[2018-09-21 21:59] #394 closed

[2018-09-21 22:01] gleckler1 commented on #565
@doutriaux1  Closing as I believe this is now accomplished... correct me if I am wrong.

[2018-09-21 22:01] #565 closed

[2018-09-21 22:04] gleckler1 commented on #403
@doutriaux1 @durack1  Any new issues associated with json provenance can be resurrected as a new issue

[2018-09-21 22:04] #403 closed

[2018-09-21 22:05] gleckler1 commented on #404
@lee1043 @doutriaux1  JW thank you for making this happen and CD for tests!   Closing issue now...

[2018-09-21 22:05] #404 closed

[2018-09-21 22:06] durack1 commented on #403
@gleckler1 no problem, we may have to reopen this when the PMPobs database is finalized, along with its metadata

[2018-09-21 22:06] #390 closed

[2018-09-21 22:07] #236 closed

[2018-09-21 22:09] gleckler1 commented on #380
@doutriaux1 I think this can be close now correct?

[2018-09-21 22:09] #380 closed

[2018-09-21 22:27] gleckler1 commented on #395
@doutriaux1 Its better to produce "derived" variables before running mean_climate driver... that is still what we do.

[2018-09-21 22:27] #395 closed

[2018-09-25 23:45] gleckler1 opened #577 "var.id in monsoon_wang diagnostics needs to be set, also, obs results saved"
@lee1043 Will try to have this done and rerun early Weds AM.

[2018-09-26 06:56] lee1043 commented on #577
@gleckler1 no problem. I got a way to grep the var.id as random number, so no rush on this. Necessity of OBS is actually higher priority, but I can mimic one of model as OBS just for code developmental purpose. Thanks!

[2018-09-26 12:37] doutriaux1 commented on #577
@lee1043 @gleckler1 can i help on this?

[2018-09-26 16:45] gleckler1 commented on #577
@doutriaux1 @lee1043 Thanks CD, I am working on this one now.   You and I need to talk about how to host data to run "examples" ...

[2018-09-26 16:54] doutriaux1 commented on #577
@gleckler1 does pcmdiweb.llnl.gov have a webserver open on the green?

[2018-09-26 16:57] durack1 commented on #577
@doutriaux1 yep, that machine is hosting https://pcmdi.llnl.gov

[2018-09-26 17:06] gleckler1 commented on #577
@doutriaux1 and is where we will host plots from the PMP and supporting data (PMPobs, data to run examples, etc).

[2018-09-26 17:14] gleckler1 commented on #577
@lee1043 the beginnings of our new obs is at:  /p/user_pub/pmp/pmp_obs/PMPObs/pmpobs1-5-1/atmos/mon/pr/GPCP-2-3/gn/v20180706
.... however, what you need is the annual cycle climatology of this data.  You can use as a place holder /work/gleckler1/processed_data/obs/atm/mo/pr/GPCP/ac/pr_GPCP_000001-000012_ac.nc
I will start working on the annual cycle climatolgies of the new database.

[2018-09-26 20:19] gleckler1 commented on #577
Hi Jiwoo,

Some updated results for monsoon_wang are in:

/p/user_pub/pmp/pmp_results/tree_v0.3/pmp_v1.1.2/diagnostic_results/monsoon/monsoon_wang/cmip5/historical/092618
And

/p/user_pub/pmp/pmp_results/tree_v0.3/pmp_v1.1.2/metrics_results/monsoon/monsoon_wang/cmip5/historical/092618

This should include observations in both, and an MPI_area_average in the metrics.

Let me know if/what additional

[2018-10-09 00:24] lee1043 opened #581 "portrait plot does not work with python 3 env"
https://github.com/CDAT/vcs/issues/368

This issue belongs to PMP, not VCS. Close there, open here.

[2018-10-09 12:42] doutriaux1 commented on #581
@lee1043 you got one of the few that escaped us

[2018-10-15 21:40] dnadeau4 opened #584 "agrparse_function not defining varModel and varOBS"
The following lines need to be changed defined the right arguments.

in myParam.py I found (`varOBS` and `varModel`)
https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/monsoon_sperber/doc/myParam.py#L17
https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/monsoon_sperber/doc/myParam.py#L35

In the argparse_functions I found (`--varobs` and `--varmod`)
https://github.com/PCMDI/p

[2018-10-15 21:49] lee1043 commented on #584
@dnadeau4 for `json_update` you can add below in the argparse_functions.py

[code]

Thank you for fixing the bugs!

[2018-10-18 20:43] gleckler1 opened #585 "harmonizing version syntax; code in param files"
@doutriaux1 @zshaheen we now routinely populate a tree of results from the pmp that includes data, metrics, diagnostics and graphics.    Its time we exercise version control on everything, following the cmor template (e.g., v20181018).

It is helpful to be able to define templates for results_dir and output_filename_template from within the parameter file, and below is one way to do that.  However

[2018-10-18 21:39] durack1 commented on #585
Another one liner option
[code]

[2018-10-19 14:34] doutriaux1 commented on #585
Or even more pythonic:
[code]

[2018-10-23 15:20] gleckler1 commented on #585
@doutriaux1  @zshaheen @durack1  This is needed to flush out doc for beginners, and for that  I prefer my version because its more readable by non experts, and it too can be reduced to 2 lines and still be readable.   But more to the point, how do we implement this ASAP? ... it’s basically the last piece needed to flush out our suite of examples and thus be ready to complete documentation.

[2018-10-23 16:05] doutriaux1 commented on #585
@gleckler1 will try to put it in today. Worst case tomorrow.

[2018-11-06 21:34] gleckler1 commented on #585
@doutriaux1   Any luck with allowing some code in parameter files?
Lousy weather in DC!

[2018-11-06 21:43] durack1 commented on #585
@gleckler1 @doutriaux1 with either of the examples above from Chucky or I, all you'd need is the string format `"v%Y%m%d"` to be added in the file as a string variable, voila!

[2018-11-06 21:51] doutriaux1 commented on #585
@zshaheen fixed cdp, I need to review it. Hopefully tomorrow or even today

[2018-11-06 22:28] gleckler1 commented on #585
@durack1 ... input parameter files are .py

[2018-11-06 22:30] durack1 commented on #585
@gleckler1 no problem my mistake, no issue with code in a *.py, which is code...

[2018-11-06 22:33] zshaheen commented on #585
@durack1 @doutriaux1 @gleckler1

No, they want extra/temp variables in the `py` files that won't be set as attributes to the parameter files. Ex:

[code]

In the case above, we only want the parameter object to have a `results_dir` parameter, and **not** `year`, `month`, and `day`.

[2018-11-06 22:36] durack1 commented on #585
@zshaheen thanks for clarifying.

So why not have a `vars_to_save = [...]` or conversely a `vars_to_exclude = [...]` at the end of the file which means you can do whatever you want, including calculating derived stuff etc in a param file, and then optionally include/exclude it?

[2018-11-06 22:40] zshaheen commented on #585
@durack1 The fix in cdp will automatically do it. Only parameters that can work with the PMP parser will be the one used. This way, there's always a 1:1 map from the py files to a command via the command line.

[2018-11-06 22:41] durack1 commented on #585
@zshaheen nice, just like magic..

[2018-11-06 22:44] durack1 commented on #585
@zshaheen ok and now that I think about it, what happens if a user assigns (for e.g.) a numpy array to a variable that CDP is expecting to be a string?

[2018-11-06 22:44] zshaheen commented on #585
Yes, this was @doutriaux1's idea, it's pretty cool.

[2018-11-06 22:50] zshaheen commented on #585
Regarding your second comment, we don't have an answer about that yet. For e3sm_diags, we're encountering the same issue.
* One possible solution is to use the `ast.literal_eval` to figure that out, so the argument would be `--zonal_mean_2d_plevs 'numpy.logspace(2.0, 3.0, num=17)'`
* Or when the `py` is dumped and a command of it is saved, expand the numpy arrays.
  * If you don't get what I'm say

[2018-11-06 22:55] durack1 commented on #585
@zshaheen ok got you, so expanding contour levels (e.g. shape 10,1) makes sense, but what happens if you have a shape 1024,1024? Maybe just throw an error, with an appropriate warning, or throw a warning at first iteration, and then if a user adds `cdp.warnings = False` or equivalent, then you just push ahead with using whatever is handed to the call..

[2018-11-06 22:58] zshaheen commented on #585
@durack1 @doutriaux1 Another idea is to just dump a `py` file of the parameters for a single plot as well. This way, we avoid the case you talked about, when the shape is 1024x1024. Also we still get an easy way for users to change the parameters for a given run as well.

[2018-11-06 23:50] doutriaux1 commented on #585
?

[2018-11-07 14:43] gleckler1 commented on #585
@doutriaux1 @zshaheen   Is the fix in CDP already in pmp nightly, i.e. can I test out making example param files for pmp documentation?

[2018-11-07 14:49] doutriaux1 commented on #585
@gleckler1 moving on to this now.

[2018-11-07 14:50] gleckler1 commented on #585
@doutriaux1 great... this is a critical step

[2018-11-07 15:00] doutriaux1 commented on #585
@zshaheen do I need a special keyword? The following does not work:
[code]

ran . with the following `myparams.py`

[code]

I get:

[code]

[2018-11-08 00:51] zshaheen commented on #585
You have an old version. The latest code for this fix is on the `issue45` branch on cdp (not pmp). I can tell you're using an old version by [looking here](https://github.com/CDAT/cdp/commit/2f07767fce98aa0e2071f1ba128d73e859bf6a06), the function `_usable_via_cmdline_args()` displayed in your stack trace was renamed.

[2018-11-08 00:59] doutriaux1 commented on #585
@zshaheen I'll try again but I'm pretty sure I had it installed from that branch

[2018-11-08 01:00] doutriaux1 commented on #585
@zshaheen I'll completely remove it from my env and re-install again

[2018-11-12 22:18] gleckler1 commented on #585
@doutriaux1 @zshaheen  Is this ready for use yet?

[2018-11-13 01:06] zshaheen commented on #585
@gleckler1 Charles looked at my changes to CDP and tried them in PMP and I think all is okay.

@doutriaux1, I can release another version of CDP with fix so we have a pinned down version.

[2018-11-13 01:23] gleckler1 commented on #585
@zshaheen  I think I am making some progress with it from nightly.   This will be extremely helpful.   Lets chat and THANKS!

[2018-11-14 21:55] #581 closed

[2018-12-07 00:08] lee1043 opened #587 "package information not showing up in JSON"
Before the pmp update, bottom of my `JSON` created using below commend
[code]

was looking like below:
[code]

However, after I update pmp nightly to recent (version below), I got below, which is _**loosing conda and package info**_:

[code]

[code]

@doutriaux1 any idea? @gleckler1 @durack1 any similar experience?

[2018-12-07 02:36] doutriaux1 commented on #587
I'll take a look. Thanks for spotting this!

[2018-12-19 22:13] lee1043 commented on #479
@gleckler1 this might be useful to get wavenumber frequency power spectrum for the MJO metrics. @doutriaux1 would you show me how the example work? I made few change in the code to make it work in Python 3 environment.

[2018-12-19 22:17] doutriaux1 commented on #479
@lee1043 where did you get that code from? WK is already ported to py3 and has it's own pkg "wk" please use it. `conda install -c cdat/label/nightly -c conda-forge wk`

[2018-12-19 22:18] doutriaux1 commented on #479
@lee1043 look at the tests directory that's tests everything.

[2018-12-19 22:37] doutriaux1 commented on #479
definitely!

[2018-12-19 22:38] lee1043 commented on #479
Is the test still valid with the new conda-installed wk?

[2018-12-19 22:40] doutriaux1 commented on #479
which test? Look at the test in the wk repo.

[2018-12-19 22:43] lee1043 commented on #479
Just found that there was a separated repo, https://github.com/CDAT/wk. Thanks, I will start from there.

[2019-01-29 22:48] lee1043 commented on #585
Hi could anyone please remind me what the finally selected code that was for the parameter file syntax to have CMOR style version string at the end of result_dir?

[2019-01-29 22:53] gleckler1 commented on #585
See https://github.com/PCMDI/pcmdi_metrics/issues/585

From: Jiwoo Lee <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com>
Date: Tuesday, January 29, 2019 at 2:48 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com>
Cc: gleckler1 <pgleckler@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [PCMDI/pcmdi_metrics] harmonizing version syntax; code in p

[2019-02-12 20:17] lee1043 opened #589 "Add new metrics in collaboration with DK and MA of UW"

[2019-02-12 20:45] lee1043 commented on #589
Comparing result to the reference (Ahn et al. 2017) for an initial validation.

**Power spectra**
**_Reference:_**
![](https://user-images.githubusercontent.com/17091564/51418837-cd6c7100-1b3a-11e9-9fa4-c4deaec0870f.gif)
 **_PMP:_**
![](https://user-images.githubusercontent.com/17091564/52598905-0501cc80-2e0c-11e9-8f07-8ccc4cd50e20.gif)
_**Diff: PMP minus UW**_
![](https://user-images.githubuserco

[2019-02-28 17:28] gleckler1 opened #590 "allow custom obs_dic for mean clim"
@doutriaux1  We might be very close to this already with below but need to get this function ASAP.... wrinkle... new directory structure for obs_dic.json, so may need to include some of that as a attribute in new obs_json.

https://github.com/PCMDI/pcmdi_metrics/blob/master/pcmdi_metrics/pcmdi/mean_climate_metrics_driver.py

        if hasattr(self.parameter, 'custom_observations'):
            #

[2019-03-01 13:41] doutriaux1 commented on #590
@gleckler1 I believe this is fixed

[2019-03-01 13:41] #590 closed

[2019-03-04 19:36] lee1043 opened #594 "Improve monsoon sperber"
Improve monsoon_sperber to do followings for @gleckler1

- [ ] Run the CMIP5 and CMIP6 monsoon_sperber compared to the 2 daily datasets now in
/p/user_pub/PCMDIobs/PCMDIobs2.0/atmos/day/pr
- [x] Write output in /p/user_pub/pmp/pmp_results/pmp_v1.1.2

[2019-03-05 21:51] lee1043 commented on #594
Progress:
- [x] Output goes to pmp_result dir
- [x] CMIP5 with GPCP 1-3
- [ ] CMIP5 with CMORPH-1-0
- [ ] CMIP6 with GPCP 1-3
- [ ] CMIP5 with CMORPH-1-0

[2019-04-23 22:48] lee1043 opened #599 "Cannot import vcs with the latest pmp nightly"
I am installing the latest pmp nightly to test watermark capability that @gleckler1 asked, but after installation I cannot import `vcs` (due to `cdtime` importing error, maybe?) @doutriaux1 any idea, please?

Installation of nightly version (following [Wiki instruction](https://github.com/PCMDI/pcmdi_metrics/wiki/Install-using-Anaconda)):
[code]

Activation of env:
[code]

Importing vcs:
[code]

E

[2019-04-23 22:50] gleckler1 commented on #599
@lee1043
conda create -n pmpn27_0421a -c cdat/label/nightly -c pcmdi/label/nightly -c conda-forge -c cdat pcmdi_metrics python=2.7 **libcdms cdms2**
I have no idea why

[2019-04-23 22:53] lee1043 commented on #599
@gleckler1 thanks for the line for python 2.7 version. But still, I think this error to be very critical because it will break other production codes.

[2019-04-23 22:56] gleckler1 commented on #599
@lee1043 @doutriaux1  I know... we can't have different envs for different purposes... that would be a slippery slope.   But I think this *fix* is to deal with recent changes.

[2019-04-23 23:03] lee1043 commented on #599
@gleckler1 that has a point. I am removing the `TOP PRIORITY` tag, and stick with the python version 2.7 fixed version for the mean climatology plotting purpose. But I believe this should be revisited in the early future, sooner than later.

[2019-04-23 23:31] doutriaux1 commented on #599
Jiwoo,

Peter just experienced this as well, for now replace cdat-forge with conda-forge. I will need to figure out why it brings some stuff from the wrong places.

C.

From: Jiwoo Lee <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com>
Date: Tuesday, April 23, 2019 at 3:48 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com>
Cc: "Doutriaux, Charles" <doutria

[2019-04-23 23:33] doutriaux1 commented on #599
@lee1043 you can remove python=2.7 it was only for Peter because we wanted to force python 2

[2019-04-23 23:36] lee1043 commented on #599
@doutriaux1 you mean like below?
``` conda create -n [MY_ENV_NAME_HERE] -c cdat/label/nightly -c pcmdi/label/nightly -c conda-forge -c cdat pcmdi_metrics libcdms cdms2```

[2019-04-24 00:00] doutriaux1 commented on #599
yes, probably (???) don't even need libcdms cdsm2 at the end

[2019-04-24 00:06] lee1043 commented on #599
After above installation, I've narrowed down the cause of first error simplified as below (while other errors still exists, I guess, but first thing first...). In brief, it fails to plot text on canvas.

[code]

[code]

[2019-04-24 00:10] doutriaux1 commented on #599
yes you do not have opengl on the system. @danlipsa @scottwittenburg know about this, but it is yet again an occurence of this very annoying problem with RH6. Please install mesalib for now
[code]

[2019-04-24 03:32] lee1043 commented on #599
@doutriaux1 thanks, having mesalib as advised resolved the above openGL error.

Next issue I have is loading customized colormap and isofill levels from python script and JSON, respectively, before start using the watermark capability. Thanks for help, looking forward for more help tomorrow ;)

![rltcre ACCESS1-0_djf](https://user-images.githubusercontent.com/17091564/56630609-c5731000-6606-11e9-8

[2019-04-24 04:57] durack1 commented on #599
@doutriaux1 is it RH6 only, with RH7 does it go away?

[2019-04-24 12:57] doutriaux1 commented on #599
we hope so, our RH6 machine do not have a recent enough opengl driver. Hopefully newer system will be good.

[2019-04-24 14:35] doutriaux1 commented on #599
@lee1043 @gleckler1 which colormap are you trying to load? I'm looking at your dictionary and all the colormap I'm trying to load do not exist in the json file. e.g `band_6` `band_12` `AMIP_rlt`, etc...

[2019-04-24 16:19] durack1 commented on #599
@doutriaux1 I really to *hope* that you are currently testing CDAT-dev on RH7... please tell me this is so..

[2019-05-09 16:39] doutriaux1 opened #602 ""template" option seems to not work for Peter"
@gleckler1 reports that the "template" seems to be ignored in his custom obs file.

@doutriaux1  can't reproduce this.

[2019-05-23 16:11] #602 closed

[2019-05-24 21:47] lee1043 commented on #594
tracking changes: https://github.com/PCMDI/pcmdi_metrics/pull/596

[2019-05-24 22:17] lee1043 commented on #594
### To do list:
#### Check:
- [ ] If fractional cdf used for getting composite
#### Dive down plot:
- [ ] Show composite and multiple obs
- [ ] Add vertical lines for obs onset/decay
- [ ] Show statistics
- [ ] Multiple realization as grey lines (after analysis below resolved)
#### Analysis:
- [ ] Multiple realizations (may need help from @doutriaux1 for parallel running using DASK)
- [ ] CMIP6
--

[2019-05-28 02:53] lee1043 commented on #594
### Drafted candidate plot:
![cmip5_ACCESS1-0_historical_r1i1p1_monsoon_sperber_1961_1962](https://user-images.githubusercontent.com/17091564/58447348-ecff4180-80b8-11e9-98e6-5a95139d7344.png)

@gleckler1 what do you think?

[2019-07-09 16:49] gleckler1 opened #608 "provenance up top on json files"
@doutriaux1    If results/provenance ordering is built into json class then presumably when flipped it will be for all metrics using the json class.   If its not built in lets start with mean_climate as that will be the example we need to use asap.

[2019-07-09 19:53] gleckler1 commented on #608
#587

[2019-07-10 19:28] doutriaux1 commented on #608
accidentally pushed straight to master rather than a branch first, but fixed anyhow.

[2019-07-10 19:28] #608 closed

[2019-07-18 19:47] #587 closed

[2019-07-18 19:53] gleckler1 commented on #587
(pmpn_0718) bash-4.1$ parallelize_driver.py --driver  mean_climate_driver.py -p cmip5_historical_pmp_parameterfile.py
(37, ' ', [u'ACCESS1-0', u'ACCESS1-3', u'BNU-ESM', u'CCSM4', u'CESM1-BGC', u'CESM1-CAM5', u'CESM1-CAM5-1-FV2', u'CESM1-FASTCHEM', u'CESM1-WACCM', u'CNRM-CM5', u'CNRM-CM5-2', u'CSIRO-Mk3-6-0', u'CanCM4', u'CanESM2', u'GFDL-CM2p1', u'GFDL-CM3', u'GFDL-ESM2G', u'GFDL-ESM2M', u'HadGEM2

[2019-07-25 01:41] gleckler1 opened #614 "add mean climate jsons"
PG to add a version of CMIP5 mean climate jsons produced at PCMDI

[2019-09-11 15:39] #614 closed

[2019-09-11 15:40] gleckler1 commented on #599
@lee1043 can I close this issue or is it still a problem?

[2019-09-11 16:29] lee1043 commented on #599
@gleckler1 no I think this issue is now gone.

[2019-09-11 16:29] #599 closed

[2019-09-14 03:44] gleckler1 opened #618 "Fix default region 'global' - should be "GLOBAL'"

[2019-09-17 00:53] #253 closed

[2019-09-17 00:53] #254 closed

[2019-09-17 00:53] #271 closed

[2019-09-17 00:55] gleckler1 commented on #589
@lee1043  do you think we can close this issue?

[2019-09-17 02:13] lee1043 commented on #589
@gleckler1 currently it has been developed on a separate repo (private) and need to migrate code to pmp. Please keep this issue opened for that.

[2019-09-17 02:16] lee1043 commented on #589
To do
- [ ] [Branch in this repo](https://github.com/PCMDI/pcmdi_metrics/tree/589_ljw_new_metrics_UW) needs to be updated with the latest code
- [ ] Prepare merging the branch to master.

[2019-09-18 00:25] gleckler1 commented on #589
@lee1043  ok, thanks, just doing house cleaning

[2019-09-18 00:30] #512 closed

[2019-09-18 00:31] #503 closed

[2019-09-18 00:34] #476 closed

[2019-09-18 00:36] #419 closed

[2019-09-18 00:50] #564 closed

[2019-09-18 15:41] gleckler1 commented on #321
@lee1043  Can we delete this issue?

[2019-09-18 16:25] #321 closed

[2019-10-22 19:38] lee1043 commented on #552
Currently working on it: https://github.com/PCMDI/pcmdi_metrics/pull/623

[2019-10-22 19:46] lee1043 commented on #552
Variability code uses `eofs` and `scipy` which are currently not included as PMP dependencies. Should we consider including them or let users do their homework by installing those libraries by themselves? @gleckler1 what do you think?

[2019-10-22 19:49] gleckler1 commented on #552
@lee1043 Good question.  I think for right now its better to not include them.

[2019-10-22 19:54] durack1 commented on #552
Just chiming in, I'm pretty sure that with the dependencies of `cdms` you're already going to have `scipy`, `eofs` is unlikely

Take a peek at https://github.com/CDAT/cdms/blob/master/recipe/meta.yaml.in#L32-L47

[2019-10-22 23:13] lee1043 commented on #552
@durack1 you are correct for the `scipy`, thanks for pointing it out.

[2019-10-23 16:54] lee1043 commented on #552
[PR](https://github.com/PCMDI/pcmdi_metrics/pull/623) merged.

[2019-10-23 16:54] #552 closed

[2019-10-23 16:56] lee1043 commented on #516
This seems outdated. @durack1 @gleckler1 can we close this issue as part of housekeeping effort?

[2019-10-23 17:03] gleckler1 commented on #516
Ok to close

From: Jiwoo Lee <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com>
Date: Wednesday, October 23, 2019 at 9:56 AM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com>
Cc: gleckler1 <pgleckler@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [PCMDI/pcmdi_metrics] 1.1.3 tagging (#516)

This seems outdated. @durack1<https://github.com/durack

[2019-10-23 17:04] #516 closed

[2019-10-23 17:45] durack1 commented on #516
It'd be useful to replicate the list of release bullets as noted above for future releases. It was laid out as a step-by-step so we didn't miss anything in the release recipe

[2019-11-11 20:47] lee1043 opened #626 "Implement snapshot of ENSO metrics code"

[2019-11-11 21:27] lee1043 commented on #626
- Branch created: https://github.com/PCMDI/pcmdi_metrics/tree/626_ljw_enso_metrics_ipsl
- Snapshot code: https://github.com/eguil/ENSO_metrics/releases/tag/v1.0

[2019-11-12 20:01] lee1043 opened #627 "Parallel run for modes of variability metrics code"
Following actions needed:
  - [x] Check if command-line-given option well overwrite what given from param file
  - [x] Generate output JSON per simulation
  - [x] JSON merger script as post process

[2019-11-12 21:44] lee1043 commented on #627
Working branch: 627_ljw_MoV_parallel

[2019-11-19 00:45] gleckler1 opened #629 "improve diurnal output name syntax"
Output name of composite statistics currently does not include realization.

[2019-11-25 22:03] gleckler1 opened #630 "update build of pcmdiobs meta dictionary"
Need to include input path option and include in setup.

[2019-12-11 17:36] gleckler1 opened #631 "GFDL with 1.2"
PG to provide examples for 1.1 - 1.2

[2020-05-14 22:41] gleckler1 opened #636 "and calendar months to mean climate"

[2020-06-17 16:48] gleckler1 opened #638 "cor_xyt needs to be added"

[2020-06-25 22:47] lee1043 commented on #589
@gleckler1 I expect MJO metrics to be merged to master soon.

[2020-07-01 22:44] lee1043 opened #640 "run_test at CircleCI fails"
run_tests fails in CircleCI, since from https://github.com/PCMDI/pcmdi_metrics/pull/634 and other recent PRs.

@muryanto1 Any chance if this is related to removing python 2.x?

[2020-07-01 23:46] muryanto1 commented on #640
@lee1043 There are several failures https://circleci.com/gh/PCMDI/pcmdi_metrics/1750
Some of them is due to https://github.com/CDAT/genutil/issues/38.
https://circleci.com/gh/PCMDI/pcmdi_metrics/tree/use_updated_conda_recipes

some are due to flake8 failures (since there is a new flake8 package).

I do not think this is related to removal of py2.7.
We are not building py2.7 for cdat anymore.

Due

[2020-07-02 01:03] muryanto1 commented on #640
@lee1043 Notes on how to build and run tests with 'use_updated_conda_recipes' branch of pcmdi_metrics so that you can reproduce the problems locally

#
# install miniconda
#
$ mkdir -p ~/work/pcmdi/workdir
$ export WORKDIR=~/work/pcmdi/workdir
$ cd $WORKDIR

$ bash ~/work/Miniconda3-4.7.12.1-MacOSX-x86_64.sh -b -p miniconda

$ source miniconda/etc/profile.d/conda.sh
$ conda activate base

$ cd ~/w

[2020-07-02 01:05] muryanto1 commented on #640
Notes for reproducing the failures locally on your laptop.

[code]

[2020-07-07 00:31] lee1043 commented on #640
@muryanto1 thanks for the advice. I was able to rerun the failing test on my local mac:

[code]
Log Message:
[code]

[2020-07-07 00:34] lee1043 commented on #640
It was resolved by creating `test_data/results/nc` directory prior to run the test. It looks the "directory generation" process has been missed somehow, which prevents creating `nc` file as a results of the test, so it cannot be compared to the original file.

[code]
[code]

[2020-07-07 00:52] lee1043 commented on #640
I found that running all tests by `python run_tests.py -v 2` commend generates `jsons` and `ascii` directories under `pcmdi_metrics/test_data/results`, but not `nc`.

@muryanto1 do you know in which part of the testing code generates those directories?

[2020-07-14 23:12] gleckler1 commented on #640
@lee1043 Is this issue resolved?

[2020-07-15 01:15] lee1043 commented on #640
@gleckler1 yes, I am closing it. Thanks for the reminder!

[2020-07-15 01:15] #640 closed

[2020-07-22 22:43] #589 closed

[2020-07-22 22:44] lee1043 opened #642 "Advance MJO metrics"
- EWR with more variables
- Re-visit the discussion note with WGNE MJO Task Force for following up additions

[2020-09-25 04:36] gleckler1 opened #644 "unevenness"

[2020-10-28 00:16] acordonez opened #645 "add examples to jupyter notebooks"
Starting with mean climate notebook, add examples of more use cases. Target at new user with small number of models and observations to compare.

[2020-10-29 00:52] gleckler1 opened #646 "circleci_failing"

[2020-10-31 04:08] lee1043 commented on #646
https://github.com/PCMDI/pcmdi_metrics/pull/647

[2020-10-31 04:11] lee1043 commented on #646
Keeping it open until the circle ci button changes to "success" at the front page of this repo.

[2020-11-03 02:44] #646 closed

[2020-11-04 15:57] lee1043 opened #648 "Reinforce PMP documentation"

[2020-11-04 17:59] lee1043 commented on #648
@acordonez @gleckler1 I forked PMP repo to my own and set up a test place for developing documentation. Please check below two places. For now they are just place holder. Please feel free to add/revise.
- Directory for testing: https://github.com/lee1043/pcmdi_metrics/tree/648_jwl_documentation/docs
- Test page preview: https://lee1043.github.io/pcmdi_metrics/

[2020-11-04 19:46] lee1043 opened #649 "Clean up/revise/re-org directory tree"
The current directory structure may need some clean up. The current structure is listed in the following file for initiating a brainstorming.

[PMP_directory_tree_20201104.docx](https://github.com/PCMDI/pcmdi_metrics/files/5490168/PMP_directory_tree_20201104.docx)

[2020-11-04 23:39] gleckler1 opened #650 "rename "examples" folder"

[2020-11-05 00:28] gleckler1 commented on #549
@gleckler1  Its in there!

[2020-11-05 00:28] #549 closed

[2020-11-05 00:30] #525 closed

[2020-11-05 00:50] gleckler1 commented on #648
@lee1043 @acordonez  Thanks for testing this - we discussed Ana reproducing this on her own repo and eventually to the PMP - do I have that right?

[2020-11-05 00:53] lee1043 commented on #648
I think so, but I also don't mind using my repo if that helps reducing Ana's workload.

[2020-11-05 01:02] gleckler1 commented on #649
@acordonez @lee1043  Thanks for the dir_tree structure Jiwoo.   I'm thinking the /demo/parameter_files are redundant with the direction being taken in /doc.   Ana you might want to review the param files in /demo to see if there is anything in there that would be helpful for developing the mean climate doc/notebooks.   But other than that, do you agree we should rm /demo?

[2020-11-05 16:28] acordonez commented on #648
@lee1043 thanks, I've been practicing with sphinx in my own fork too

[2020-11-05 16:30] acordonez commented on #649
@gleckler1 @lee1043 Yes, it looks to me like we can remove /demo and move those parameter files to either /doc or to our new /sample_setups folder.

[2020-11-09 23:23] gleckler1 opened #652 "internal doc usage of mean climate calcs"

[2020-11-09 23:56] gleckler1 commented on #652
@lee1043 FYI I'm starting to document internal running of the mean climate with this branch.

[2020-11-10 00:18] acordonez opened #653 "New documentation format for github.io"
Initial work to set up repo for hosting documentation on github.io

[2020-11-10 22:32] lee1043 commented on #648
This task will be followed up at https://github.com/PCMDI/pcmdi_metrics/issues/653

[2020-11-10 22:32] #648 closed

[2020-11-10 23:41] lee1043 commented on #649
Below is my proposal for restructuring:

[PMP_directory_tree_20201110_proposal_jlee.docx](https://github.com/PCMDI/pcmdi_metrics/files/5520800/PMP_directory_tree_20201110_proposal_jlee.docx)

[2020-11-12 21:55] #650 closed

[2020-11-17 18:59] acordonez commented on #649
@lee1043 That directory reorganization makes sense to me. Just a small thing I noticed is "recipe" appears twice under the "Proposed directory tree of PMP"

[2020-11-17 19:17] lee1043 commented on #649
@acordonez oops, thank you for pointing that out! :)

[2020-12-02 22:19] acordonez commented on #653
[gh-pages](https://github.com/PCMDI/pcmdi_metrics/tree/gh-pages) branch has been created to host the documentation. Instructions for editing and building the documentation are found on the README in that branch.

[2020-12-02 22:21] acordonez commented on #653
@gleckler1 @lee1043 can I close this issue, or is there more work that should be included?

[2020-12-02 22:24] lee1043 commented on #653
I think it is okay to close this issue as it has become a part of our regular work flow. Thank you for your work, @acordonez

[2020-12-03 00:28] gleckler1 commented on #653
@acordonez @lee1043 Seems reasonable to close but I am wondering where we should continue comments/questions such as this one regarding documentation discussions.   That could be done by creating new issues (once the documentation gets a little further along), email, or slack.   Any thoughts?

[2020-12-03 00:54] acordonez commented on #653
@gleckler1 @lee1043 Keeping documentation questions on GH would work for me, but I'm not sure if it would be better to have one ongoing issue or open new ones as needed.

[2020-12-08 23:15] acordonez opened #663 "CMEC compliant metrics output"
The overarching goal is to make PMP outputs CMEC-compliant (https://cmec.llnl.gov/). The first step is to add functionality that writes the output metrics files in the CMEC format.

[2020-12-15 23:23] gleckler1 opened #664 "two paths to create clims"
PJG to add these so that AO can improve param file options and create demos

[2021-01-06 21:32] acordonez opened #668 "Parameter file for E3SM"
Create a sample parameter file that can be used as a template for the E3SM team.

[2021-01-14 22:02] lee1043 commented on #664
Merged: https://github.com/PCMDI/pcmdi_metrics/pull/671

[2021-01-14 22:02] #664 closed

[2021-01-20 20:26] gleckler1 opened #677 "update obs dic"

[2021-01-21 16:45] gleckler1 opened #679 "precip drought - collab with Zeyu Xue and P. Ullrich"

[2021-01-21 21:36] lee1043 opened #680 "generalized parallel run function"

[2021-01-22 18:48] lee1043 commented on #677
Resolved by https://github.com/PCMDI/pcmdi_metrics/pull/678

[2021-01-22 18:48] #677 closed

[2021-02-11 00:27] gleckler1 commented on #680
@lee1043  can this be closed?

[2021-02-11 00:27] gleckler1 opened #692 "doc in readme"

[2021-02-20 00:18] gleckler1 commented on #680
@lee1043  OK, I see now this is not yet in master.   Maybe you should make a pull request and see if it passes CI and if yes we can merge with master?

[2021-03-09 21:59] lee1043 commented on #645
Documents:
- [ ] mean climate
- [ ] modes of variability
- [ ] ENSO
- [ ] Monsoon
- [ ] MJO
- [ ] Precipitation Benchmark

[2021-03-13 19:23] lee1043 commented on #680
https://github.com/PCMDI/pcmdi_metrics/pull/697

[2021-03-13 19:24] #627 closed

[2021-03-17 22:02] lee1043 opened #710 "Monsoon sperber: add landsea mask estimation if not given"
Currently monsoon sperber requires landsea mask to given in separate file for each of observation and models. However, considering land sea mask is not always available, estimation capability needs to be added, as it was done for modes of variability codes:

https://github.com/PCMDI/pcmdi_metrics/blob/20d332e0ed5a778feb7472b50dc0a7b50037a529/pcmdi_metrics/variability_mode/lib/landmask.py#L66

Than

[2021-03-23 21:22] lee1043 opened #713 "Advance Monsoon Sperber"
Monsoon sperber code needs to be advanced for several aspects:
- [ ] [Add landsea mask estimator](https://github.com/PCMDI/pcmdi_metrics/issues/710)
- [x] Input file to be more flexible and follow given in param, rather than hard-coded for PCMDI's xml database

[2021-03-23 21:24] lee1043 commented on #710
Issue merged to https://github.com/PCMDI/pcmdi_metrics/issues/713

[2021-03-24 23:01] #692 closed

[2021-03-24 23:03] gleckler1 commented on #663
@acordonez I guess this is about complete so might be ready to close this... do I have that right?   Attempting a little clean up ;-)

[2021-03-24 23:04] #653 closed

[2021-03-24 23:05] #631 closed

[2021-03-24 23:06] gleckler1 commented on #594
@lee1043 do you think we can close this or do we need to preserve some of it?

[2021-03-24 23:07] #559 closed

[2021-03-24 23:08] #594 closed

[2021-03-24 23:08] #585 closed

[2021-03-24 23:09] #504 closed

[2021-03-24 23:09] #506 closed

[2021-03-24 23:23] acordonez commented on #663
Since we have the option to output CMEC metrics JSONs in all of the metrics now, it does seem ok to close this.

[2021-03-24 23:23] #663 closed

[2021-03-30 22:53] lee1043 commented on #713
- First point still needs work
- Second point resolved by https://github.com/PCMDI/pcmdi_metrics/pull/714/files

[2021-03-30 23:31] lee1043 opened #718 "Fix broken link in README"

[2021-03-31 19:22] #718 closed

[2021-03-31 19:25] #485 closed

[2021-03-31 19:25] #535 closed

[2021-03-31 19:25] #629 closed

[2021-03-31 19:27] #86 closed

[2021-03-31 19:27] #245 closed

[2021-03-31 19:27] #267 closed

[2021-03-31 19:27] #306 closed

[2021-03-31 19:27] #362 closed

[2021-03-31 19:27] #435 closed

[2021-03-31 19:38] gleckler1 opened #722 "remove demo directory and check to see if it passes CI"

[2021-04-02 16:35] #472 closed

[2021-04-02 16:36] #722 closed

[2021-04-03 00:35] gleckler1 opened #724 "remove test/io dir to see if CI still passes"

[2021-04-06 21:59] #445 closed

[2021-04-08 18:20] gleckler1 opened #727 "clean up recipe / recipes"
@acordonez  @lee1043   My plan with this one is:

mv recipes/conda-envs recipe
mv recipes/pcmdi_metrics recipe
rm -rf recipes

we may decide later that recipe/conda-envs and recipe/pcmdi_metrics can be deleted.

[2021-04-08 18:45] acordonez commented on #727
@gleckler1 That plan looks good to me.

[2021-04-08 19:13] lee1043 commented on #727
@gleckler1 looks good to me too.

[2021-04-08 23:01] #724 closed

[2021-04-09 18:01] #727 closed

[2021-04-09 18:04] gleckler1 opened #729 "rename /pcmdi_metrics to /summary_statistics"
@lee1043 @acordonez   This simple change may take more work.   I expect setup.py will need to be modified.   Any other things come to mind before I get started?

[2021-04-09 18:14] lee1043 commented on #729
@gleckler1 I think changes should be made in `setup.py` mostly. No other things come to my mind neither.

[2021-04-09 18:15] acordonez commented on #729
@gleckler1 @lee1043 All the package references in our scripts would need to be updated, e.g.
from pcmdi_metrics.monsoon_sperber.lib import sperber_metrics
would need to be
from summary_statistics.monsoon_sperber.lib import sperber_metrics

[2021-04-09 18:21] gleckler1 commented on #729
@lee1043 @acordonez  and maybe in some codes like below? ...

https://github.com/PCMDI/pcmdi_metrics/blob/master/pcmdi_metrics/diurnal/scripts/compositeDiurnalStatistics.py#L26

[2021-04-09 18:21] lee1043 commented on #729
@acordonez that is a great and very critical point! Thanks for bring that in. In another code (ENSO metric) I have seen the most upper level could be given arbitrarily instead of directory name.

e.g.:
https://github.com/CLIVAR-PRP/ENSO_metrics/blob/903f12a416b21f56f745001ae9ed2ebbf65bc779/pmp_driver/PMPdriver_EnsoMetrics.py#L19

and

https://github.com/CLIVAR-PRP/ENSO_metrics/blob/903f12a416b21f5

[2021-04-09 18:33] gleckler1 commented on #729
@lee1043 @acordonez   I'll try it out on a branch and keep you posted.

[2021-04-16 00:54] lee1043 opened #731 "precip variability across time scale"
Implement @msahn's work into PMP

[2021-04-16 01:00] lee1043 commented on #731
Branch: 731_msa_precip_benchmark
Directory to start: https://github.com/PCMDI/pcmdi_metrics/tree/731_msa_precip_benchmark/pcmdi_metrics/precip_variability
Draft PR for tracking changes: https://github.com/PCMDI/pcmdi_metrics/pull/732

[2021-04-22 22:49] msahn opened #733 "Verify start time in DC code"
https://github.com/PCMDI/pcmdi_metrics/blob/af9afb3d08f5159844595275e86eb00c84774391/pcmdi_metrics/diurnal/scripts/compositeDiurnalStatistics.py#L39

https://github.com/PCMDI/pcmdi_metrics/blob/af9afb3d08f5159844595275e86eb00c84774391/pcmdi_metrics/diurnal/scripts/savg_fourier.py#L179

https://github.com/PCMDI/pcmdi_metrics/blob/af9afb3d08f5159844595275e86eb00c84774391/pcmdi_metrics/diurnal/script

[2021-04-27 17:45] gleckler1 opened #734 "/doc minor reorg and pmp_variables_needed"

[2021-04-28 18:52] lee1043 commented on #679
Branch generated: `679_ljw_drought`

[2021-04-29 21:48] lee1043 commented on #680
Need to make parallel_submitter to be importable.

[2021-04-30 00:10] lee1043 commented on #680
To use `parallel_submitter` it needs to be imported as follows:
[code]

[2021-04-30 02:50] #680 closed

[2021-05-07 18:27] lee1043 opened #738 "Adjust front readme"
Remove circle ci button to avoid confusion.

[2021-05-07 20:31] #738 closed

[2021-05-07 22:14] #734 closed

[2021-05-20 21:09] lee1043 opened #741 "Implement cloud metrics into PMP"
Implement @mzelinka's [cloud metric](https://github.com/mzelinka/assessed-cloud-fbks).

Message from @mzelinka:

"... Note that the paper documenting this just went under review, so it is possible that reviewers will demand that we change our metric. But it is a simple RMSE, so there is nothing really complicated. (I will present the science of this at the meeting on Thursday.)

The primary code i

[2021-05-20 23:09] acordonez opened #742 "CMEC driver compatible metrics"
Add support to run each of the PMP metrics via cmec-driver.
Changes for CMEC compliance and cmec-driver functionality:
- [x] contents.json
- [x] parameter file generation script
- [x] driver files for each metric
- [x] settings json for each metric
- [ ] output.json metadata file

These improvements are not required for CMEC compliance but are desired:
- [x] on-the-fly climos for mean climate
- [

[2021-06-11 16:14] lee1043 opened #744 "New version release (v2.0)"
Prepare for new version release.

[2021-06-15 22:14] #744 closed

[2021-06-16 19:34] lee1043 opened #747 "Improve parallel submitter capability"
The current [parallel submitter function](https://github.com/PCMDI/pcmdi_metrics/blob/master/pcmdi_metrics/misc/scripts/parallel_submitter.py) runs N processes at the same time, and wait all of them to finish to launch next N processes in the queue. It is efficient if individual processes take similar wall time at each, but if one takes longer than others, rest N-1 CPUs should stay in wait, which

[2021-06-29 18:47] #747 closed

[2021-07-15 00:09] gleckler1 opened #752 "simple check of CI"

[2021-07-16 23:24] #742 closed

[2021-07-22 00:12] lee1043 opened #756 "Implement visualization capability"
Add summary visualization capabilities for PMP users to quickly plot and overview the results.

- Parallel coordinate plot
- Portrait plot
- etc.

[2021-08-04 23:12] lee1043 opened #758 "Pause unit tests on circle ci"

[2021-08-05 23:49] gleckler1 opened #760 "Add obs doc"

[2021-08-05 23:51] gleckler1 commented on #562
@msahn @lee1043 Closing this issue as MA is now advancing it in an improved way

[2021-08-05 23:51] #562 closed

[2021-08-06 16:09] #752 closed

[2021-08-06 16:10] lee1043 commented on #566
Closing this issue because no longer support py2.

[2021-08-06 16:10] #566 closed

[2021-08-10 19:46] acordonez opened #761 "Climatology code duplicates suffix for xmls"
When generating climatologies from xml files, the resulting files will duplicate the suffix.

[2021-08-10 22:05] #761 closed

[2021-08-11 00:34] msahn opened #763 "precip distributions"

[2021-08-11 00:51] msahn commented on #731
The branch name is changed to "731_msa_precip_variability".