[2013-11-06 22:04] durack1 opened #1 "install_metrics.bash hangs due to UVCDAT logging"
[ 99%] Performing install step for 'CDATLogger'
Ping succeeded.
[100%] Completed 'CDATLogger'
[100%] Built target CDATLogger
CMAKE ARGS
UVCDAT BDIR/Users/durack1/Desktop/metrics/wgne-wgcm_metrics/WGNE/tmp/uvcdat
Hangs indefinitely at this point
^C ERROR: Could not load CDMS (cdms2) module
~/Desktop/metrics/wgne-wgcm_metrics/WGNE/tmp/metrics

Sorry...
This action did not complete successfully
Pleas

[2013-11-06 22:40] #1 closed, assigned to nobody

[2014-01-27 22:57] gleckler1 opened #2 "tos ok, but not zos nor sos... more dic probs..."
Traceback (most recent call last):
  File "/export/gleckler1/git/wgne-wgcm_metrics/src/python/wgne/scripts/wgne_metrics_driver.py", line 57, in <module>
    dup("ok table thing",obs_dic[var][obs_dic[var]["default"]]["CMIP_CMOR_TABLE"],"---")
KeyError: u'CNES_AVISO_L4'

[2014-01-28 00:42] gleckler1 opened #3 "Can we set up a simple script which executes the rediculously long command line?"
~/git/WGNE/bin/python~/git/wgne-wgcm_metrics/src/python/wgne/scripts/wgne_metrics_driver.py –p ~/git/wgne-wgcm_metrics/doc/wgne_input_parameters_test.py

[2014-01-28 00:54] #2 closed, assigned to doutriaux1

[2014-01-29 17:44] durack1 opened #4 "attribute error: wgne_metrics_driver.py"
So this testing is on the GFDL machine:

public1:/home/p1d/140129_metrics/test> /home/p1d/140129_metrics/WGNE/bin/python /home/p1d/140129_metrics/WGNE/bin/wgne_metrics_driver.py -p /home/p1d/140129_metrics/test/wgne_input_parameters_test.py
 ref is:  all
 refs: [u'default', u'alternate']
Traceback (most recent call last):
  File "/home/p1d/140129_metrics/WGNE/bin/wgne_metrics_driver.py", line 94,

[2014-01-29 18:35] #4 closed, assigned to nobody

[2014-01-31 05:58] durack1 opened #5 "Is there a reason that the "metrics" dir is found under {build_prefix}/tmp/ rather than {build_prefix}"
Should the metrics dir be dropped into the master directory (so WGNE by default) rather than hidden under /tmp which it currently is..?

[2014-03-25 20:54] doutriaux1 opened #6 "add a small test script with "tos""
would be nice to run a small test script on subset of "tos" for the sake of verifying everything probably went ok

[2014-03-25 22:55] durack1 opened #7 "Problem with input data format (GFDL)?"
an102:/home/Paul.Durack/140129_metrics/test> /home/Paul.Durack/140129_metrics/WGNE/bin/python /home/Paul.Durack/140129_metrics/WGNE/bin/wgne_metrics_driver.py -p /home/Paul.Durack/140129_metrics/test/wgne_input_parameters_test.py
 ref is:  all
 refs: [u'default']
 OBS SHAPE IS  (12, 72, 144)
 Failed to get variable tos for version: GFDL-ESM2G, error:
'NoneType' object has no attribute 'getBounds'

[2014-03-26 17:09] durack1 opened #8 "Better error messages for problem user (input) data"
The problem with the rewritten GFDL data was a lack of CF compliance, so incorrect dimension names (zt,yh,xh) - it would be great if such problems were dealt with by software, as CMOR/CF lack of compliance with input data is likely to be a problem that appears time and time again..

Some sanity checks, along with axes checks (so ensure that 'tos' variables are 3D, rather than 4D for e.g.) would al

[2014-03-26 17:20] durack1 opened #9 "Standardise units of obs data"
It seems to me like there is some disagreement in the units of the obs and model data:
an014:/home/Paul.Durack/140129_metrics/test> /home/Paul.Durack/140129_metrics/WGNE/bin/python /home/Paul.Durack/140129_metrics/WGNE/bin/wgne_metrics_driver.py -p /home/Paul.Durack/140129_metrics/test/wgne_input_parameters_test.py
 ref is:  all
 refs: [u'default']
 OBS SHAPE IS  (12, 72, 144)
 tos   GFDL-ESM2G

[2014-03-26 17:43] #7 closed, assigned to nobody

[2014-04-08 16:38] durack1 opened #10 "ESMF build - "metrics" UV-CDAT build flag"
Ok so the most up-to-date build was tested on the GFDL system yesterday and it seems to be working fine with ocean data.
Additionally the axis_aliases also appear to pickup axes from their units attribute.

Is there a need to generate a specific "metrics" build option so that ongoing changes to the "ESGF" build flag will not affect the metrics package in the future?

[2014-04-08 18:38] doutriaux1 opened #11 "full path needed for parameter file"
need to explain this in error message or add current path to it at load time

[2014-04-09 21:53] doutriaux1 opened #12 "double check units"
As part of standard checks before runnnig metrics, check units are compatible.

[2014-04-09 22:04] doutriaux1 opened #13 "should we add option for user defined/custom metrics"
so that you can have "in-house" extra metrics

[2014-04-10 00:52] durack1 opened #14 "Add UV-CDAT version and date stamp to json and all output files"
We should add UV-CDAT and date stamp to all output formats to make debugging and problem discovery easier

[2014-04-10 17:54] doutriaux1 opened #15 "double check obs have requested var and return comprehensible error message"
example: huss ?

[2014-04-17 18:27] doutriaux1 opened #16 "wgne_metrics_driver not executable"
# /usr/bin/env python

should be
# !/usr/bin/env python

[2014-04-17 21:17] #10 closed, assigned to nobody

[2014-04-17 21:21] #14 closed, assigned to nobody

[2014-04-17 21:21] #16 closed, assigned to nobody

[2014-04-17 22:25] gleckler1 opened #17 "Need to incorporate ability to mask land or ocean data"
This needs to be done with the land sea mask of the model.  A version of these for CMIP5 can be found at:  /work/gleckler1/processed_data/cmip5_fixed_fields/sftlf

But I guess we also need land sea masks on a series of target grids... 5x5, 2.5x2x5, 1x1... we should build these in somehow.

This will also require new switches in the parameter file or a list[] of ocean-only and land-only variables.

[2014-04-17 23:36] doutriaux1 opened #18 "obs class do not respect Peter's structure"
need to add realm/fqcy

e.g:
ocn/mo

after the user defined root path to obs

[2014-04-18 01:15] #8 closed, assigned to nobody

[2014-04-18 22:53] #18 closed, assigned to nobody

[2014-04-18 22:55] #12 closed, assigned to nobody

[2014-04-18 22:55] #15 closed, assigned to nobody

[2014-04-18 22:56] #9 closed, assigned to nobody

[2014-04-18 22:57] #3 closed, assigned to nobody

[2014-04-18 22:57] #5 closed, assigned to nobody

[2014-04-18 23:28] durack1 opened #19 "cowardly metrics.."
public1:/home/p1d/140418_metrics/test> /home/p1d/140418_metrics/WGNE/bin/python /home/p1d/140418_metrics/WGNE/bin/wgne_metrics_driver.py -p /home/p1d/140418_metrics/test/wgne_input_parameters_test.py
 ref is:  all
 refs: [u'default']
 OBS SHAPE IS  (12, 72, 144)
 tos   GFDL-ESM2G   (12, 72, 144)   (12, 72, 144)    default
 Error while processing observation tos for variable default:
        Obs an

[2014-04-18 23:44] durack1 opened #20 "relative path problems"
This is related to https://github.com/UV-CDAT/uvcdat/issues/449 and https://github.com/UV-CDAT/uvcdat/issues/448

It seems like cleaning up those issues might solve the below:

public1:/home/p1d/140418_metrics/test> source ../WGNE/bin/setup_runtime.csh
public1:/home/p1d/140418_metrics/test> which python
../WGNE/bin/python
public1:/home/p1d/140418_metrics/test> which wgne_metrics_driver.py
../WGNE/

[2014-04-22 18:50] durack1 opened #21 "Add CMOR to standard metrics build?"
As we've agreed that building udunits to attempt to most accurately deal with weird variable units is a good idea.. Maybe we should also add CMOR to the build - that way modeling groups have quite literally all the tools installed and built for them so they can rewrite their data if required before pushing through the metrics meat grinder..?

[2014-04-25 17:08] durack1 opened #22 "Install on SuSE 11.1 (SLES 11.1 - CSIRO machine)"
Ok so this seems to be getting closer..?

[code]

[2014-04-28 16:01] #20 closed, assigned to doutriaux1

[2014-05-15 15:51] jservonnat opened #24 "Add a new diagnostic : jet latitude"
We want to add a new diagnostic on the position of the subtropical jets

[2014-05-22 15:54] doutriaux1 opened #25 "custom metrics from parameters file"
edit driver to look at parameter file and run custom local metrics.

[2014-05-22 15:55] doutriaux1 opened #26 "add output types"
possibly csv and/or database

[2014-06-12 22:09] doutriaux1 opened #27 "tweak driver to allow non-climatology"
need to come up with system to tell driver which set of metrics to use (-m/-e option?)

[2014-06-13 15:55] doutriaux1 opened #28 "installer points to ESGF"

[2014-06-13 17:00] #13 closed, assigned to doutriaux1

[2014-06-13 22:36] doutriaux1 opened #29 "add capability to append to jsn/dict file"
from parameter file we should be able to have an option to point to an existing json file and extend it.

[2014-06-17 17:09] durack1 opened #30 "install pytz module as default metrics package"
The pytz module (I thought it came free as a standard python module) doesn't appear to be installed in our current metrics package..

It's very useful to deal with timezoning stuff, and I'm using it for global attribute creation for files.

I'd advocate we drop this package back into the metrics..

[2014-06-20 17:36] durack1 opened #31 "bump metrics numpy to 1.9.x for devel branch"
Considering the performance improvements we've discovered jumping from 1.7.1 to 1.9.0b1, I'd be keen to get a devel branch of the metrics using the latest numpy version.. I can then pull this across to GFDL for further testing..

I'd be reluctant to commit this to the master branch until we've verified that the numbers coming out of numpy 1.9.0b1 are reasonable, that masked arrays are being dealt

[2014-06-26 18:26] #28 closed, assigned to doutriaux1

[2014-06-26 18:28] #19 closed, assigned to nobody

[2014-06-26 18:28] #11 closed, assigned to doutriaux1

[2014-06-26 18:29] #6 closed, assigned to nobody

[2014-06-27 22:33] doutriaux1 opened #36 "Controlled Vocabulary"
Try to keep as much information from IPSL controlled vocabulary as possible, see:

https://github.com/PCMDI/wgne-wgcm_metrics/wiki/Reference-Syntax-indexation

[2014-06-30 15:33] doutriaux1 opened #37 "not picking up existing python"
if you have already a working cdat it should use this one. Or at least have an optino to tell the installer to use this one.

[2014-07-01 23:31] durack1 opened #38 "Trying to remove non-empty sample_data subdirectory"
As below

[code]

[2014-07-02 17:08] durack1 opened #39 "JSON output: explicitly name reference obs"
Rather than 'default'

[code]

[2014-07-07 17:26] gleckler1 opened #41 "package demo: incomplete filename for interpolated_model_clims"
tos_GFDL-ESM2G__historical__198501-200512.interpolated.linear.2.5x2.5-clim.nc

Also in this demo interpolated file:
-  the variable name is "VAR"
-  new metrics controlled vocabulary is not included...

[2014-07-09 17:12] durack1 opened #42 "Directory tweaks before more documentation is written: 'wgne' build dir becomes 'pcmdi'"
It might be a good idea to consider renaming wgne-wgcm_metrics to pcmdi_metrics before things begin to gain too much more momentum..? Thoughts?

[2014-07-09 17:33] #22 closed, assigned to nobody

[2014-07-10 16:38] durack1 opened #43 "Create 'misc' subdir to contain example code"
The work done on the GFDL infrastructure to best use the metrics package to create climatologies and then generate metrics from these has been done. The scripts which have been written to do this should be available somewhere so that other users don't have to start from scratch.

[2014-07-11 15:33] doutriaux1 opened #44 "add option to not remove uvcdat_build directory"

[2014-07-22 18:22] durack1 opened #45 "wrap processing in try/except rather than bombing"
It appears the code is bombing if it can't find data, rather than skipping (the preferred result):

[code]

[2014-07-25 19:38] #36 closed, assigned to doutriaux1

[2014-07-25 19:38] #31 closed, assigned to nobody

[2014-07-31 18:51] gleckler1 opened #46 "bomb on level data"
All 4d data now fails (e.g., 'ta_850','ua_200') as a result of the new regions_dict in wgne_metrics_driver.py only reading root variable (without level).

[2014-07-31 20:14] gleckler1 opened #47 "need to change json dictionary keys for obs..."
For clarity, we should the following keys, only for output (json and ascii files):

"default"  =>  "defaultReference"
"alternate => "alternateReference"
no change to "ref3", ... "refn"

[2014-07-31 22:34] #39 closed, assigned to nobody

[2014-08-01 01:43] doutriaux1 opened #49 "mac needs edit on "share" folder"
Looks for json test file at wrong place:

[code]

whereas it is really at:

[code]

[2014-08-01 03:36] #45 closed, assigned to nobody

[2014-08-04 00:11] #17 closed, assigned to nobody

[2014-08-04 17:56] gleckler1 opened #50 "Expand attributes in metrics output json file: creation date, tracking id and climfilename.nc"
For each variable/json file ...

Add to both models (under "SimulationDescription") and observations the following keys (both of which can be obtained from the netCDF files...

1) tracking_id
2) creation_date
3) the name of the .nc file climatology

[2014-08-05 23:00] durack1 opened #51 "Not currently building (devel branch)"
[code]

[2014-08-13 00:47] doutriaux1 opened #52 "test suite needsdata to test udunits pkg"
GFDL tos

[2014-08-13 20:28] doutriaux1 opened #53 "hard coded +273.15 for tas"
It appears that there is a hard coded unit conversion in some of the python scripts that are running with the metrics driver. I've found the following line in '/home/Paul.Durack/140701_metrics/WGNE/lib/python2.7/site-packages/metrics/wgne/ mean_climate_metrics_calculations.py':

if var == 'tas': do_glb = do_glb + 273.13

[2014-08-21 16:07] #46 closed, assigned to doutriaux1

[2014-08-21 16:08] #47 closed, assigned to nobody

[2014-08-21 16:54] #41 closed, assigned to nobody

[2014-08-21 16:58] #44 closed, assigned to doutriaux1

[2014-08-21 16:58] #51 closed, assigned to nobody

[2014-08-21 17:26] durack1 opened #59 "VCS issue with portrait plots"
Ok so first test trying to plot a portrait plot:

[code]

And yes, the only way I could get this far down the path was to use `bash`.. `csh` bombed admirably.. I'll await the updated build on oceanonly and try again either later this week or next..

[2014-08-21 18:11] #37 closed, assigned to doutriaux1

[2014-08-28 16:59] #49 closed, assigned to doutriaux1

[2014-08-28 21:12] doutriaux1 opened #62 "add options to installer"
@taylor13 please confimr this is right:
default should be: "cdat_lean" (cdms2+cdutil+genutil")

add option for graphics (vcs but NO GUI)

add option for cmor

[2014-08-28 23:47] durack1 opened #63 "Latest master build is failing"
9562abe68b6e9d1f44924d6e56636730e84cbbd1

Looks like the installer is hanging on the final build step:

[code]

[2014-08-29 00:28] durack1 opened #64 "Metrics completed build grown to >8Gb?"
Is this expected?
[code]

[2014-09-03 00:06] durack1 opened #67 "Double slash paths"
It seems that double slash paths are creeping in from the param file, so:

[code]

becomes:

[code]

[2014-09-03 15:48] durack1 opened #68 "New numpy returning NaN values for 3D regridded data"
It appears the update of numpy from 1.7.1 to 1.9.x has caused a new behavior that is leading 3D data to return NaN values, something to do with the masking..

[code]

[2014-09-11 18:21] durack1 opened #70 "create sftlf masks for obs data to enable ocean and land-only metrics"
The code searches for an "sftlf" file, which is unlikely to exist so I suggest this mask hunt is removed

[code]

[2014-09-11 22:13] #63 closed, assigned to nobody

[2014-09-11 22:15] #42 closed, assigned to nobody

[2014-09-11 22:49] durack1 opened #71 "Add durack1 as collaborator"
@doutriaux1 can you add @durack1 as a repo collaborator so I can start setting miletones?

[2014-09-11 23:58] #71 closed, assigned to nobody

[2014-09-12 00:16] #53 closed, assigned to nobody

[2014-09-16 14:09] PBrockmann opened #72 "Installation"
Is there a good reason not providing this pcmdi_metrics package with a python distribution like Anaconda ?
I would like to install cdms2, cdutil and pcmdi_metrics package with a simple pip install procedure.

[2014-09-16 19:40] durack1 opened #73 "Problems picking up existing cdat install"
I've just come across this problem, where my path doesn't include a valid cdat install (I scrubbed it), however the installer is finding one:
[code]
My path looks like:
[code]

[2014-09-16 19:47] durack1 opened #74 "Update obs data"
Currently the ocean obs are missing some available updates:

| Variable | Current obs | Latest obs |
|:-------------:|:-------------:|:-------------:|
| sos | Aquarius V2 20110817-20130416 | Aquarius V3 20110817-20140708 |
| sos | NODC-WOA09 | NODC-WOA13 |
| sos | UCSD-ARGO 2004-2012 | UCSD-ARGO 2004-2013 |
| tos | NOAA-OISST-v2 198101-201304 | NOAA-OISST-v2 198101-201408 |
| tos | NODC-WOA09 | NO

[2014-09-18 16:51] gleckler1 opened #75 "generate obs_info_dictionary.json better that currently done"
As is, the user has to first run build_obs_meta_dictionary.py after they have downloaded obs.
/export/gleckler1/git/pcmdi_metrics/src/python/pcmdi/scripts
Paul want to improve how this is done.

[2014-09-18 22:41] durack1 opened #77 "Add CMIP5/3 json dictionaries for use in portrait plot comparisons"
Ok so once you have your json archive, you should be able to use something from here:
https://docs.python.org/2/distutils/setupscript.html#installing-package-data

To copy the files across, the command:

[code]

Could work best, possibly with wildcards..

[2014-09-19 15:25] gleckler1 opened #78 "too many files (json) open"
When running pcmdi_metrics_driver.py with multiple variables and many models code is bombing with too many files (open)... seems to be json files, not cdms files (below)... but I don't think an explicit close is required after a json dump.

[code]

[2014-09-25 17:02] durack1 opened #84 "Clean up metrics results"
Following the 24th Sept 2014 email to GFDL the following improvements were listed:

All statistics are being generated for all variables but some exceptions need to be introduced.
1. 'zos' from altimetry only represents departures from an annual mean
2. Some variables need area trimming (e.g., equatorward of 50 degrees for some fields)
3. New statistics (e.g., departure from the zonal mean)

[2014-09-25 18:08] durack1 opened #85 "Produce templates for portrait plots"
Following the 24th Sept 2014 email to GFDL the following improvements were listed:
1. Produce templates for portrait plots.

test_portrait.py already plots CMIP5 results for a large suite of variables, improvements include?

[2014-09-25 18:10] durack1 opened #86 "Include statistics across multiple obs"
Following the 24th Sept 2014 email to GFDL the following improvements were listed:

Include statistics across different observational references (e.g., CERES vs ERBE).

[2014-09-25 18:12] durack1 opened #87 "Add new metrics"
Following the 24th Sept 2014 email to GFDL the following improvements were listed:

Adding new metrics including:  monsoon precipitation index, total sea-ice extent, ILAMB land metrics (in collaboration with ORNL), upper ocean heat content, Koppen climate. Also of interest is the diurnal cycle of precip (based 3hr data, ref TRMM). And there are also the potential collaborations we've previously di

[2014-10-09 13:42] durack1 opened #88 "Add mean absolute error for annual to output"
From: Erik Mason - NOAA Affiliate
Date: Thursday, October 9, 2014 at 5:41 AM
To: "Paul J. Durack"
Subject: PCMDI Metrics output

Hi Paul,

I've been sorting through the output for the metrics package and I noticed that there are no annual values for MAE [Mean Absolute Error] saved. Should we be saving this value, or is there a reason that it is being omitted?

Thanks,
Erik

[2014-10-13 22:51] durack1 opened #90 "Latest master build is failing"
As below for commit https://github.com/PCMDI/pcmdi_metrics/commit/3bf8116af3b4962128918d197ae954437a22e766:

Only edits are:

[code]

And it fails at:

[code]

[2014-10-14 20:08] #90 closed, assigned to nobody

[2014-10-16 15:58] durack1 opened #94 "Degrees C -> K and vice versa hard code? GFDL-CM2p1"
From: Erik Mason - NOAA Affiliate
Date: Thursday, October 16, 2014 at 8:54 AM
To: "Paul J. Durack", "Gleckler, Peter J.", "Doutriaux, Charles", John Krasting - NOAA Federal
Subject: Kelvin to Celsius conversion in TOS obs

Hi Paul,

It appears that there is an issue with GFDL-CM2p1 in the CMIP5 metrics json files that you've supplied us with. GFDL-CM2p1 shows a model biases on the order of 273. CM

[2014-10-16 20:36] gleckler1 opened #96 "remove bz2 files"

[2014-10-16 21:02] gleckler1 opened #98 "MV CMIP5 results in intsall dir"

[2014-10-16 21:42] #98 closed, assigned to nobody

[2014-10-16 21:43] #96 closed, assigned to nobody

[2014-10-16 22:01] durack1 opened #100 "UV-CDAT anonymous logging buggy - preventing batch jobs from completing"
From: Erik Mason - NOAA Affiliate
Date: Thursday, October 16, 2014 at 2:23 PM
To: "Paul J. Durack", "Gleckler, Peter J.", "Doutriaux, Charles", John Krasting - NOAA Federal
Subject: PCMDI Bug Report

Hi Paul,

Sorry to bother you once again. It appears that there is a bug with UVCDAT anonymous logging option. John and I both have this option set in ~/.uvcdat/.anonymouslog. However, if a user doesn

[2014-10-16 23:53] #88 closed, assigned to durack1

[2014-10-17 00:58] #94 closed, assigned to durack1

[2014-10-17 15:58] #100 closed, assigned to doutriaux1

[2014-10-17 20:18] gleckler1 opened #103 "need to get sftlf out of obs_info_dictionary.json"
obs_info_dictionary.json ain't the place for the sftlf files.    This dictionary is for the monthly mean database of obs, which I am regularly updating via src/python/pcmdi/scripts/build_obs_meta_dictionary.py     When I run this its going to break the test case.

We are going to need multiple sftlf (different obs and at different resolutions) so it deserves its own dictionary

[2014-10-17 20:22] gleckler1 opened #104 "need to update obs dictionary to include CRF fields"

[2014-10-17 23:46] #104 closed, assigned to nobody

[2014-10-17 23:56] durack1 opened #107 "sftlf ocean-only mask for input/source files in parameter file"
The parameter file requires an additional field/entry so that ocean-only metrics can be calculated. This will require a user to specify an input/source file in their parameter file which contains the mask field

[2014-10-18 02:02] gleckler1 opened #108 "Update doc/README.txt"
This file should provide HOWTO basics including:

bin/setup_runtime.csh  or bin/setup_runtime.sh  ... should be assumed the user does not know which one they should use
- Testing to make sure got the right version of python going
- Will have to be reddone for any new window
- how to run verify test code(s)

parameter file ... some text to describe what is done here.

command line for running drive

[2014-10-18 02:45] gleckler1 opened #109 "create doc/parameter_files"
Still trying to get this subdir established for keeping sample/operational parameter files

[2014-10-18 15:55] doutriaux1 opened #110 "make sure portrait reads json from CMIP5 remove older json files"

[2014-10-18 15:56] doutriaux1 opened #111 "create obs sftlf if not found"

[2014-10-18 16:23] doutriaux1 opened #113 "add ctest or some sort of test suite"

[2014-10-18 18:52] #107 closed, assigned to doutriaux1

[2014-10-20 15:14] #21 closed, assigned to nobody

[2014-10-20 15:15] #62 closed, assigned to doutriaux1

[2014-10-20 16:05] gleckler1 opened #114 "dic in parameter_file needed to enable different variable names"
With default as is, we need a dictionary up front where users can enter their equivalent variable name, e.g.:
var_name_mapping = {'rlut':'flut',
                                     'pr': 'precip'}

We need to include this option in 1.0 release.

[2014-10-20 16:57] #43 closed, assigned to nobody

[2014-10-20 18:11] #111 closed, assigned to nobody

[2014-10-20 21:59] #110 closed, assigned to doutriaux1

[2014-10-20 22:00] #114 closed, assigned to doutriaux1

[2014-10-20 23:51] #38 closed, assigned to durack1

[2014-10-21 00:08] #50 closed, assigned to doutriaux1

[2014-10-21 14:09] #67 closed, assigned to doutriaux1

[2014-10-21 17:42] durack1 opened #122 "Rename CMIP_results to data so obs (sftlf files) can also be included"
After talking with @gleckler1 I'll rename the CMIP_results subdir to data, which can then house both CMIP results and obs data (using a naming convention that should be sensible to metrics users..)

The new structure will look something like:

| level 0 | level 1 | level 2 | level 3 | files |
| :-: | :-: | :-: | :-: | :-: |
| data | CMIP_metrics_results | CMIP5 | historical | *.json |
| data | CMI

[2014-10-21 21:26] gleckler1 opened #125 "update_obs_dictionary_script_with_sftlf_fields"

[2014-10-21 21:35] durack1 opened #126 "Update obs tar ball with fx fields"
Ok so new obs tar ball which includes all the mo/ac files which are currently being tested at GFDL is now hanging off oceanonly..

Path to download is: oceanonly.llnl.gov slash durack1/dump/140117_metrics/141021_pcmdi_metrics_clim-obs.tar.bz2 - path broken so as to prevent google indexing

This updates new fx/mask files from #70..

When [Milestone 1.1](https://github.com/PCMDI/pcmdi_metrics/milest

[2014-10-21 21:37] #126 closed, assigned to durack1

[2014-10-21 23:39] gleckler1 opened #127 "Improve test to deal with sftlf"
As I understand it, the test code
PCMDI_METRICS/test/pcmdi/basic_test_parameters_file.py
is set up for the variable "tos" and using sftlf_GFDL-ESM2G.nc

"tos" is already masked over ocean, so its not ideal for testing the functionality of sftlf
 would be better to apply the test to "tas",  perhaps for global, ocean and land

[2014-10-22 16:21] #103 closed, assigned to nobody

[2014-10-22 16:21] #75 closed, assigned to nobody

[2014-10-22 16:32] #59 closed, assigned to nobody

[2014-10-22 20:54] #125 closed, assigned to gleckler1

[2014-10-22 23:17] #70 closed, assigned to durack1

[2014-10-22 23:20] #122 closed, assigned to durack1

[2014-10-22 23:28] #25 closed, assigned to nobody

[2014-10-23 18:13] durack1 opened #134 "Setup external llnl email alias (pcmdi-metrics@llnl.gov) for inclusion in documentation"
I've just sent a request to 4help so will see how 4helpful they are..

[2014-10-24 19:04] #134 closed, assigned to durack1

[2014-10-28 18:04] gleckler1 opened #135 "obs mask not found instead is automatically generated and wrong"
For regions land or ocean,  the obs mask is not found and instead

 "Could not find obs mask, generating"

Should not be getting this because masks exist in obs/fx

The class OBS (pcmdi_metrics.pcmdi.io.OBS) only accounts for the monthly mean obs:  template = "%(realm)/mo/%(variable)/%(reference)/ac/%(variable)_pcmdi-metrics_%(obs_table)_%(reference)_%(period)-clim.%(ext)"

We need a new class for

[2014-10-28 20:44] gleckler1 opened #137 "add departures from zonal mean for rms decomposition"
work in progress...

[2014-10-28 21:04] durack1 opened #138 "Update install notes on wiki"
Info found at https://github.com/PCMDI/pcmdi_metrics/wiki/Install

[2014-10-28 21:08] gleckler1 opened #139 "Gaining control of the order of the python dictionary keys in json files"
To demonstrate package, we often show results of json files... it would be great to have control over the order of the keys in json files, e.g., put general stuff (grid, obs, etc) up front then model results after... I may have found a possible solution...

Could not quite get it working correctly, but have left comments in base.py....

from collections import OrderedDict

json.dump(data,f,_args,_

[2014-10-30 18:48] #139 closed, assigned to doutriaux1

[2014-10-30 18:55] durack1 opened #142 "install_metrics.bash cleanup - add in generic email"
There's a duplicate `num_cpus` entry and additionally the install completion text should include the new pcmdi_metrics email address

[2014-10-30 19:49] durack1 opened #144 "Build latest metrics on yellowstone.ucar.edu"
Currently building..

[2014-10-30 22:32] #142 closed, assigned to durack1

[2014-10-31 14:41] #113 closed, assigned to doutriaux1

[2014-11-03 18:03] gleckler1 opened #146 "improve naming of obs alternate references"
Currently:    default,  alternate and ref3
Changing to:  default, alternate1 and alternate2
The requires updating build_obs_meta_dictionary.py and running it to update obs_info_dictionary.json

[2014-11-03 19:14] #146 closed, assigned to gleckler1

[2014-11-03 19:51] doutriaux1 opened #148 "test_suite needs cleanup when run from install dir"

[2014-11-03 21:35] #138 closed, assigned to durack1

[2014-11-03 21:56] #148 closed, assigned to doutriaux1

[2014-11-03 22:52] durack1 opened #151 "udunits not found"
udunits appears to be lost in the latest build:

[code]

[2014-11-04 20:14] #144 closed, assigned to durack1

[2014-11-05 22:51] #151 closed, assigned to doutriaux1

[2014-11-13 17:27] #135 closed, assigned to doutriaux1

[2014-11-13 17:27] #127 closed, assigned to nobody

[2014-11-14 19:02] doutriaux1 opened #156 "looked into using multiprocessing to speed up"
We should look into using multiprocessing or subprocess to speed code running many variables/models

[2014-11-14 19:05] #78 closed, assigned to doutriaux1

[2014-11-14 20:56] #52 closed, assigned to doutriaux1

[2014-11-14 23:19] durack1 opened #158 "Generate auto version info for inclusion in setup.py"
@doutriaux1 you probably have this in hand, but as soon as we have a tagged release we're going to need to align the installed version (currently hard coded in setup.py `Version="0.6.0"`) with the git revision..

I noted the following way to do it: http://cd34.com/blog/programming/using-git-to-generate-an-automatic-version-number/

Do you have another way that we can automate the version number?

[2014-11-17 22:00] #68 closed, assigned to doutriaux1

[2014-11-18 00:28] #158 closed, assigned to doutriaux1

[2014-11-18 00:29] durack1 opened #161 "1.0.0 tag commit"
Make sure installation script is frozen to 1.0.0 including all tag points and checkouts

@doutriaux1 v1.0.0 has been tagged, we'll need to:
- [x] Confirm new build works with GFDL-ESM2G and GFDL-CM4 data
- [x] Validate version info is correctly written (version indicated v1.0.0)
- [x] Check/confirm jsons copied on install
- [x] Add demo files (GFDL/NCAR/ACME) are copied on install
- [x] Fix issues

[2014-11-20 01:18] durack1 opened #162 "Deal with salinity unit variants better"
The current version of all sos obs store data using the "PSS-78" scale/units (which stands for the Practical Salinity Scale 1978) and variants around this:
[code]
Modeling centers often use ```psu``` (the case with GFDL), and consequently we we should make sure that the metrics package automatically deals with this variable, which is not the case currently:
[code]
I suggest that any of the valid v

[2014-11-22 23:14] durack1 opened #163 "Pull GFDL demo scripts into repo"
Add demo scripts to  /src/python/pcmdi/scripts/ to make reuse at NCAR etc easier

[2014-11-22 23:37] #163 closed, assigned to durack1

[2014-11-24 22:51] durack1 opened #165 "Generate demo/template scripts for NCAR data"
The following data is available for testing, write wrapper scripts (ala GFDL) to access this datastream:

[code]

[2014-11-25 20:42] #165 closed, assigned to durack1

[2014-11-26 21:40] durack1 opened #168 "Generate demo/template scripts for ACME data"
Following the #165, also generate similar scripts for the ACME datastream from a quick look this data looks almost identical to that out of CAM5/NCAR..

[2014-11-27 01:02] durack1 opened #170 "Purge Notes.txt - contains deprecated info and is no longer useful"
@gleckler1 I'm purging the Notes.txt file from the main directory - this is no longer useful, as it points to files/dirs and functions that no longer exist

[2014-11-29 22:39] #170 closed, assigned to durack1

[2014-11-29 22:39] #168 closed, assigned to durack1

[2014-12-01 17:22] doutriaux1 opened #172 "sort keys for diag part"
rms_JAN etc need to sort this section's keys.

[2014-12-01 17:47] #172 closed, assigned to doutriaux1

[2014-12-01 19:08] gleckler1 opened #174 "Land and Sea results only being saved to json file if model sftlf exists..."
If model sftlf does not exit, it is generated on the fly.   The only reason to do this if provisional results are going to be calculated.  Its seems they are, but only the GLOBAL results are being saved to json files.

[2014-12-01 21:30] #174 closed, assigned to nobody

[2014-12-02 17:35] gleckler1 opened #175 "copy parameter files subdir in repo doc as part of setup.py"

[2014-12-02 17:37] #175 closed, assigned to nobody

[2014-12-03 16:24] durack1 opened #176 "Create variable mapping dictionaries for GFDL/NCAR/CAM"
It seems with the suite of demo scripts that we're starting to collate, it would be suitable to further extend the metrics package with known variable mappings - as has already been done with GFDL and NCAR/ACME/CAM.

It we generate these dictionaries and drop them somewhere (maybe in the doc main subdir, maybe further down under src/python/pcmdi/scripts/) then they can easily be reused/refined as

[2014-12-09 23:43] #77 closed, assigned to gleckler1

[2014-12-10 00:47] #109 closed, assigned to gleckler1

[2014-12-10 20:01] durack1 opened #179 "Bring test directory back up to install directory (and update wiki notes)"
Users shouldn't have to dig into the tmp build directory to run tests - make sure that the test subdir is copied to the {install_prefix} during the installation process

@gleckler1 has noted that this disappeared some time ago..

[2014-12-11 00:05] #179 closed, assigned to durack1

[2014-12-11 00:21] #108 closed, assigned to durack1

[2014-12-11 00:39] durack1 opened #184 "Add ACME portrait plot script to repo"
Adding script written by @gleckler1

[2014-12-11 00:42] #184 closed, assigned to durack1

[2015-01-01 04:00] durack1 commented on #161
Fix issue with double period in output (interpolated) filenames:
[code]

[2015-01-05 21:41] durack1 opened #200 "Fix issue with double period in output (interpolated) filenames"
Fix issue with double period in output (interpolated) filenames:
[code]

[2015-01-05 23:04] durack1 commented on #161
These subdirs and hanger-on files should really be purged to keep things clean:
- Cleanup deprecated subdirs/files during install: **bin/{.gif, .ttf, .png, .scr, .xmb}**, **bin/images**, **bin/tutorials**, **include**, **man**, **share/man**

It'll likely need an issue in UVCDAT/UV-CDAT as this is an upstream issue, there is already an issue for this: https://github.com/UV-CDAT/uvcdat/issues/788

[2015-01-06 00:26] durack1 opened #201 "Portrait plot tweaks"
Currently the portrait plot script is hunting around for json files that contain either multiple model results (CMIP5 examples) or potentially results from just one model (GFDL example) this is leading to a plot which repeats variables over and over again (see attachment):
![test_portrait-4seas](https://cloud.githubusercontent.com/assets/3229632/5622378/79521f34-94f7-11e4-8eb7-337d0bf45f00.png)

W

[2015-01-06 00:34] durack1 commented on #201
@doutriaux1 here it is https://github.com/durack1/pcmdi_metrics/tree/issue201_durack1_PortraitPlotTemplateTweaks/src/python/pcmdi/scripts/GFDL

@gleckler1 probably has some comments to make too..

[2015-01-06 00:36] doutriaux1 commented on #201
Yes the script was mostly made for the unit test.

I will create a function that "loads" multiple json files and return the correct array/settings for portrait plots.

[2015-01-06 00:38] durack1 commented on #201
@doutriaux1 as we haven't sorted out *sos* (which is related to https://github.com/PCMDI/pcmdi_metrics/issues/162) we'll also need to deal with cases where the CMIP5 results exist, but there is no equivalent for the model being compared (in this case from GFDL)

[2015-01-06 00:42] doutriaux1 commented on #201
missing are not a problem, the issue here is to not create duplicates. Where will need decision making is cases where model are given for the same var twice (i.e json files for historical and control mixed together), then need to make a decision:
* use the last one
* use the first one
* duplicate and find/decide on some field to append on model name (or vars?)

etc...

[2015-01-06 15:57] durack1 commented on #201
@gleckler1 will need to chip into this discussion I think..

[2015-01-07 17:49] durack1 commented on #200
@doutriaux1 this issue is related to the ```%(table_realm)``` variable not being defined and therefore returning a blank in the file (leading to double delimiters)..

Should ```%(table_realm)``` actually be ```%(table)```? I wonder if we should define what variables are what somewhere - probably in the parameter file:

So this should include:
model_version
table_realm/table
variable
level
period
r

[2015-01-07 23:03] durack1 commented on #200
This issue was due to a bad parameter file (and wrongly defined table info).. @doutriaux1 before closing this should my comments above (RE: better documenting param file) be dealt with somewhere? Or should we create a new issue which includes template parameter file tweaks along with tweaks to the wiki?

[2015-01-07 23:17] doutriaux1 commented on #200
@durack1 you're right we should document this. In the paramter files we provide would be a good start point. But it probably also needs to be documented somewhere more "official". Like in the actual documentation.

[2015-01-07 23:22] durack1 commented on #200
@doutriaux1 ok well to start I think we need to agree on which existing parameter file becomes our go to default (from which all others are based).. I spent a fair bit of time cleaning up  pcmdi_metrics/doc/parameter_files/pcmdi_input_parameters_test.py which now includes a whole whack of verbose descriptions.. Maybe that also needs some of your custom keys stuff? And then of course listing the va

[2015-01-07 23:24] durack1 commented on #201
As part of this issue/PR I also have some updated GFDL parameter (and createXmlsAndNcs.py) files to update.. @gleckler1 and @doutriaux1 when the portrait tweaks are finalised, I'll update all these files in one PR..

[2015-01-08 23:58] doutriaux1 commented on #200
@durack1 nope this one has pretty much nothing in it...

A more complete is at:
https://github.com/PCMDI/pcmdi_metrics/blob/master/test/pcmdi/basic_test_parameters_file.py

but some param tweakfor sftlf handling are also found  in:
https://github.com/PCMDI/pcmdi_metrics/blob/master/test/pcmdi/gensftlf_test.py

[2015-01-09 20:05] durack1 commented on #200
@doutriaux1 ok I think these two need to be merged, so that we have a single demo param file that contains all the options..

[2015-01-12 10:00] jservonnat opened #205 "Pairs keyword/value"
As you know, at IPSL we aim at using the results of the metrics by storing all those in a MongoDB database. The interest of this strategy is that we will automatically store the results of all the simulations ran at IPSL (right after the computation of the post-treatments of the simulations, i.e. the creation of the annual cycles files). The CMIP5 metric results will be stored in the same collecti

[2015-01-12 13:31] jservonnat opened #206 "Masks : global, land, ocean… sea ice ?"
A question about the land-ocean mask : at the moment, there is a separation between land and ocean surfaces. Does the ocean mask incorporates sea ice ? In both cases (yes or no), what led you to this choice ? This is a call for an open discussion and I imagine that we are facing both scientific (what can we consider as the ocean) and practical reasons (mask varies from one model to the next)…

[2015-01-12 17:33] durack1 commented on #206
@jservonnat the land/ocean mix is oblivious to sea ice - that is land is persistent throughout each timestep (and so is the ocean field). These are fixed (fx) fields, which are not time varying.

@gleckler1 can comment more about this..

[2015-01-12 17:34] durack1 commented on #205
@doutriaux1 is this due to a bug that may have already been fixed?

[2015-01-12 23:52] durack1 commented on #161
@doutriaux1 once the portrait plot demos for GFDL are in place, the only thing left to do is to better document the "final" parameter file. Once this is done if you can then move the tag point to the new commit, and once that it done then change install_metrics.bash to point back at the master UV-CDAT/Metrics repos and this issue can be closed..

[2015-01-13 05:05] durack1 commented on #200
@doutriaux1 I'll finalise this tomorrow so we can finish and retag v1.0.0.. Can you tell me where all the input variables (the software knows about) can be found in a list?

[2015-01-13 05:24] durack1 commented on #201
@doutriaux1 I'll add in the updated create*.py and the param file (will rename to gfdl_*) to the repo, and add the *.png demo files to setup.py and close this tomorrow.

[2015-01-13 07:50] jservonnat commented on #205
Actually I realize that the way I wrote the json tree is wrong. It would rather be something like:
"source": {
                 "CERES" : {
                                     "SimName": { "Cplv5G001": {
     "RegionalMasking":"global": {

[2015-01-13 17:29] #201 closed

[2015-01-13 19:29] #200 closed

[2015-01-14 01:20] durack1 commented on #85
Thanks to @doutriaux1 we now have two templates 3obs and 4seasons for portrait plots. Was there anything else that we needed to provide here @gleckler1 or can this issue be closed?

[2015-01-14 01:23] durack1 commented on #86
@gleckler1 this is achieved by setting:
[code]
Is anything else needed here or can we close?

[2015-01-14 01:24] durack1 commented on #86
I will note however that all the CMIP5/3/2 etc JSONs will need to be rerun so that they are tested against all available obs.. @gleckler1 I think this will be your task?

[2015-01-14 01:26] durack1 commented on #87
As per #24 @jservonnat wanted to add another metric "latitude of the subtropical jets" - this additional metric has been merged into this issue

[2015-01-14 01:27] durack1 commented on #24
Added to #87 so this can be closed

[2015-01-14 01:27] #24 closed

[2015-01-14 02:41] gleckler1 commented on #206
Good question.   As durack1 mentioned, applying the time-invariant land/sea mask is an important first step, which enables us to partition between land-only and ocean-only statistics.   For most of the ocean-only statistics we are currently testing we will be masking equatorward of any sea-ice, say at 50S or 50N.  This is pretty standard for avoiding the complexities associated with sea-ice.   The

[2015-01-14 10:32] jservonnat commented on #206
It makes sense indeed. Ok for me!

[2015-01-14 15:48] durack1 opened #214 "IPSL tweaks"
Here is a brain dump from @jservonnat:
[code]

[2015-01-14 20:13] #161 closed

[2015-01-14 22:20] jservonnat commented on #214
Thank you @durack1!

[2015-01-14 22:55] durack1 opened #215 "1.1 tag commit"
@doutriaux1 once v1.1 has been tagged, we'll need to:
- [ ] Validate version info is correctly written (version indicated v1.??)
- [ ] Update wiki so correct paths are noted (for test cases, demos etc)
- [ ] Update install_metrics.bash so that ```install_prefix="PCMDI_METRICS/v1p1"``` and checkout tagpoints are: ```cdat_version="v2.x.x"; metrics_checkout="v1.1"```
- [ ] Obtain zenodo DOI
- [ ] Fin

[2015-01-14 23:02] durack1 commented on #214
There are a few tweaks which might be helpful (and pretty simple to implement) here, in particular:
- [ ] Standardise ```NaN``` or ```null``` results to be consistent in json files (numpy quirks are leading to ```nan``` values creeping in
- [ ] Keep all date info conforming to UTC (related to #30 - pytz can do the UTC magic for us)
- [ ] Add variable (CMIP standard name) as identifier within jsons

[2015-01-15 23:24] durack1 opened #216 "src cleanup of deprecated files"
There appear to be a bunch of deprecated files still found on the src/ directory tree in particular:
[code]
Not sure if anything else in the subdir src/python/pcmdi could also go

[2015-01-18 21:00] durack1 commented on #162
@doutriaux1 it would be great to get this sorted out next week.. I really do need to start generating some metrics on the CMIP5 salinity fields..

[2015-01-21 15:47] jservonnat commented on #176
I'm ok with that too!

[2015-01-21 16:09] jservonnat commented on #87
Questions about the best way to add custom metrics...
I've been experiencing the compute_custom_metrics parameter in the parameter file to add my diagnostic on the latitude of the jets. It works pretty well, and adds my metrics results to the results of the pcmdi metrics.
I've got a couple of questions however.
What happens if I want to point to different custom metrics?
For example, in the parame

[2015-01-21 16:11] jservonnat commented on #87
Also as you know, I'm highly interested and concerned by the future metrics that will be added to the existing collection.
Could we consider creating an issue with the list of coming/wanted metrics, who is in charge of the development, and when should it be available?

[2015-01-21 16:59] jservonnat commented on #86
It doesn't work for me...

[2015-01-21 19:31] durack1 opened #217 "Generate demo/template scripts for CSIRO data"
Following #168, also generate similar scripts for the CSIRO/ACCESS datastream

[2015-01-21 20:11] #217 closed

[2015-01-21 22:33] durack1 commented on #87
@jservonnat you can indeed start appending a list and justification for why this would/is useful.. github provides a nice way of doing this:

Proposed new metrics:
- [ ] Add new metrics using the sftlf (land/ocean only)
- [ ] Jerome's favourite metrics
- [ ] Etc

[2015-01-21 22:34] durack1 commented on #86
@jservonnat I think we need to get you all version 1.0'd up.. The ```ref = ['all']``` seems to be working fine with the GFDL/CSIRO test cases I've been working through..

[2015-01-22 17:46] durack1 commented on #214
Multiple realization issue: These could be problematic when multiple realizations are used, so ```SimName``` value and ```defaultReference``` may not be consistent:

https://github.com/PCMDI/pcmdi_metrics/blob/master/data/CMIP_metrics_results/CMIP5/historical/pr_2.5x2.5_esmf_linear_metrics.json#L434-450

[2015-01-22 18:55] durack1 commented on #86
@gleckler1 when you re-run the CMIP5 jsons against all the obs, can you add the ```wfo``` variable please?

[2015-01-22 19:02] doutriaux1 opened #219 "add flag for on/off pcmdi metrics"
thanks @jservonnat

[2015-01-22 19:03] doutriaux1 opened #220 "make compute metrics dictionary so you can have one per variable"
thanks @jservonnat

[2015-01-22 19:04] doutriaux1 opened #221 "add dict for metrics description"
at bottom of json file
thanks @Jservonnat
@gleckler1 no worries it will be at the end

[2015-01-22 19:05] doutriaux1 opened #222 "pass dict for added parameters to compute_metrics"
@jservonnat

[2015-01-23 00:18] doutriaux1 commented on #85
let's close

[2015-01-23 00:18] #85 closed

[2015-01-23 00:20] doutriaux1 opened #223 "dump stlf"ed" data"
@gleckler1 request we would like to save climatologies used once masked.

[2015-01-23 00:20] durack1 commented on #216
@doutriaux1 @gleckler you happy for me to purge these (above) anything else?

[2015-01-23 00:23] durack1 commented on #86
@gleckler1 also ```sos``` which depends on #162

[2015-01-23 01:48] doutriaux1 commented on #223
@gleckler1 thank you for pushing this, it revealed a big error in the way sftlf are autogenerated! So this will fix tht as well.
Now turns out what you're asking for is already "sort of" implemented. The filename_output_template right now is supposed to contain a "%(region)" keyword that is used to dump various region into separate files.
Are you ok with keeping this? Or would you prefer to save A

[2015-01-23 01:48] doutriaux1 opened #224 "autogen sftlf wrong"
autogend sftlf contain lots of missing values!

[2015-01-23 03:34] #224 closed

[2015-01-23 16:52] jservonnat commented on #219
Just to provide a little bit more information on this issue: the idea is that we want to run custom metrics on given variables, without re-running the standard pcmdi metrics.
The solution is thus to add an attribute in the parameter file to control the calculation of:
- the pcmdi metrics only
- the custom metrics only
- or both

[2015-01-23 17:03] jservonnat commented on #221
Here is a list of attributes that I used to add in my 'IPSL_extended' list of keywords (for the metrics themselves):
- MetricName: the complete name of the metric (to be discussed... RootMeanSquareErrorLatitudeLongitude is indeed univocal, but maybe RMSE_XY is explicit enough?)
- DataType: 'ann', 'djf',...
- Region: a meaningful character chain to describe the region ('SHEX','GLB',...)
- Geographi

[2015-01-23 17:06] jservonnat commented on #220
@doutriaux1 Linked with #219?

[2015-01-23 17:08] jservonnat opened #226 "adding the variable in the json file"
This to ease the automatic read of the content of a json file.

[2015-01-23 17:10] jservonnat opened #227 "Systematically use UTC for the date format"
This goes in the way of defining acceptable and meaningful conventions to homogenize our data.

[2015-01-23 17:27] jservonnat opened #228 "Conflicts within the json file when running on multiple realizations"
The actual structure of the json file could induce conflicts with the name of the realization, in case of multiple realizations within the same json file. On one hand we have the "SimulationDescription" block that contains the realization (associated with a key 'SimName', which is convenient to read the json file). On the other hand we have the realization within the tree, below "SimulationDescrip

[2015-01-23 17:36] jservonnat opened #229 "Pass the complete variable name to compute_metrics (ua-XXX)"
In case we want to use the variable name within a custom compute_metrics function, it would be useful if 'var' was the same as the variable name provided in the parameter file.
The variable name in the output json file name is var-level, when it is var_level in the parameter file.
Would it be beneficial to have the same naming convention everywhere? (i.e. choose between var-level and var_level)

[2015-01-23 18:59] durack1 commented on #214
It seems that @jservonnat has opened a bunch of separate new issues for each of the items described above, these are #219, #220, #221, #226, #227, #228 and #229 - so rather than have duplicated open issues I'll close this one.

I note the the standardizing ```NaN``` or ```null``` in the json file isn't included in the current open issues so I'll open a dedicated new issue for this

[2015-01-23 18:59] #214 closed

[2015-01-23 19:01] durack1 opened #230 "Standardise "NaN" or "null" results to be consistent in json outputs"
Standardise ```NaN``` or ```null``` results to be consistent in json files (numpy quirks are leading to nan values creeping in - this will need to be systematically tested as the numpy version is incremented.

@jservonnat is there anything else relevant that needs noting in this issue?

[2015-01-23 19:02] durack1 commented on #229
Thanks for these specifics @jservonnat - these kind of tweaks are exactly the kind of granular feedback that we really appreciate.. Keep it coming!

[2015-01-23 19:04] durack1 commented on #216
@doutriaux1 @gleckler1 can you give me some feedback on this please?

[2015-01-23 19:06] durack1 commented on #228
@jservonnat @doutriaux1 I really do wonder if we should standardize "realization" as we keep referring to rather than "SimName" which is what we currently have in the outputs - it seems silly to have two different names when we keep describing these things within conversation (or issue reports as above) as "Realization"

[2015-01-23 19:10] durack1 commented on #227
@jservonnat I wonder where these issues are appearing - when I take a look at one of the json files we provide with the package (PR results from the CMIP5 piControl simulations):
ster/data/CMIP_metrics_results/CMIP5/piControl/pr_2.5x2.5_esmf_linear_metrics.json#L10,L32

It seems to me that some of the timestamps are obtained from the source files, which themselves would have to be in Z/UTC time ot

[2015-01-23 19:18] durack1 opened #231 "Check behaviors with lists for param values e.g. ref = 'all' vs ref = ['all']"
Following this info from @jservonnat it would be worthwhile testing this behavior to ensure that current provided demo param files actually do work..

[code]

[2015-01-23 20:39] doutriaux1 commented on #219
wel lif you don't define custom_metric then it won't compute it, so there's no need to define a flag for this ;)

[2015-01-23 20:45] doutriaux1 commented on #220
no it's a different thing, as explained in #219, if no custom is defined it's not computed so we don't need a flag

[2015-01-23 20:49] doutriaux1 commented on #230
there are actually 2 totally different animals NaN is "Not A number" i.e something went bad. null is None means no result, which usually means either an error occured or the metrics has not been run. I think it's an important difference.

[2015-01-24 16:52] jservonnat commented on #229
My pleasure @durack1 ;)!

[2015-01-28 14:32] jservonnat opened #232 "Add the possibility to provide a custom dictionary of observations?"
The metrics package is already very handy in integrating custom metrics directly from the driver. It would be great if we could also include a custom obs dictionary to complete the list of variables.
For example, I've had requests to compute metrics on LAI, and biogeochemistry fields (chlorophyll and things like that).
It's easily done by adding a couple of lines to the driver:
![capture d ecran 2

[2015-01-28 14:36] jservonnat commented on #228
@durack1 That's fine with me!

[2015-01-28 14:40] jservonnat commented on #227
@durack1 it's more on my side, with SimTrackingDate and MetricTrackingDate (both used in the IPSL context).

[2015-01-29 01:24] doutriaux1 opened #233 "Update wiki developer corner to newest workflow (much easier)"
  https://github.com/PCMDI/pcmdi_metrics/wiki/Tip-for-Developers

[2015-01-29 08:36] durack1 commented on #233
@doutriaux1 what needs to be done here?

[2015-01-29 08:44] durack1 commented on #162
@doutriaux1 any movement on this?

[2015-01-29 16:59] doutriaux1 commented on #233
we don't use devel branch anymore, just master and forks and PR

[2015-01-29 16:59] doutriaux1 commented on #233
I assigned oyu because you like these sort of things. Or at least you're much better at it than me.

[2015-01-29 22:38] durack1 commented on #233
@doutriaux1 ok I see what needs being done here.. Will do it upon my return..

[2015-01-30 00:16] gleckler1 commented on #223
Global, land, ocean results look plausible.
Creating three separate climatologies, but no masking in any of them...

[2015-02-03 14:24] durack1 commented on #232
It's likely this relates to #87 and updating the observation dictionary (and database) with timeseries..

[2015-02-03 15:19] durack1 commented on #220
Ok so I'm starting to understand this a little better - the aim here is to have multiple custom metrics - and the dictionary is the way to pass these to the package?

[2015-02-03 15:19] durack1 opened #236 "New custom metrics functionality"
After talking today with @jservonnat we discussed a clearer path forward for custom metrics.. On a 1.1, 1.5, 2.0 release timeline..  Considering changes in milestones:

Stage 1 - 1.1 milestone timeline (using current obs/model seasonal climatologies):
- [ ] Add new variables (@jservonnat has tested this for jet latitude - should this be included in standard suite?)
- [x] Add new obs through custom

[2015-02-03 17:11] doutriaux1 commented on #236
I think for 2.0, we should switch the obs to an esgf-served format. Should we create an issue for this?

[2015-02-03 20:09] doutriaux1 opened #237 "add option for "offscreen" build"
On super computers we may not have X11 avail. Adding the possibility to run the metrics built against mesa might make it faster, easier to use.

[2015-02-04 10:02] jservonnat commented on #236
I forgot those points:
- [] handling multiple custom compute_metrics functions (related with #220)
- [] pass the complete variable name to the compute_metrics function (#229)
- [] provide detailed information about the calculated metrics at the bottom of the json file (#221)

[2015-02-05 10:01] eguil opened #238 "ENSO metrics"
Example of tropical mean state and ENSO metrics:

https://skyros.locean-ipsl.upmc.fr/~ENSO_metrics/

More recent reference:
http://link.springer.com/article/10.1007/s00382-013-1783-z

[2015-02-06 23:01] doutriaux1 commented on #232
@jservonnat let's talk about this, if you look at the example parameter file I show how to fill the custom_metrics with many custom metrics.
In the above example (to be placed in parameter file for example)
the function "my_custom" receives "var",obs,mod
and then send them back to my_min and my_max
If it easily conceivable that "my_custom" looks at the value of "var" and THEN decides which functio

[2015-02-06 23:11] doutriaux1 commented on #220
@jservonnat let's talk about this, if you look at the example parameter file I show how to fill the custom_metrics with many custom metrics.
In the above example (to be placed in parameter file for example)
the function "my_custom" receives "var",obs,mod
and then send them back to my_min and my_max
If it easily conceivable that "my_custom" looks at the value of "var" and THEN decides which functio

[2015-02-07 01:31] doutriaux1 commented on #232
@jservonnat I like the idea, it's fairly easy to implement to as it is.

[2015-02-08 18:12] #231 closed

[2015-02-08 18:15] #228 closed

[2015-02-08 18:16] #232 closed

[2015-02-09 15:49] jservonnat commented on #220
@doutriaux1 Sounds interesting. I'll put it on test and get back to you soon.

[2015-02-09 16:58] doutriaux1 commented on #220
@jservonnat the PR is at
https://github.com/PCMDI/pcmdi_metrics/pull/243

[2015-02-20 14:54] jservonnat commented on #219
@doutriaux1 I've worked on this point and found a solution, created a branch and merged it to my master (jservonnat/PCMDI_metrics_IPSL). How do I send you a PR?

[2015-02-20 15:45] #220 closed

[2015-02-20 18:28] durack1 commented on #219
@jservonnat does the info available at https://github.com/PCMDI/pcmdi_metrics/wiki/Tip-for-Developers help you out here?

[2015-02-23 10:52] jservonnat commented on #219
@durack1 Actually it did help for 95% of the procedure but I'm now stucked at the point where I would like to submit a pull request to the PCMDI devel branch. I've checked on my github webpage but didn't find the way to submit the PR to the PCMDI.
So apparently the last step is to "send the PCMDI repo administrator the fork and branch information you would like to merge" :). I guess our very own @

[2015-02-23 12:19] jservonnat commented on #236
For you guys @doutriaux1 @durack1 @gleckler1: after the development (currently in test) of the metric on the latitude of the jets I would like to move on with metrics on sea ice and some others on the ocean. However, there is quickly the need to use multiple variables (for example, to calculate the sea ice volume). Also, that would be better to do those computations on the native grid.
I would be

[2015-02-23 14:28] durack1 commented on #219
@jservonnat did you fork the PCMDI/pcmdi_metrics repo originally? If so they should be linked and you can just select the PCMDI/pcmdi_metrics master to issue the pull request against..

https://github.com/jservonnat/PCMDI_metrics_IPSL/compare

Does that help?

[2015-02-23 14:36] jservonnat commented on #219
@doutriaux1 forked the PCMDI/wgne_wgcm_metrics repo to set me up. But the PCMDI/pcmdi_metrics master does not appear in the list... Could it be linked with my status? I think I'm just contributer and not developer...

[2015-02-23 15:14] jservonnat opened #245 "Custom name for the mask"
I didn't find the way (via the parameter file) to define a variable mapping for the mask... in our IPSL outputs we do have the land-ocean mask, but named "fract_ter".
Can we already control this from the param file? If not I can propose a fix for this.

[2015-02-23 17:08] durack1 commented on #219
@jservonnat how many files have you changed? Unless @doutriaux1 has a better suggestion, you could just fork the pcmdi_metrics repo again and then add in your changes to that..

[2015-02-23 17:10] durack1 commented on #245
@jservonnat does the code found in https://github.com/PCMDI/pcmdi_metrics/blob/master/doc/parameter_files/input_parameter_file_all_options.py#L15-25 help out here?

So `"variable_mapping" : { "fract_ter" : "sftlf"}` may work?

[2015-02-23 20:25] doutriaux1 commented on #219
it should'nt matter. The fact is yes you cannot merge yourself but you can submit the PR

[2015-02-23 20:26] doutriaux1 commented on #219
github "just knows" the repo name changed

[2015-02-23 20:30] durack1 commented on #219
@jservonnat can you see this?
https://github.com/PCMDI/pcmdi_metrics/compare/jservonnat:master...master

[2015-02-23 21:09] jservonnat commented on #245
@durack1 I think that the mechanism of a dictionary to define a variable mapping is indeed the way to go (it surely works for our 'IPSL to CMIP5' variable names matching) but apparently the driver does not handle the variable mapping for the mask variable name. Is that correct?
I tried to add the 'sftlf':'fract_ter' to the list of variables mapped, but it didn't work.

[2015-02-23 22:54] durack1 commented on #245
@doutriaux1 with the variable remapping, we need to define this a bit better - is it `"user_varName" : "cmip_varName"` or the other way around, it wasn't clear to me in the parameter or driver files..

[2015-02-24 12:43] jservonnat commented on #219
Guys, I think I get it!
The problem was that I was working from my own version of the sources, called PCMDI_metrics_IPSL (that was my origin). I made an other local repo from jservonnat/pcmdi_metrics and apparently I was able to submit the PR.
If yes, that's a big step :)!

[2015-03-02 22:51] gleckler1 commented on #245
Good idea... sftlf id remapping should be done consistent mapping different variable names, e.g.,

"GFDL-ESM2G" : {
"variable_mapping" : { "tas" : "tas_ac"},
},

[2015-03-02 22:54] gleckler1 commented on #221
Trying to sneak this under in under the rug...

[2015-03-03 15:41] jservonnat opened #247 "Bounds for regridding ocean data"
@doutriaux1 @gleckler1 @durack1
I'm having troubles with calculating metrics on my IPSL outputs (on the ORCA grid of the NEMO model) ; there is apparently a problem with the regridding that is asking for lon and lat bounds that are not present in my input netcdf file. The regridding tool is esmf, and the method is linear. If I try with the regrid2 tool, it automatically switches to esmf.
In spring

[2015-03-03 17:21] doutriaux1 commented on #221
hoping that Thursday's the day, we should have of RC1 on wed evening

[2015-03-03 17:41] doutriaux1 commented on #247
if your file is not CF compliant there's nothing we can do about it.

[2015-03-03 17:41] #247 closed

[2015-03-03 17:52] durack1 commented on #247
@jservonnat there was an issue with one of the IPSL grids with overlapping longitudes - there is no way that the software can automagically fix a file that's broken and is the reason @doutriaux1 closed this above..

It might be useful to provide this feedback through to Gurvan or others so that these grids are indeed checked against the CF standards - if you wanted to check the file in question to

[2015-03-06 17:44] jservonnat commented on #162
@durack1 @doutriaux1 same probleme on my side:
 Error while processing observation sos for variable default:
	Could not convert model units (psu) to obs units: (PSS-78)

[2015-03-06 18:05] durack1 commented on #162
Yep, this is something that I hope @doutriaux1 can get to early next week.. He's under the pump now finalising the 2.2 release for UV-CDAT..

[2015-03-06 18:08] jservonnat commented on #162
Perfect. I've fixed (at least for the moment) the bounds issue, so now I'm ready to compute metrics on the ORCA grid.

[2015-03-06 18:15] durack1 commented on #162
@jservonnat great, you're linked into this issue so you should get an email notification when the status changes (it's fixed)

[2015-03-25 03:48] markcollier opened #250 "test for queries (ignore)"
Test
Regards

[2015-03-25 05:38] markcollier opened #251 "is it possible to..."
Hi,
I've been using the PCMDI Metrics software to generate basic statistics. I've been looking at the code to make some changes to do the following,

1. define my own regions, in addition to the 4 currently defined. For example, I want to define a box that covers Australia, say longitude 110:160 and latitude 10s:50s? I could call this "OZBOX".
I see:
.../PCMDI_METRICS/v1p0/tmp/metrics/src/python/p

[2015-03-25 06:05] markcollier commented on #251
For point 4 I was able to specify the obs. dictionary by hardwiring to my own modified file. Is there a tool to generate the obs. dictionary by specifying a observational path/tree?
There is an option:
save_mod_clims
for saving out the interpolated model data, it would be good to have an equivalent variable to save out the observational sets. This is very useful for validation of the metrics, some

[2015-03-25 06:05] #251 closed

[2015-03-25 16:32] doutriaux1 commented on #251
@markcollier would you be so kind to create a separate issue for each of these, this will make it easier for us developers to address them. Thanks!

[2015-03-26 00:09] markcollier opened #252 "defining own regions by reducing latitudes & longitudes"
Is it possible to define my own regions, in addition to the 4 currently defined. For example, I want to define a box that covers Australia, say longitude 110:160 and latitude 10s:50s? I could call this "OZBOX".
I see:
.../PCMDI_METRICS/v1p0/tmp/metrics/src/python/pcmdi/mean
_climate_metrics_calculations.py
allows to loop over a subset of latitude, can longitude be performed?
Regards,
Mark.

[2015-03-26 00:13] markcollier opened #253 "Revisit observational dataset dictionary creation"
I was able to specify the obs. dictionary by hardwiring to my own modified pcmdi_metrics_driver.py

It would be good if a variable could be set rather than changing the driver code, but that is a small point.

Is there a tool to generate the obs. dictionary by specifying a observational path/tree, for now I am hand editing the file?

Regards,
Mark.

[2015-03-26 00:15] markcollier opened #254 "saving out interpolated observational data"
in input_parameters.py there is an option:
save_mod_clims
for saving out the interpolated model data, it would be good to have an equivalent variable to save out the observational sets. This is very useful for validation of the metrics, something most first time users will want to be able to do.

Regards,
Mark.

[2015-03-26 00:44] doutriaux1 commented on #254
@markcollier I'm not 100% I understand, you mean saving the regridded/masked observational datasets?

[2015-03-26 00:52] markcollier commented on #254
Yes, verification of metrics will be important before anyone will want to adopt and contribute to the system - it is important to see how the final data before the statistical routine is applied. It could also be a useful feature if analysts want to perform additional  offline work with the data. I identified a bug or typo. in the bias calculation and this was only detected through verification of

[2015-03-26 01:00] doutriaux1 commented on #254
thanks @markcollier I will add this option as soon as possible.

[2015-03-31 17:07] durack1 commented on #251
@markcollier there is an option in the most updated version to use a custom observational dictionary - which appends files/directory tree to the existing observational data it's discussed at #232 and https://github.com/PCMDI/pcmdi_metrics/pull/244/files

We currently use the script https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/scripts/build_obs_meta_dictionary.py to build the

[2015-03-31 20:29] durack1 commented on #250
@markcollier closing this issue as it's not useful

[2015-03-31 20:29] #250 closed

[2015-03-31 20:34] durack1 commented on #253
@markcollier as noted in #251 you can specify a custom dictionary of observations, and append these..

@markcollier there is an option in the most updated version to use a custom observational dictionary - which appends files/directory tree to the existing observational data it's discussed at #232 and https://github.com/PCMDI/pcmdi_metrics/pull/244/files

We currently use the script https://github

[2015-03-31 20:37] durack1 commented on #252
@markcollier this functionality is available, however it's use is not clearly documented in the parameter file examples - @doutriaux1 has self-assigned this and we'll let you know when we have something to test

[2015-04-07 17:54] durack1 commented on #237
+1 @doutriaux1 lets set this as a 1.1 milestone so we can get around the issue described at https://github.com/UV-CDAT/uvcdat/issues/1134

[2015-04-07 18:27] doutriaux1 commented on #252
@durack1 I don't think it is implemented at all yet. All we can do so far is select land/ocean
I plan on letting you use more sophisticated masks in the future, but I think what @markcollier really wants is a subset of lat/lons (e.g. elnino area) which is not implemented at all. That could be done though via a "user-defined" diagnostic.

[2015-04-07 20:31] durack1 commented on #252
@doutriaux1 yes exactly, we already have the domains specified in https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/mean_climate_metrics_calculations.py (`'GLB','NHEX','TROPICS','SHEX'`) we just need to expose this list and their definition to the parameter file

[2015-04-16 18:20] doutriaux1 opened #255 "obs json file does not define alternate1 and alternate2 for sos"
probably other ones as well

[code]

[2015-04-16 18:22] doutriaux1 opened #256 "ref from parameter should be able to be defined from actual ref name"
not just default or alternate1/2
this as been exposed by issue #255 where alt are not defined and therefore other obs cannot be used although in the file

[2015-04-17 16:33] doutriaux1 commented on #162
@durack1 please confirm, I'm going to go with this for now:
[code]
please correct me if I'm wrong.

[2015-04-17 16:47] doutriaux1 commented on #162
@durack1 getting there:
[code]

[2015-04-17 17:13] doutriaux1 commented on #256
ok still have some issues, I need to add a test case

[2015-04-17 17:24] durack1 commented on #162
@doutriaux1 yep your equality above is correct

[2015-04-17 19:13] #256 closed

[2015-04-17 21:01] #162 closed

[2015-04-19 04:08] doutriaux1 commented on #255
@gleckler1 tagging you to make sure you see this

[2015-04-28 16:30] durack1 opened #260 "Add new obs"
Add new obs:
- [ ] CERES-EBAF surface short wave (rsds)
- [ ] CERES-EBAF surface long wave (rlds)
- [ ] CERES-EBAF surface downwelling shortwave flux in air (rsds)
- [ ] CERES-EBAF surface downwelling longwave flux in air (rlds)
- [ ] CERES-EBAF surface downwelling shortwave flux assuming clear sky (rsdscs)
- [ ] CERES-EBAF surface downwelling longwave flux assuming clear sky (rldscs)
- [ ] QuikSC

[2015-05-18 22:56] durack1 opened #261 "Build issue UV-CDAT 2.2.0 tag"
It seems that 2.2.0 has some issues:

[code]
and
[code]

[2015-05-19 16:41] doutriaux1 commented on #261
I have a fix for this already, it only affects pcmdi/llnl firewall. Will be in master soon.

[2015-05-19 17:56] durack1 opened #262 "Update install_metrics.bash to install CMAKE 3.2.x branch"
We're currently building cmake 2.8.12, whereas the 3.2.x branch is [now available](https://github.com/Kitware/CMake/releases) - Update to 3.2.2

[2015-05-19 17:58] durack1 commented on #261
@doutriaux1 now building on GFDL using UV-CDAT v2.2.0 and CMAKE 3.2.2.. Will report how it goes..

[2015-05-19 18:06] durack1 commented on #261
@doutriaux1 nope still appears to be an issue:
[code]
and
[code]

[2015-05-21 18:40] durack1 commented on #261
Nope, no good:
[code]

[2015-05-21 18:43] durack1 commented on #261
Also it seems like `2.2.0` is checking out the rc1 tag:
[code]

[2015-05-21 21:09] durack1 commented on #261
Yep, I've just confirmed this is still an issue with a completed install:

[code]

[2015-05-21 23:52] durack1 commented on #261
@doutriaux1 closing this, as it would appear I've successfully built 2.2.0 above..

[2015-05-21 23:52] #261 closed

[2015-05-21 23:55] durack1 commented on #216
@doutriaux1 closing to start cleaning up remaining issues for https://github.com/PCMDI/pcmdi_metrics/milestones/1.1

[2015-05-21 23:55] #216 closed

[2015-05-21 23:56] durack1 commented on #205
@jservonnat we're starting to clean things up for the 1.1 release.. Is this still relevant, or should it be closed?

[2015-05-22 08:30] markcollier commented on #252
Is it just a case of adding in another domain, and somehow specifying that I want to work over limited longitudes too?
eg.
domains = ['GLB','NHEX','TROPICS','SHEX','OZ']
if dom == 'OZ':
            dm = dm_glb(latitude = (-50.,-10),longitude = (110.,115.))
            do = do_glb(latitude = (-50.,-10),longitude = (110.,115.))
sorry my python skills are not enough to know how to test this...

[2015-05-28 17:31] #229 closed

[2015-06-04 13:05] jservonnat commented on #262
@durack1 @doutriaux1 could this explain that I can't install the PMP anymore on our servers (at IPSL, not at TGCC behind those firewalls)? I've tried multiple times this week to set the PR linked with #219, with no luck. Any idea?

[2015-06-04 15:00] durack1 commented on #262
@jservonnat nope, this is not likely the problem.. What's the error..?

[2015-06-04 15:02] jservonnat commented on #262
We are looking at it with Nicolas Carenton. When we have defined it clearly we'll get back to you.

[2015-06-04 15:04] durack1 commented on #262
I'd make sure to build `1.0`, the `master` branch is where we're currently pushing new stuff which has been tested significantly less..

[2015-06-12 15:55] jservonnat opened #266 "Computing metrics on T and S with Levitus at depth"
Hi guys,
we want to add metrics for the ocean temperature (to) and salinity (so) on a list of vertical levels in depth (say, 50, 100, 250, 500 and 1000m). The idea would be to do the same thing as you do on the atmospheric vertical levels, i.e. select a variable that is pre-defined on the level of interest. For example, the variable to_500 is the ocean temperature at 500m. I've slightly modified t

[2015-06-15 16:54] jservonnat commented on #266
I'll re-open this issue if I can't make it on my side. It seems that it is coming from our model file.

[2015-06-15 16:54] #266 closed

[2015-06-15 16:58] durack1 commented on #266
@jservonnat we've got this ocean stuff on the to-do list our side too, so I think we'll be learning from one another.. With regard to ocean grids, you might be able to change the regridder to ESMF (if it's not already) which should deal with the `target grid must be rectilinear` issue, that might get you a little further along..

[2015-06-15 17:01] jservonnat commented on #266
That's actually quite strange at the moment. It works with SST on exactly the same grid, with the same dimensions and attributes. And it doesn't work neither on this 4D setup, nor on a test with only one vertical level (to100) in a 3D file.
There are still some things to be tried before I get back at you ;). But thank you for your help!

[2015-06-15 17:06] jservonnat commented on #266
Actually the parameter regrid_tool_ocn is set to esmf (so is regrid_tool); I've tried to set the parameter regrid_method_ocn to 'conservative' (also tried 'conserve') but it didn't change anything.

[2015-06-15 17:09] durack1 commented on #266
@jservonnat if you do an `ncdump -h` on the file that works and the file that doesn't.. Does that show some different/missing info contained in the file regarding grids.. That would be my guess with the info you've provided

[2015-06-15 17:11] jservonnat commented on #266
@durack1 I've been through those paths but didn't find anything striking (both have the same dimensions, attributes, bounds...)

[2015-06-15 17:17] durack1 commented on #266
@jservonnat an explicit diff
[code]
Might show you something which wasn't obvious at a glance..

I'd certainly be keen to know what the problem is here, it'd be great to figure this out and fix it!

[2015-06-17 13:49] jservonnat commented on #266
@durack1 Here is the only difference I see at the moment:
- in the file that doesn't work:
[code]
And in the file that works:
[code]
The valid_min and valid_max attributes are missing in the file that doesn't work. I'll try that unless you think it's not worth it.

[2015-06-17 19:31] gleckler1 commented on #254
I agree this would be useful in certain situations, especially when masking is involved, e.g., masking out reanalysis surface winds over land.

[2015-06-17 20:31] gleckler1 opened #267 "Include code to construct model and obs climatologies"
PG, PD and CD to chat about this one.  CD likely master architect.   PG and PD have codes to share for considering options.

The objective is to construct annual cycle climatologies from a CF compliant time model... a first version could require CMIP data structure, and maybe we'll never relax that requirement.

For AMIP and CMIP historical simulations we'll need to be able to define the start/end

[2015-06-17 20:42] gleckler1 opened #268 "metrics on sftbrgn"
This requires some thought to ensure it is done properly.   Will likely require a several stage process (e.g., using land/sea mask interpolate land and ocean separately to common grid, then recombine and then identify multiple land and ocean regions). Adding this feature and getting it to work right may be complicated but its going to make the package very unique.

[2015-06-18 14:28] jservonnat commented on #266
@durack1 we are getting there... this is actually due to the generation of the land-sea mask. The error comes from this line:
[code]
Here is the error:
[code]
Apparently the function doesn't want to generate a Land-Sea mask for a non-rectilinear grid.
Does this mean that I don't need to precise a region in the param file? i.e. like this (it is working like this):
[code]
and not like that:
[code]

[2015-06-18 17:00] durack1 commented on #266
@jservonnat it appears you've uncovered a long-standing issue related to the underlying metrics package modules - long story short functionality with non-rectilinear grids in `cdutil/genutil` is limited and there's an open issue https://github.com/UV-CDAT/uvcdat/issues/402 in the queue..

[2015-06-18 20:43] jservonnat commented on #266
@durack1 so the question now is: can we compute a metric on such ocean grid without precising that you want to work only on the ocean mask? i.e., the fact that we have FillValue over land is enough?

[2015-06-18 20:54] durack1 commented on #266
@jservonnat ok so this is now a bug (I've changed the status) as this issue will recur time and time again with ocean output, I'll query @doutriaux1 on this and see what can be done.. A path forward might be to use the `ESMF` regridder to bring back to a `rectilinear` (Levitus/obs) grid before generating the mask.. We'll have to think a little about this I think..

[2015-06-18 20:56] jservonnat commented on #266
Ok that's fine for me ;).

[2015-06-18 22:26] durack1 commented on #267
@doutriaux1 my examples of this are found in https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/scripts/make_obs_clim.py/*.sh

[2015-06-18 22:29] durack1 commented on #206
@jservonnat we're doing a cleanup so closing this - reopen if there's something to be done here..

[2015-06-18 22:29] #206 closed

[2015-06-18 22:30] durack1 commented on #245
@doutriaux1 what's the status of this?

[2015-06-18 22:32] durack1 commented on #205
@jservonnat we're starting to clean things up for the 1.1 release.. If this is still relevant, please reopen..

[2015-06-18 22:32] #205 closed

[2015-06-18 22:34] durack1 commented on #227
@doutriaux1 this is a good idea, setting as a 1.1 milestone and assigning you..

[2015-06-18 22:44] durack1 commented on #73
@doutriaux1 this needs you to generate the `*.csh`...

[2015-06-18 22:51] durack1 commented on #262
As per discussion set `min > 2.8.12` and `max = 3.2.2`, also set `UV-CDAT 2.2.0` as `master` build point

[2015-06-19 07:01] jservonnat commented on #205
@durack1 no that's fine ;)

[2015-06-19 16:47] #221 closed

[2015-06-19 21:34] durack1 commented on #262
@jservonnat you were most likely hitting an issue with the `UV-CDAT` installation, not the `pcmdi_metrics`.. So once the PR #269 is approved you should now be able to build again with the `PCMDI_Metrics master` and everything should work as expected

[2015-06-19 21:34] #262 closed

[2015-06-21 02:43] gleckler1 opened #270 "output clim not masked for ocean case..."
In the parameter file, we can select variables for which we want metrics on 'global', 'ocean' and 'land' case (e.g., below).   Global and ocean cases are ok, but the output.nc clims for the 'ocean' case are not masked over land.

## REGIONS ON WHICH WE WANT TO RUN METRICS (var specific)
regions = {"tas" : [None,"land","ocean"],
           "uas" : [None,"land","ocean"],
           "vas" : [None,"la

[2015-06-23 17:04] durack1 commented on #260
@gleckler1 rather than just assigning me, it might be useful to clarify that what's listed above is just the ticket?

[2015-06-23 17:15] gleckler1 commented on #86
@doutriaux1 .... for at least two reasons,  running the metrics to compare different obs should not be handled as a kludge to how the model metrics is handled.   First, all distinct permutations should be considered, e.g., with 3 datasets [obs1, obs2, obs3] should include results for obs1 vs obs2, obs1 vs obs3, and obs2 vs obs3.  The bias in obs1-obs2 will be == but opposite in sign to obs2-obs1,

[2015-06-23 18:06] doutriaux1 commented on #86
@gleckler1 this is simply a matter of setting up a parameter file for each variable that take obs2/3/4/etc... and run it against obs1. Not sure I'm the right person for this. I'll chat with @durack1 about this.

[2015-06-23 18:07] doutriaux1 commented on #86
@durack1 the biggest issue is probably going to be to figure out what the correct "template" is so it can be used across obs/vars

[2015-06-23 21:38] durack1 commented on #260
@gleckler1 you getting these alerts?

[2015-06-23 22:43] gleckler1 commented on #260
This list is good.   PD had been assigned all along, but PG inadvertently unassigned PD as he attempted to ADD PG to the assigned... but could not figure out how to have both names assigned.   So PG put PD back in charge ;-)

[2015-06-23 22:45] durack1 commented on #260
I might assign @doutriaux1 as he's a nice chap and he likes observations..

[2015-06-23 22:49] gleckler1 commented on #86
At a minimum it will take a separate parameter file, but my hunch is tweaking will be needed for cases where there are more than 2 obs... plus I don't see how we can get all vars in one json which is how the model metrics outputs.

[2015-06-23 23:02] durack1 commented on #260
I might assign @doutriaux1 as he's a nice chap and he likes observations.. He also likes passwords which don't make much sense in any tongue, either the Queens, his native, or even the local language..

[2015-06-23 23:15] durack1 commented on #260
@gleckler1 obtaining the data above from ESGF is going to require the system to be up, so I'll schedule this for mid-July..

[2015-06-23 23:29] durack1 commented on #260
@gleckler1 @doutriaux1 and @durack1 would like you to use the `@` sign in front of our github login names `@gleckler1` which then means that we know what you're talking about (and we're pinged), PG, PD and CD doesn't help much..

[2015-06-24 13:12] jservonnat commented on #268
@gleckler1 I totally agree. I can tell you that I'm very interested in this functionnality both ocean regions and for land surfaces.

[2015-06-24 13:53] jservonnat opened #271 "Defining a 1.0x1.0 common grid: issues with targetGridName"
I would like to add some metrics for the mixed layer depth in our suite of metrics at IPSL. For this, and to avoid smoothing of the results (particularly in the deep convection areas), I would like to define a 1°x1° common target grid (rather than the 2.5x2.5 grid).
I did this easily by setting the parameter targetGrid to a cdms grid object as explained in the parameter file:

[code]

The metrics

[2015-06-24 23:35] gleckler1 commented on #271
@doutriaux1 @durack1 @jservonnat  I will take a look at this, but its probably a question for Charles to investigate.   However, I can say that at present we predefine several target resolutions so that we can just provide results from other models and don't have to provide the actual model climatologies.  We will work away from this but not quite yet.   That said, I don't know why you would not b

[2015-06-25 00:27] durack1 commented on #271
@doutriaux1 how hard will it be to generalize this so that we determine the highest obs resolution then use this obs target resolution to generate metrics? This could be a useful expansion for circa 2.0 version metrics

[2015-06-25 08:11] jservonnat commented on #271
@gleckler1 the calculations actually worked when I added my little fix in the parameter file and the driver.
Today the bug is that in the parameter file, you can set targetGrid to '2.5x2.5' or to a cdms grid object. The problem is if you pass a cdms grid object to targetGrid: at some point, the driver and the setTargetGrid function will need a character chain as a grid name to store the informatio

[2015-06-25 17:12] durack1 commented on #271
@jservonnat native grid stuff isn't going to work, as to generate the fields you need to be on the same `x,y` grids for both the model and the provided baseline obs - we're thinking multi-model here which is a different perspective to you currently.. @gleckler1 has some pretty strong views on this stuff, so will let him pipe in..

[2015-06-25 18:15] gleckler1 commented on #267
@durack1 @doutriaux1  Good idea to run code with a parameter file... different than pcmdi_metrics_parameter.py, but same idea ... user sets up a clim_param.py and uses it from the command line (with '-p_clim' or something like that?)

[2015-06-25 18:38] gleckler1 commented on #267
@doutriaux1 my scrap code is located at:
/export/gleckler1/processing/first_clim/mk_clims-all-EXPS.py
It is set up for amip, historical (realistic calendars) and picontrol (arbitrary calendar).   Compare functionality with @durack1 code in comment above.

[2015-06-25 23:35] zhang40 opened #272 "Adding Standard Deviation as Standard Metrics ?"
Hi, I just installed and have the metrics package running. Thanks to Charles and Paul.
Charles showed me how to create customer metrics for calculating standard deviation. It would be nice to include std in the new release. Because for monthly statistics, with std we can easily generate Taylor Diagram similar to Figure 1 in Gleckler et al. 2008 :)

Thanks,
Jill

[2015-06-26 00:51] durack1 commented on #230
@doutriaux1 is there anything to do here, or you closing? I think `NaN` or even `null` results highlight problems in the processing pipeline.. And therefore we should create a dedicated issue if these appear again, thoughts?

[2015-06-26 00:52] durack1 commented on #255
@gleckler1 can you fix this in the current obs dictionary?

[2015-06-26 00:56] durack1 commented on #237
@doutriaux1 is there a `mesa` build option flag available for this? I couldn't find it documented at https://github.com/UV-CDAT/uvcdat/wiki/Install-from-source-command-line-options

[2015-06-26 15:15] doutriaux1 commented on #230
hum... you're probably right, it could also be due to model input errors. Plus I stand by my previous comment, "NaN" means something went bad, whereas null usually means no result. Let's close

[2015-06-26 15:15] #230 closed

[2015-06-26 15:17] doutriaux1 commented on #237
@durack1 it is actually a good idea, we should probably add mesa and turn it on by default. The main purpose of this script is to run in batch and produce files, not really meant for interactive purposes.

[2015-06-26 17:48] durack1 commented on #237
@doutriaux1 I think this is should be an upstream UVCDAT issue - want me to create an issue for it?

[2015-06-26 18:02] doutriaux1 commented on #237
no, it's already in UV-CDAT and it's OFF by default there as it should.

[2015-06-26 18:35] durack1 commented on #237
@doutriaux1 ok, well I think https://github.com/UV-CDAT/uvcdat/wiki/Install-from-source-command-line-options needs to be updated to show this functionality exists too..

[2015-06-26 18:51] doutriaux1 commented on #237
done. Thanks

[2015-06-26 18:52] durack1 commented on #237
@doutriaux1 ok great, so should I wedge that into the `install_metrics.sh` as an option or the default do you reckon?

[2015-06-26 19:25] doutriaux1 commented on #237
yes ti's done waiting for the build on my little suffering mac to be done to confirm and push PR

[2015-06-26 19:29] durack1 commented on #237
@doutriaux1 is it in master or a branch? I can kick off a build elsewhere too..

[2015-06-27 01:27] durack1 commented on #233
@doutriaux1 I think this is now done, [take a peek](https://github.com/PCMDI/pcmdi_metrics/wiki/Tips-for-Developers) and if it's correct these close away..

[2015-06-28 19:05] gleckler1 commented on #272
Good idea!  I'm on travel and will say more about this later @zhang40

[2015-07-09 21:20] durack1 commented on #267
Here's a comment by @taylor13:

[code]

[code]

[code]
[code]

[code]

[2015-07-10 19:22] doutriaux1 opened #275 "test suite fails"
@durack1 how did we let that go through! The test suite fails with various error, let's take a look and fix it!

[2015-07-10 19:25] durack1 commented on #275
@doutriaux1 you might need to assign the `CRITICAL` to this one.. @gleckler1 will be most impressed..

[2015-07-16 23:06] #275 closed

[2015-07-23 17:01] gleckler1 commented on #267
@doutriaux1 @durack1 To make some progress,  we could start with just outputting the 12 month climatology, ie, skip the seasonal and annual means (which in the metrics package calculations are computed from the 12 month clims)

[2015-07-29 15:59] gleckler1 commented on #267
@doutriaux1 @durack1
We should have a switch for outputting data, either a) with CMOR (default) or b) to preserve all metadata from input time series (axes, attributes).   Reason for the latter is that a special (but important) case usage of this code will be to run on data (CMIP5 and CMIP3) that has already been written by CMOR.   I think in this case it will be important to preserve what CMOR pr

[2015-07-29 16:02] durack1 commented on #267
@gleckler1 yep, good call.. We can iterate through these options when we have v0.1beta to test.. It would be good to capture any other ideas within this issue so they're not lost..

[2015-08-06 12:29] jservonnat commented on #270
Hi there!
I also add that the 'ocean' masking doesn't work for non rectilinear grid (in my case, the ORCA grid). Have you ever met this problem?

[2015-08-06 16:13] durack1 commented on #267
@doutriaux1 just pinging you on this one, anything to test yet?

[2015-08-06 16:28] doutriaux1 commented on #270
will add an example/test for this then.

[2015-08-06 16:48] doutriaux1 commented on #267
getting real close

[2015-08-08 04:27] doutriaux1 commented on #267
@taylor13 @durack1 @gleckler1 I will need your help to construct a decent "climo" table for this project.

For now I'm going to AMon and replace time with time2 but I'm positive it's going to have wrong metadata

example cell info for clt is now
[code]

[2015-08-08 04:30] durack1 commented on #267
@doutriaux1 happy to help, we might need to construct an `obs4mips` or equivalent table instead - I think that for each of the `obs` data products in particular we're going to need to include origin info, download contact etc..

[2015-08-08 04:51] doutriaux1 commented on #267
exactly, I'm using this as a starting point/temporary place holder.

[2015-08-14 19:19] durack1 opened #276 "ILAMB metrics"
Example of existing ILAMB metrics:
http://redwood.ess.uci.edu/mingquan/www/ILAMB/AllDiagnostics/

http://redwood.ess.uci.edu/mingquan/www/ILAMB/index.html

@gleckler1 it will be useful to interact with Forrest Hoffman (ORNL) before the RGCM meeting in October

[2015-08-20 16:28] gleckler1 commented on #267
@doutriaux1 @durack1 @nadeau1 @taylor13 @ We may need "parallel" tables, e.g.  Amon for Model data and another that is Amon-obs for the observational data.    We probably cannot deal with this properly until CMOR has been modified, so for now we can just use model table for obs and this will force us to take a hard look at what is needed for the obs side.  Some global attributes will be different,

[2015-08-20 16:33] durack1 commented on #267
@doutriaux1 got something for us to start working with yet?

[2015-08-24 17:41] gleckler1 commented on #267
@durack1 @doutriaux1   As we've been talking about an option to output climatologies straight with CDMS OR via CMOR,  if the CMOR version is not ready yet we could test the CDMS option... at least this will enable us to begin comparing the output to clims produced independently by Yuying, Paul and Peter...and Charles... we want to have one code for doing this...

[2015-08-24 18:26] doutriaux1 commented on #267
@durack1 the climo branch is a good starting point, except that the bounds/units for time are not what we want at the moment.

[2015-09-01 18:33] durack1 opened #277 "Fix test suite errors"
The following issues are occurring due the `test_suite.py` run in the current master branch:
[code]

[2015-09-02 15:37] jservonnat opened #278 "New issues with installing the package behing a firewall"
@doutriaux1 @durack1 I'm having new issues when trying to install the MP at TGCC on our computing center (behind a firewall).
Until now, we've overcome the problem of downloading all the tar files by:
- launching the install script until it stops (when it tries to download the tar files)
- then, copying the tar files in tmp/uvcdat/uvcdat_build
- and re-launch the install_metrics script

But now, t

[2015-09-02 15:43] durack1 commented on #278
@jservonnat this is a good test case, which we have dealt with before.. I'm pinging @doutriaux1 as he's more familiar with getting around these issues than I am..

Once we have a path forward, we should document the additional steps on the [Wiki install page](https://github.com/PCMDI/pcmdi_metrics/wiki/Install)

[2015-09-02 15:58] jservonnat commented on #278
Great, thank you @durack1 !

[2015-09-02 16:23] doutriaux1 commented on #278
@jservonnat go to your temp/uvcdat/uvcdat directory that's where the sources used for building sit. also you might  need to tell it to not remove the build directory: https://github.com/PCMDI/pcmdi_metrics/blob/master/install_metrics.bash#L9

[2015-09-02 23:16] durack1 opened #279 "Current master build is failing"
It seems the current master branch is [failing the travis build tests](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/78275564)

[2015-09-02 23:24] durack1 commented on #267
The below is grabbed from an email thread:
[code]

[2015-09-03 17:54] taylor13 commented on #267
Further discussion with Paul, Karl, and Peter led us to an agreement that DJF (not MAM) should be the first season.  The rationale was that with all seasons having coordinate values within a single year, only one of the months (Dec) would actually fall outside that year.

[2015-09-03 17:56] taylor13 commented on #267
Answering one of Peter's questions .... yes, we agree that in all 3 cases (months, seasons, year), the actual mid-point should be used for the coordinate value.  In computing these, leap-days would be disregarded.

[2015-09-14 11:55] jservonnat commented on #278
@doutriaux1 this is what I do actually; the problem is that I didn't find the mean to by the downloading of libcdms. I can't just copy the libcdms-prefix directory from a working installation because it is already a build with the paths of the installation. And if I modify libcdms-download to point at my igcmg@... adress, it is overwritten when I rerun the install script.
If you have another solut

[2015-09-14 14:12] doutriaux1 commented on #278
edit the file in the tmp directory once it's cloned it will not be overwritten. (you may have to comment out the line that remove the clone)

[2015-09-22 23:17] durack1 opened #281 "Fix version checker in installer_funcs.bash"
The version checker in `installer_funcs.bash` isn't working with `3.x.x` versions:

[code]

[2015-10-02 17:30] #276 closed

[2015-10-02 23:46] durack1 commented on #279
Likely a duplicate of #277

[2015-10-02 23:49] durack1 commented on #267
@gleckler1 the current working script is at https://github.com/PCMDI/pcmdi_metrics/blob/climo_script/src/python/pcmdi/scripts/pcmdi_compute_climatologies.py

So in the `climo_script` branch

[2015-10-03 00:08] doutriaux1 commented on #279
@durack1 master builds and tests fine for me. Is this still valid?

[2015-10-03 00:09] doutriaux1 commented on #267
@gleckler1 just pushed the latest update (in this branch) it has master in it, so you'll get EVERYTHING and then MORE if you use this branch.

[2015-10-04 00:21] durack1 commented on #279
It seems we still have a [red travis badge](https://travis-ci.org/PCMDI/pcmdi_metrics/builds), so I assume that `master` still has issues..

[2015-10-04 19:10] durack1 commented on #279
@doutriaux1 this is the [error on `OS X`](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/83402207):
[code]
This is a little weird as `setuptools` has the `python` dependency specified:
https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/setuptools_deps.cmake#L1

Seems like on `OS X 10.10.5` and the built in `Python 2.7.10` this module is installed:
[code]
Is there some race condition

[2015-10-29 16:14] durack1 opened #282 "User registration - how to capture info"
This needs to be considered..

[2015-10-29 20:34] doutriaux1 commented on #282
we got the `spyware` built-in UV-CDAT we can use it.

[2015-10-30 19:47] gleckler1 opened #283 "clim_code error"
@doutriaux1 @durack1 First attempts trying to get the clim code working... it is bombing on data that should work (CMIP5 data and other obs data written by CMOR.    I have cp'ed the CMIP5_Amon table to pcmdi_metrics which the code expects ... several examples of failure below.... pls help ...

**
/export/gleckler1/git/pcmdi_metrics/src/python/pcmdi/scripts/pcmdi_compute_climatologies.py -f /clim_o

[2015-10-30 20:04] durack1 commented on #283
@gleckler1 I think this is a @doutriaux1 query.. Where is the `time2` axis coming from, it would seem to be from within cmor..

[2015-10-30 20:50] doutriaux1 commented on #283
Let me check, I think we actually a special branch of CMOR

[2015-10-30 21:09] doutriaux1 commented on #283
ok I can reproduce, I'm on it.

[2015-10-30 22:38] doutriaux1 commented on #283
@gleckler1 try again with:
[code]

BUT it still fails because @gleckler1 and @durack1 need to fine tune the table we distribute in `share/pcmdi_metric_table` even possibly renaming it

[2015-10-30 22:39] doutriaux1 commented on #283
@gleckler1 don't forget to pull and update your installation to get my changes.

[2015-10-31 00:16] durack1 commented on #283
@doutriaux1 I have no idea what tweaks/how this table is being used.. We'll have to chat about this on Monday..

[2015-10-31 00:33] gleckler1 commented on #283
Got your changes.   Progress.   But its not making it through yet.   Getting an error (below) that the 'positive' argument is not provided... but it is there in share/pcmdi_metric_table for variable rlut

C Traceback:
In function: cmor_variable
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!

[2015-10-31 00:34] gleckler1 commented on #283
@doutriaux1 @durack1

Got your changes. Progress. But its not making it through yet. Getting an error (below) that the 'positive' argument is not provided... but it is there in share/pcmdi_metric_table for variable rlut

C Traceback:
In function: cmor_variable
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! !
! Error: you did not provide the 'positive' argu

[2015-10-31 00:38] gleckler1 commented on #283
@doutriaux1 @durack1  This one does not appear related to the table....

/export/gleckler1/git/pcmdi_metrics/src/python/pcmdi/scripts/pcmdi_compute_climatologies.py -f /clim_obs/obs/atm/mo/pr/GPCP/pr_GPCP_197901-200909.nc -v pr
DATA: (369, 72, 144) 1979-1-16 12:0:0.0 2009-9-16 0:0:0.0

-16 12:0:0.0, 2008-8-16 12:0:0.0, 2008-9-16 0:0:0.0, 2008-10-16 12:0:0.0, 2008-11-16 0:0:0.0, 2008-12-16 12:0:0.0

[2015-11-02 16:06] doutriaux1 commented on #283
@gleckler1 I posted the command line that provides the positive argument above.

[2015-11-02 23:09] gleckler1 commented on #283
@doutriaux1 @durack1 Got the climo script to partially execute, but not yet producing expected/completed results....  1) it is producing 4 seasonal climatologies but not for the right period (198312-198402, when is should be a 10 year period), and 2) it bombs before completing, so we don't have the full annual cycle clim or annual mean clim.

pcmdi_compute_climatologies.py -f /work/cmip5/historica

[2015-11-03 16:24] doutriaux1 commented on #283
ok will tweak the "bounds magic" a little further.

[2015-11-03 17:14] gleckler1 opened #284 "matplotlib graphics option for build"
@doutriaux1 @durack1 We need to add matplotlib as an option for the build.   Better to keep this as a separate option to vcs, e.g., graphics_vcs = True;  graphics_matplotlib = True

[2015-11-03 21:52] doutriaux1 commented on #284
they both come together in the build, there's no way in UV-CDAT at the moment to build "just matplotlib"

[2015-11-03 21:53] doutriaux1 commented on #284
matplotlib triggers even more dependencies than vcs anyway.

[2015-11-03 23:48] durack1 commented on #284
@gleckler1 the relevant build options that are currently available are documented [here](https://github.com/UV-CDAT/uvcdat/wiki/Install-from-source-command-line-options). I thought that there was a `matplotlib` specific flag, but there doesn't appear to be (any more).

@doutriaux1 it would seem that even when we build with `build_graphics=true` we're not getting `matplotlib`:
[code]

[2015-11-04 00:12] doutriaux1 commented on #284
@durack1 probably because we are still pointing to 2.2.0 we should update the tag point for uvcdat.

[2015-11-04 00:37] durack1 commented on #284
@doutriaux1 let's do this for the next release.. We need to get a new release out fairly soon.. @gleckler1 can specify what is needed and when..

[2015-11-04 17:32] gleckler1 commented on #284
@doutriaux1 @durack1  My understanding was that this was "easy and already done" ... it would be very helpful to have this ASAP, not "next release" which we have not defined yet....

[2015-11-04 18:28] durack1 commented on #279
@doutriaux1 I just tested this on my `LOFTER` with `OS X 10.10.5`, `XCode 6.1.1` and `gfortran 5.2` and seems like we're doing well on the `master` branch:
[code]
It'd be great to get the `travis` builds and badges back on track however..

[2015-11-04 19:12] durack1 commented on #279
@doutriaux1 looks like it's [`OS X` that is failing on `travis`](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/88898409) and in particular it's a [`pyexpat` dependency of `setuptools` which doesn't appear to be listed as a dependency](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/setuptools_deps.cmake#L1)
[code]
Is there an `xml` or `pyexpat` dependency for `setuptools` that ne

[2015-11-04 19:18] durack1 commented on #279
@doutriaux1 it seems there's a failed install somewhere, on my vanilla (non-UV-CDAT) `OS X 10.10.5` I get this:
[code]
So there must be a dependency that isn't listed and therefore a race condition that is persistent with the `pcmdi_metrics` build?

[2015-11-04 20:22] durack1 commented on #279
@jbeezley do you think the issue above is the same as `garant` with https://github.com/UV-CDAT/uvcdat/pull/1652

[2015-11-04 20:45] jbeezley commented on #279
I don't think it is related.

[2015-11-04 22:38] doutriaux1 commented on #279
can't use 5.2

[2015-11-04 22:39] doutriaux1 commented on #279
travis changes expat disappeared from their macs breaking the builds for a while now...

[2015-11-04 22:41] durack1 commented on #279
@doutriaux1 does this need to be added back in to the build, or can we get `travis` behaving better with an additional command line argument?

[2015-11-04 22:45] doutriaux1 commented on #279
It's a travis thing. No idea how to tweak it.

[2015-11-04 22:45] doutriaux1 commented on #279
it works on all macs I've seen.

[2015-11-04 22:45] durack1 commented on #279
@doutriaux1 we might need to add a [`requirements.txt`](http://docs.travis-ci.com/user/languages/python/#Dependency-Management) additional to the `travis.yml`

[2015-11-05 04:59] durack1 commented on #279
@doutriaux1 ok, I'm lost I tried to debug the `travis` environment to see what's happening with `pyexpat` and it seems the system `python` has this available - from the [`OS X` build](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/89375181):
[code]
So the build then installs it's own `python` which fails to include `pyexpat`, or at least it's not a valid library to import..

Any ideas? I have some

[2015-11-05 10:00] jservonnat commented on #279
Just for your information, I've tried the install on Ciclad here at IPSL and it works.

[2015-11-05 15:51] durack1 commented on #279
@jservonnat thanks for the heads up.. Yeah the issue we're hitting is specific to the test environment that `travis` provides for their `OS X` build machines.. The build working fine using the standard environment on `OS X`, it'd just be nice to get the `travis` build tests correctly reporting passes..

[2015-11-05 15:55] jservonnat commented on #279
@durack1 ok!

[2015-11-05 17:39] jservonnat commented on #278
@doutriaux1 just to let you know it is working now, with the classical protocole to install the package behind a firewall (copying the tar files by hand).

[2015-11-05 18:50] durack1 commented on #279
@doutriaux1 ok I've run a bunch of tests within https://github.com/PCMDI/pcmdi_metrics/pull/285 and it would seem that the `pyexpat` import error that's causing the `travis` build failures is due to a mangled `python` install by the build - I've been able to load `pyexpat` using the `travis` system (python2.7.5), and in a pre-build built `python2.7.10` - and I've also checked that this pre-build `

[2015-11-05 19:25] doutriaux1 commented on #279
the system one has it because it';s just a binary that they stick there. THe headers seem to be gone form travis so our python cannot build with it.

[2015-11-05 19:32] durack1 commented on #279
@doutriaux1 in the testing in #285 both the `python2.7.10` build from source and the `setuptools1.4` and `setuptools18.5` both install successfully.. So it's a build-environment-specific issue..

I also turned off parallel (`-j1`) building to make sure things aren't clashing in order..

[2015-11-05 21:46] durack1 commented on #284
@gleckler1 @doutriaux1 when the new metrics version is tagged, we can align this with the upcoming `UV-CDAT 2.4.0` we'll get both `vcs` and `matplotlib` when `build_graphics=true`

[2015-11-05 21:48] #278 closed

[2015-11-05 21:50] durack1 commented on #237
Fixed by #273

[2015-11-05 21:50] #237 closed

[2015-11-05 22:14] durack1 commented on #282
@gleckler1 what do you want to capture? Can you outline this..?

[2015-11-06 01:28] durack1 commented on #279
@doutriaux1 logs should be broadcasted to the `OS X` tab at https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/89563783

[2015-11-06 01:43] durack1 commented on #279
And the faster breaking one https://travis-ci.org/PCMDI/pcmdi_metrics/builds/89565901

[2015-11-06 23:13] durack1 commented on #279
@doutriaux1 here's the logs https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/89734921#L1827

[2015-11-06 23:45] durack1 commented on #279
@doutriaux1 @charlesdoutriaux this seems like [the failure](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/89734921#L4674), there are quite a few failures on the `travis` `OS X` builds:
[code]
Not sure if this is available in `python2.7.10` but could be worth a try - it was [included in the `python2.7.1` release to fix an issue with `expat2.0.1`](http://svn.python.org/projects/python/tags/r271/Mis

[2015-11-06 23:51] durack1 commented on #279
@doutriaux1 @charlesdoutriaux just confirmed that `--with-system-expat` is available in `python2.7.10` and running a test build with it to see if `setuptools1.4` installs fine - I presume it will.. And this should be our `travis` `OS X` fix..

[2015-11-09 17:17] jservonnat opened #288 "Issue with the version of the pcmdi_metrics repo?"
@doutriaux1 @durack1 Last week I've successfully installed the latest version of the PMP here at IPSL, using the latest install_metrics.bash script available. But the pcmdi_metrics_driver.py I get by running the install script does not make use of unidata (for the unity check/management).
But if I get directly the pcmdi_metrics repo from github (git clone git://github.com/PCMDI/pcmdi_metrics.git),

[2015-11-11 04:21] durack1 commented on #288
@jservonnat it seems to me that you're not cloning the `master` branch correctly, as this version of [`pcmdi_metrics_driver.py` does in fact include the above](https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/scripts/pcmdi_metrics_driver.py#L20-L23)

We have a couple of tweaks which should be merged into the `master` branch tomorrow - just have to work with @doutriaux1 to get th

[2015-11-11 04:22] durack1 commented on #288
@jservonnat let us know if that solves it and I'll close this issue..

[2015-11-11 04:26] #284 closed

[2015-11-12 23:15] gleckler1 commented on #283
@doutriaux1 @durack1 Progress!!!
Code is running to completion,  but the start-end dates in the output files are wrong (below).
Also, after the date in the output file name the season should be included as part of the file name (DJF, MAM, JJA, SON, ANN)

pcmdi_compute_climatologies.py -f /work/cmip5/historical/atm/mo/rlut/cmip5.CESM1-CAM5.historical.r1i1p1.mo.atm.Amon.rlut.ver-v20120608.latestX.xm

[2015-11-12 23:29] durack1 commented on #283
@gleckler1 ok great, so it's time I start testing this out on 3D ocean fields then..?

[2015-11-12 23:31] doutriaux1 commented on #283
oh yes. I will fix that in just a moment, do frequent `git pull` in case I forget to notify you about this being fixed :smile:

[2015-11-13 19:31] jservonnat commented on #288
@durack1 I've tried an install today (wget the install_metrics.bash script, and run it without changing anything), and this is what I got:
[code]
I've tried to fetch the origin as you explain:
[code]
And then:
[code]
I suppose that there might be a way for me to make it work on my side but you might also be interested by those feedbacks, so I'm reporting my basic use of the install script as if I

[2015-11-13 19:36] durack1 commented on #288
@jservonnat yep this is what you'd expect when you haven't cloned the repo (and the hidden .git directory and all the interesting git stuff) and just downloaded the single file outside of git..

When you issue a:
`git clone https://github.com/PCMDI/pcmdi_metrics.git`

You should then get a (lower case) `pcmdi_metrics` directory with all the source, and if you do a `git log` within that directory (

[2015-11-13 19:42] durack1 commented on #288
@jservonnat and the [very top of your comment above](https://github.com/PCMDI/pcmdi_metrics/issues/288#issuecomment-156535836) you have a `SHA1` as `11d71de`.

Now that relates to the 13th January 2015 `v1.0.0` release.. Which is findable at https://github.com/PCMDI/pcmdi_metrics/tree/v1.0.0

[2015-11-13 19:47] jservonnat commented on #288
@durack1 Ok, then I might need to learn to control the version from the install script. If you have the solution I take it ;)

[2015-11-13 19:47] durack1 commented on #288
@jservonnat for completeness the `unidata` stuff linked at the top, was included on the 17th April 2015 in https://github.com/PCMDI/pcmdi_metrics/commit/14648146a4dc9ec04e5027468c99bbfbaab4c7a4 with `SHA1` `1464814`

[2015-11-13 19:51] durack1 commented on #288
@jservonnat stackoverflow.com is your new best friend http://stackoverflow.com/questions/3555107/git-clone-particular-version-of-remote-repository

[2015-11-14 00:15] jservonnat commented on #288
@durack1 Ok so I've commented the 'git checkout ${metrics_checkout}' line and now it's fine.
I'll check tomorrow if I can merge my IPSL developments. Thank you for your help!

[2015-11-14 00:15] #288 closed

[2015-11-14 15:54] jservonnat commented on #288
Thanks @durack1 ;)

[2015-11-14 21:42] durack1 commented on #288
@jservonnat you can control this a little better by changing the values at https://github.com/PCMDI/pcmdi_metrics/blob/master/install_metrics.bash#L386-L390 - these set either the `v1.0.0` or `master` versions of the `metrics` along with also controlling the version of `UV-CDAT/CDAT` that is installed.. Our current latest `master` branch uses `master` for both

[2015-11-16 01:01] jservonnat commented on #288
@durack1 I'm afraid it's not over...
I've set cdat_version="master" and metrics_checkout="master", and this is what I got:
[code]
And meanwhile the "default" install (with cdat_version="2.1.0" and metrics_checkout="v1.0.0") works fine.
I'm a little bit confused... any idea?

[2015-11-16 03:11] durack1 commented on #288
@jservonnat yep this is expected.. and was what I meant by the "tweaks which should be merged into the master branch" comment [above](https://github.com/PCMDI/pcmdi_metrics/issues/288#issuecomment-155657277)

If you can wait a week (@doutriaux1 is locked up finalising the UV-CDAT 2.4.0 release) these issues in `master` should be solved soon for your reference when #279 and #277 are closed this sho

[2016-01-12 15:28] jservonnat commented on #279
@durack1 @doutriaux1 anything new on #279 and #277 (related with #288 closed)? I really need to install a version of the MP with the units check on salinity... or would you advise another way to do it (rather than taking the last versions of the MP and UVCDAT)?

[2016-01-12 15:33] doutriaux1 commented on #279
@jservonnat build seem t work for us provided you use uvcdat's `master` tag point. Last I tried test suite was ok. Not sure if it's on a branch or in master though.

[2016-01-12 15:35] doutriaux1 commented on #277
@durack1 is the test suite reporting an error? Some test are actually expected to fail and recover hence some messages about errors, but again the test is to see how we recover from this. You should only focus on the test suite report at the end.

[2016-01-12 15:47] durack1 commented on #277
@doutriaux1 looks to me like we still have [errors on the travis builds](https://travis-ci.org/PCMDI/pcmdi_metrics/builds) and the last time I checked it was due to test errors.. I haven't looked at this for a while though..

[2016-01-12 15:58] durack1 commented on #279
@jservonnat @doutriaux1 the salinity fix was implemented in April last year and is now in the `master` branch - see [here](https://github.com/PCMDI/pcmdi_metrics/issues/162#issuecomment-94031821).

Are you not getting this change?

[2016-01-12 17:56] jservonnat commented on #279
I'm actually getting this change but the test fails.

[code]
This is what I have in the output directory of the test:
[code]
And here is the version controlling section in my install_metrics.bash:
[code]
Any thoughts?

[2016-01-12 18:04] durack1 commented on #279
@jservonnat thanks for this, it's failing due to differences in the numbers calculated by the test, vs what we have in the repo for the test results - the number comparisons - so:

[code]
Can you post your `pcmdi_install_test_results/metrics_results/installationTest/tos_2.5x2.5_esmf_linear_metrics.json` file here too?

[2016-01-12 18:30] jservonnat commented on #279
There it is:
[code]

[2016-01-12 18:46] durack1 commented on #279
@jservonnat @doutriaux1 ok so we have:
[code]
And we just have a rounding issue - it's something that @doutriaux1 and I have been aware of and it's difficult to fix across all the systems we're currently trying to test for..

[2016-01-12 18:55] doutriaux1 commented on #279
@durack1 I could try to parse the error string and do a diff on numbers... Or we could maybe increase the precision in json files to 3 digits. @gleckler1 what do you think. We would probably still run into the issue (less often though) but a diff at the 3rd digit probably would be less worrisome?

[2016-01-14 10:52] jservonnat commented on #279
Ok so I'll carry on my tests without worrying too much about it. Thank you guys, I'll keep you in touch!

[2016-01-28 18:28] gleckler1 opened #289 "matplotlib plots not showing but VCS are"
@durack1 @doutriaux1 Just did a new build with latest install script with graphics options below.   Both VCS and matplot lib can be loaded and VCS plotting working normally.   Matplotlib still remains invisible even with mesa false...
Any hints?

## Do we want to build with graphics capabilities
build_graphics=true  #false
## Do we want MESA driver (non-interactive graphics mode)
build_graphics_ag

[2016-01-28 18:44] durack1 commented on #289
@gleckler1 works for me in a non-metrics build:
[code]

[2016-01-28 19:36] durack1 commented on #289
@gleckler1 can we close this?

[2016-01-28 20:02] gleckler1 commented on #289
@durack1 does not work for me on metrics build...

[2016-01-28 21:43] durack1 commented on #289
@gleckler1 I can confirm I also have the same issue.. I am able to plot an item and save it using matplotlib, but `plt.show()` doesn't lead to a canvas appearing on the screen.

VCS appears to work as expected.

[2016-01-28 23:30] gleckler1 commented on #283
I'm back.  @doutriaux1 @durack1
Got the latest on the climo script (I think).   Its producing files, but the start and end dates on the file names are wrong (using the year in the middle of the period).... For example,

pcmdi_compute_climatologies.py -f /work/cmip5/historical/atm/mo/rlut/cmip5.CESM1-CAM5.historical.r1i1p1.mo.atm.Amon.rlut.ver-v20120608.latestX.xml -v rlut -X '{"positive":"down"}'

[2016-01-28 23:34] gleckler1 commented on #283
@doutriaux1 @durack1
Correction... I had that reversed..... it should read

It outputs a file with name
rlut_Amon_CESM1-CAM5_historical_r1i1p1_198401-198412-clim.nc
but it should be
rlut_Amon_CESM1-CAM5_historical_r1i1p1_197901-198912-clim.nc

[2016-01-28 23:38] durack1 commented on #283
@doutriaux1 @gleckler1 should we create a new label `glecklerError`?

[2016-01-29 00:23] gleckler1 commented on #283
@doutriaux1 @durack1 Also needs command line option for setting output path which is currently hardwired for directory "Test"

[2016-02-02 18:23] gleckler1 opened #290 "update build_obs_meta_dictionary.py and build new dictionary"

[2016-02-02 21:54] gleckler1 commented on #270
@doutriaux1 @durack1
Output climatologies for the land case are ok, but for the ocean case the masking is still not being saved to the output climatologies

[2016-02-02 22:01] gleckler1 commented on #283
Just worked out with Karl... to be consistent with CMIP6....
"clim" should be replaced with "clim-ac", "clim-djf", "clim-mam","clim-jja", "clim-son"

[2016-02-02 23:25] gleckler1 opened #292 "Add zonal mean to annual cycle metrics"

[2016-02-03 21:15] gleckler1 commented on #283
In summary:
1) Start and end year in filename needs to be fixed to reflect start and end clim period
2) Append "-ac", "-djf", "-mam", "-jja" and "-son" to "clim" accordingly
3) Enable outpath as a command line option (i.e., remove hardwire to "./Test")

[2016-02-10 14:56] doutriaux1 commented on #270
@gleckler1 is it working now? Or did you close by accident?

[2016-02-11 16:02] doutriaux1 opened #293 "install behind firewall"
https://github.com/UV-CDAT/uvcdat/issues/1824

[2016-02-11 16:03] doutriaux1 commented on #293
@jservonnat just you you stay informed

[2016-02-11 16:07] durack1 commented on #293
@gleckler1

[2016-02-11 17:24] gleckler1 commented on #270
@doutriaux1  Closed by accident!  Still not working

[2016-02-11 17:26] doutriaux1 commented on #270
Darn! was too good to be true!

[2016-02-11 17:28] durack1 commented on #270
@doutriaux1 maybe you could hijack @gleckler1's keyboard so that these things are "accidentally" closed more often.. No more "TOPPRIORITY" tags or anything..

[2016-02-11 18:35] gleckler1 opened #294 "Output directory has "case_id" hardwired"
@doutriaux1
Output paths set in the parameter file
metrics_output_path and model_clims_interpolated_output are meant to be explicitly, but have "case_id" appended to them in pcmdi_metrics_driver.py

[2016-02-11 22:01] gleckler1 opened #296 "Portrait broken"
This comes from a code that used to work....

python -i test_portrait-4seas_02102016.py
/export/gleckler1/METRICS_PACKAGE/PCMDI_METRICS/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2499: VisibleDeprecationWarning: `rank` is deprecated; use the `ndim` attribute or function instead. To find the rank of a matrix see `numpy.linalg.matrix_rank`.
  VisibleDeprecationWarning)
Traceback (most rec

[2016-02-12 01:23] gleckler1 commented on #296
Code location is /export/gleckler1/processing/metrics_package/my_test/portrait/test_portrait-4seas_02102016.py

[2016-02-12 02:24] durack1 commented on #296
@gleckler1 commit the code into a new `Pete` or whatever, just not the usual cr*p name - that way @doutriaux1 can get to it very easily..

[2016-02-16 15:20] doutriaux1 commented on #296
@gleckler1 it's a known bug in vcs, I have Kitware working on it. Should be fixed within a week.

[2016-02-16 21:20] doutriaux1 commented on #296
@durack1 @gleckler1 bug is fixed and in master. I tested Portrait test and it passes.

[2016-02-16 21:21] durack1 commented on #296
@doutriaux1 hold your horses.. If you check your inbox you'll see that @gleckler1 has hit a problem..

[2016-02-16 21:31] doutriaux1 commented on #296
@durack1 I think @gleckler1 is using an older branch, the test passes for me off the climo_script branch which is the one that should really be merged quickly into master. But I don't mind keeping this open until we figured out what's wrong with @gleckler1 test.

[2016-02-16 22:06] gleckler1 commented on #296
@doutriaux1 ... here is the latest....
![crap](https://cloud.githubusercontent.com/assets/4553389/13092712/5cb5d500-d4b6-11e5-8a5b-cb45f8941e19.png)

[2016-02-16 22:13] durack1 commented on #279
@doutriaux1 got this issue too:
[code]

[2016-02-16 22:45] gleckler1 commented on #296
@doutriaux1 @durack1 ... does the test suite do 4 triangles?

[2016-02-16 22:46] durack1 commented on #296
@gleckler1 take a peek at https://github.com/PCMDI/pcmdi_metrics/blob/master/test/graphics/testPortrait.png

[2016-02-16 23:08] gleckler1 commented on #296
@doutriaux1 @durack1
Works for fine for cases 1 and 2 but not 3 and 4, ie.:
P.plot(out1_rel,bg=1,x=x)
and
P.plot(out1_rel,x=x,multiple=1.2,bg=1)
P.plot(out2_rel,x=x,multiple=2.2,bg=1)
are good but craps out on:

P.plot(out1_rel,x=x,multiple=1.3,bg=1)
P.plot(out2_rel,x=x,multiple=2.3,bg=1)
P.plot(out3_rel,x=x,multiple=3.3,bg=1)
and
P.plot(out1_rel,x=x,multiple=1.4,bg=1)
P.plot(out2_rel,x=x,multiple

[2016-02-16 23:08] gleckler1 commented on #296
looks like no triangles in test suite....

[2016-02-16 23:10] durack1 commented on #296
@gleckler1 yep, so it would be good to drop this more complex portrait plot into the test suite so we catch any problems "automagically" in the future.. I'm sure @doutriaux1 was planning on that anyway..

[2016-02-17 00:15] gleckler1 commented on #270
@doutriaux1 does not appear to be fixed....

[2016-02-17 00:22] gleckler1 opened #298 "setup.py install problems..."
Not sure what the implications or fix are for this...

python setup.py install
running install
running build
running build_py
copying src/python/__init__.py -> build/lib/pcmdi_metrics
copying src/python/version.py -> build/lib/pcmdi_metrics
copying src/python/io/__init__.py -> build/lib/pcmdi_metrics/io
copying src/python/io/base.py -> build/lib/pcmdi_metrics/io
copying src/python/pcmdi/seasonal_m

[2016-02-17 00:26] durack1 commented on #298
@gleckler1 that makes sense when you are trying to install into the `/usr/lib/` directory using the system `Python2.6` and not the `Python2.7` that we've been using for UV-CDAT for the last couple of years..

Make sure you run `setup_runtime.csh` BEFORE you try and install..

And use the option:
[code]

Closing as a `gleckler-error` (as coined by @doutriaux1)

[2016-02-17 00:26] #298 closed

[2016-02-17 14:54] doutriaux1 commented on #270
@gleckler1 did you try this branch?

[2016-02-17 19:49] gleckler1 commented on #296
@doutriaux1 Just tried with branch issue_270_ocn_clim and here is confirmation 3 and 4 triangle portraits are not working...

[2016-02-17 19:53] gleckler1 opened #299 "create development space"
At some level in the src directory tree we need a devel subdirectory or something like that.   In here, we will have sub directories and will get various metrics codes working on CMIP5 data (e.g., monsoon onset, variability, etc) that are developed by climate scientists and will at some point be better integrated into the package...

[2016-02-17 20:06] durack1 commented on #299
@gleckler1 propose something in a PR that we (@doutriaux1 and I) can comment on..

[2016-02-17 20:07] durack1 commented on #296
@doutriaux1 if you're convinced that #287, #295 and #297 are good to go I'm happy to merge these so we're not holding up progress.. My only concern is that all 3 are reporting travis failures..

[2016-02-17 20:56] gleckler1 commented on #299
@durack1 Creation of this PR follows a f2f with C... he understands what this means and just wanted an issue because he has ideas on soln

[2016-02-17 21:34] durack1 commented on #279
@doutriaux1 it's likely cryptography needs to be added as a dependency of MyProxyClient [here](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/myproxyclient_deps.cmake#L1)

[2016-02-17 21:53] gleckler1 commented on #296
@doutriaux1 voila z code...

[test_portrait-4seas-feb16.py.TXT](https://github.com/PCMDI/pcmdi_metrics/files/135233/test_portrait-4seas-feb16.py.TXT)

[2016-02-17 21:56] durack1 commented on #279
This is a duplicate of the upstream https://github.com/UV-CDAT/uvcdat/issues/1838

[2016-02-17 21:58] #283 closed

[2016-02-17 21:59] #270 closed

[2016-02-17 21:59] #282 closed

[2016-02-18 03:31] durack1 commented on #279
@doutriaux1 https://github.com/UV-CDAT/uvcdat/pull/1840 should fix the standing issues that I was having - if you can then implement the test tolerances I think we're set and all tests should also pass

[2016-02-18 03:36] durack1 commented on #279
Actually @doutriaux1 this is what I get now:
[code]

So we're good on ocean, but the tolerances do need to be implemented so that @jservonnat can get the tests passing on his environment

[2016-02-19 22:04] doutriaux1 opened #300 "test suite should not depend on obs json file"

[2016-02-20 00:29] durack1 opened #303 "Resolve precision issues in test suite results"
This issue was highlighted in https://github.com/PCMDI/pcmdi_metrics/issues/279#issuecomment-171009552, however is reproduced here to simplify the multiple problems covered in #279
[code]

The resolution requires a more intelligent (precision aware) dealing of result comparison in the test suite. @doutriaux1 has increased precision to 3 places in #301, but this will likely need a further tweak to

[2016-02-21 05:04] gleckler1 commented on #299
@doutriaux1 @durack1
I did a git checkout -b 299_create_dev_space
Then a git pull
my git status was then on an updated branch 299_create_dev_space as expected
I went to /export/gleckler1/git/pcmdi_metrics/src/python and there was no directory devel so I created it.
I then tried
[gleckler1@oceanonly pcmdi_metrics]$ python setup.py install --enable-devel
usage: setup.py [global_opts] cmd1 [cmd1_opts

[2016-02-21 18:57] durack1 commented on #299
@gleckler1 out of curiosity did you
[code]
Before you executed the `python setup.py` command?

[2016-02-21 19:30] gleckler1 commented on #299
@durack1  OUI

[2016-02-21 19:36] durack1 commented on #299
@gleckler1 geez, you're starting to get good at this `git` stuff.. Next I'll be coming to you for tips..

[2016-02-22 14:48] doutriaux1 commented on #299
welll it's there: https://github.com/PCMDI/pcmdi_metrics/tree/299_create_dev_space/src/python/devel/example_dev

[2016-02-22 14:50] doutriaux1 commented on #299
@gleckler1 you probably did a `git checkout -b` **BEFORE** you pulled hence you created a new branch...

If you want to checkout a **new** branch use `-b` but if you want to checkout an existing branch drop the `-b`

So for now do:
[code]

Voila.

[2016-02-22 17:21] gleckler1 commented on #299
@doutriaux1 Indeed I did.   Never used "git branch -D" before.
I trust I can make pull requests to this branch even though you are owner?

[2016-02-22 19:22] gleckler1 commented on #299
@doutriaux1 OK I see it.   If I understand correctly, for now if I want to create a new devel project I need to do it from 299_create_dev_space because that branch has not yet been pulled into master... is that correct?

[2016-02-22 19:38] doutriaux1 commented on #299
nope, let's sit together, see what's missing in this branch, merge it and then have you start off of master.

[2016-02-22 23:06] jservonnat opened #304 "Possible issues with units"
This section of the driver raises errors that I don't understand:
[code]
Like this one:
[code]
I've ran the package after neutralizing these lines (with a #), and the result looks just fine. There is something at the beginning of this section that got my attention:
[code]

The package is working for me right now but would you have some inputs for me on this point?

[2016-02-24 04:07] gleckler1 commented on #299
@doutriaux1 Please merge with master now so I can give it a try and we can discuss my first steps next week.  Every day counts right now need to be moving forward.  thanks p

[2016-02-24 14:47] doutriaux1 commented on #299
done

[2016-02-24 15:55] jservonnat opened #305 "mismatch in src and dst data types (float32 vs float32)"
I've had a new error when trying to get the model data:
[code]
Looks a bit weird to me, float32 vs float32 doesn't sound like a mismatch! Any suggestion?

[2016-02-24 22:40] doutriaux1 commented on #296
fixed by https://github.com/UV-CDAT/uvcdat/pull/1855

[2016-02-24 22:40] #296 closed

[2016-02-25 20:47] durack1 commented on #296
@gleckler1 it'd be good if you can rebuild the latest (a new install should pull in changes from UV-CDAT master) and voila!

[2016-03-01 19:51] gleckler1 commented on #299
@doutriaux1 getting close.   I still have git checkout 299_create_dev_space locally (altho you have merged with master) and when I check out this branch it works fine when I run
python setup.py install --enable-devel
However, when I checkout master and try
python setup.py install --enable-devel
the --enable-devel option is not recognized (below)
My impression from your #fix 299 is that it should n

[2016-03-01 20:02] doutriaux1 commented on #299
it's in master, you probably need:
[code]

[2016-03-01 23:51] gleckler1 commented on #299
[gleckler1@oceanonly pcmdi_metrics]$ which python
/export/gleckler1/METRICS_PACKAGE/PCMDI_METRICS/bin/python
[gleckler1@oceanonly pcmdi_metrics]$ git status
On branch master
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	src/python/version.py
nothing added to commit but untracked files present (use "git add" to track)
[gleckler1@oceanonly pcmdi_metrics]$ python

[2016-03-02 00:00] doutriaux1 commented on #299
did you run `git pull` while on branch `master` ?

[2016-03-02 00:01] gleckler1 commented on #299
@doutriaux1 OUI

[2016-03-02 00:03] gleckler1 commented on #299
@doutriaux1
gleckler1@oceanonly pcmdi_metrics]$ which python
/export/gleckler1/METRICS_PACKAGE/PCMDI_METRICS/bin/python
[gleckler1@oceanonly pcmdi_metrics]$ git status
On branch master
Untracked files:
(use "git add ..." to include in what will be committed)
src/python/version.py
nothing added to commit but untracked files present (use "git add" to track)
[gleckler1@oceanonly pcmdi_metrics]$ git p

[2016-03-02 14:44] doutriaux1 commented on #299
@gleckler1 per your error message:
[code]

So no you're not really on master...

do as git tells you:
[code]
code is in see:
git branch --set-upstream-to=origin/ master

[2016-03-02 14:44] #299 closed

[2016-03-02 18:42] gleckler1 opened #306 "Climatology production in /devel"

[2016-03-02 18:47] doutriaux1 commented on #306
Ah! Got your master branch going I guess :wink:

[2016-03-02 20:35] gleckler1 commented on #306
@durack1 Have added branch 306_pjg_climproduction_indevel
which includes a code to create model clims using cmor and an (ATM only so far) CMOR table.   Everything hardwired so far.   Lets talk about using argparse to set parameters from command line and including logging.

[2016-03-02 21:47] gleckler1 opened #307 "Master build failing (Linux and OS X 10.11)"
Failed attempt to build on oceanonly... log attached

[build_log.oceanonly.02022016.txt](https://github.com/PCMDI/pcmdi_metrics/files/155705/build_log.oceanonly.02022016.txt)

[2016-03-02 21:49] durack1 commented on #306
@gleckler1 want to propose this in a PR? That way it'll be easy to see what you have done, the "Files changed" tab (e.g. https://github.com/PCMDI/pcmdi_metrics/pull/301) makes that really easy..

[2016-03-02 22:22] durack1 commented on #307
@gleckler1 my quick test lead to the following error:
[code]

It's (almost) fixed in https://github.com/UV-CDAT/uvcdat/pull/1840 - I'm not sure what the status of this is, it's passing all the `travis` tests that I have seen.. Not certain about what's happening with the `mac-bots`.. @doutriaux1?

[2016-03-02 22:28] gleckler1 commented on #306
@durack1 Not ready for master, why not just use the branch I created? 306_pjg_climproduction_indevel

[2016-03-02 22:30] durack1 commented on #306
@gleckler1 you can submit it as a pull request, but just prefix with [WIP] (work in progress) so we can see it in the queue, but not merge until we're happy with it.. You can continue to commit and push changes into the branch while it's a pull request..

[2016-03-02 22:32] durack1 commented on #306
@gleckler1 https://github.com/PCMDI/pcmdi_metrics/pull/308 - here's the pull request - with [WIP] prefix

[2016-03-03 16:41] doutriaux1 commented on #307
@gleckler1 please try again, the latest changes in UV-CDAT/uvcdat#1840 should have fix this.

[2016-03-03 16:43] durack1 commented on #307
@doutriaux1 ok great, this fixes my issues for the `pcmdi_metrics` - you might want to ping Matthias to try again with the master branch..

[2016-03-03 16:48] doutriaux1 commented on #305
@jservonnat which model/obs? Can you send a link?

[2016-03-03 17:20] gleckler1 commented on #307
@doutriaux1
[build_log.oceanonly.02032016.txt](https://github.com/PCMDI/pcmdi_metrics/files/157283/build_log.oceanonly.02032016.txt)

[2016-03-03 17:22] durack1 commented on #307
@gleckler1 add:
[code]
Into the top of your `install_metrics.bash` - this will isolate if it's a `CMake` issue..

[2016-03-03 17:59] gleckler1 commented on #307
@doutriaux1 @durack1
Can't build on crunchy either.   Looks like a different issue.   I must be doing something wrong...
[build_log.crunchy.02032016.txt](https://github.com/PCMDI/pcmdi_metrics/files/157355/build_log.crunchy.02032016.txt)

[2016-03-03 18:03] doutriaux1 commented on #307
I'm coming to your office

[2016-03-05 01:44] gleckler1 commented on #307
@doutriaux1 @durack1   The cmake update on oceanonly needs also to be on crunchy where build is still failing....

Your branch is up-to-date with 'origin/master'.
removing UVCDAT build directory
LEAN MODE will not build graphics
CMAKE ARGS: cmake /export_backup/gleckler1/METRICS_PACKAGE/PCMDI_METRICS/tmp/uvcdat/uvcdat -DCDAT_BUILD_MODE=LEAN -DCDAT_BUILD_ESMF_ESMP=ON -DCMAKE_INSTALL_PREFIX=/export_

[2016-03-05 01:54] doutriaux1 commented on #307
yep

From: gleckler1 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 4, 2016 at 5:44 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com<mailto:pcmdi_metrics@noreply.github.com>>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.gov<mailto:doutriaux1@llnl.gov>>
Subject: Re: [pcmdi

[2016-03-05 03:51] durack1 commented on #307
@doutriaux1 so I have also hit issues on OS X 10.11.3:
[code]
And using the `install_metrics.bash options:
[code]
The error I hit is:
[code]

[2016-03-05 17:20] gleckler1 opened #317 "Add CMORizing obs time series in devel"
This code will be what is used to process (with CMOR) existing and newly acquired observational datasets.   To be jointly developed by PG and PD

[2016-03-05 17:43] gleckler1 commented on #317
@durack1 I thought what you had in ~git/pcmdi_metrics/src/python/pcmdi/scripts was a script to process monthly mean obs, but it (make_obs_clim.py) is for producing clims.   Do you have something we should start with for processing all obs from /work/climobs/orig to well structured CF compliant data, or do we need to start from scratch?   We can establish a framework for process all obs and then us

[2016-03-05 17:59] durack1 commented on #317
@gleckler1 good question. What I have is numerous obs-specific scripts to convert downloaded versions of data into CF-like gridded timeseries - so for Ishii, Aquarius etc

These are all in `ocean:/work/durack1/Shared/obs_data` and are very specific to the source data, which has come in `grib`, `hdf`, `netcdf` and other weird formats.

[2016-03-05 19:50] gleckler1 commented on #317
@durack1 I don't think there is an easy path here, but the hope is that we could modularize some (albeit limited) aspect of the processing, particularly since we plan to use cmor.   Maybe if we have obs specific functions in a module which one way or another read in the data and then do any manipulation necessary (rename variable, change units, reverse axis, etc)...  then have a driver script that

[2016-03-05 21:58] durack1 commented on #317
@gleckler1 I think the best thing we can hope for with limited time, is that each of the steps (download, rewrite etc) are logged so we at least have a trail to follow if questions arise.

We can then use standard scripts/cmor libraries to read and generate the climatologies and timeseries-style inputs for the package.. I think making things transparent is the first step, generalizing code would b

[2016-03-05 22:09] durack1 commented on #307
@doutriaux1 ok got things building on `OS X 10.11.3` but have hit a bunch of errors in the tests - as per the attached file [160305_PCMDIMETRICS-master-testlog.txt](https://github.com/PCMDI/pcmdi_metrics/files/160070/160305_PCMDIMETRICS-master-testlog.txt)

[2016-03-05 23:41] gleckler1 commented on #317
@durack1  I think you are right about the required effort.  Part of keeping it transparent is keeping the original data and processing scripts in a common location and we have that with /work/clim_obs .... also, fortunately the obs4MIPs and ana4MIPs data do not need reprocessing.

[2016-03-05 23:43] durack1 commented on #317
@gleckler1 exactly, leveraging obs4mips data as a primary source is the best (quickest and simplest) path forward.. Even better is to advocate for data providers to submit their data into obs4mips..

[2016-03-05 23:55] gleckler1 commented on #317
@durack1 I've just re-discovered that all of the time series YZ had processed was done with ezcmor... not just clims....  this could help jumpstart things... if only there was more time...

[2016-03-06 00:22] gleckler1 commented on #317
@durack1 But we can (need to) make all obs clims consistent and right now the atm and ocn file names are not (below)...  so, like the model data we need a single code for processing obs clims... this can be a close variant of model code.

[gleckler1@oceanonly mo]$ pwd
/clim_obs/obs/ocn/mo
[gleckler1@oceanonly mo]$ ls */*/ac/*.nc
sos/JPL-Aquarius-v2/ac/sos_pcmdi-metrics_Omon_JPL-Aquarius-v2_201108-

[2016-03-06 00:34] gleckler1 commented on #317
@durack1 I've just realized that although the obs ocn clims have been standardized in general the month mean ocean time series are not.   That has not come up until now as we are getting variability analysis together which will rely on multiple monthly mean sst datasets.   Lets chat about our strategy...

[2016-03-07 15:12] doutriaux1 commented on #317
guys this seems to be way off topic from the PMP, I would recommend creating a separate repo for these sort of things. pcmdi_metrics_maintain or something like that, we do not want to pollute this repo with things that are not needed at all by the end user.

[2016-03-08 00:32] durack1 commented on #317
@doutriaux1 we have some demo files at https://github.com/PCMDI/pcmdi_metrics/tree/master/demo - I think it's best we keep code together, but not anything else.. Creating a separate repo at this stage is a little pre-emptive

[2016-03-08 14:42] doutriaux1 commented on #317
yes but it's 5mn now vs 2 days and a really really horrible repo in a few months :wink:

[2016-03-08 17:04] durack1 commented on #317
@doutriaux1 point taken.. Ok will have to think about organizing another repo..

[2016-03-23 16:29] durack1 commented on #307
@doutriaux1 @gleckler1 it seems this long-standing issue is still a problem..
![metricsfail](https://cloud.githubusercontent.com/assets/3229632/13992532/ac9ccfa8-f0d9-11e5-9907-3b7f7d74b6fd.png)
As the EOS article is scheduled for publication soon, and as we're likely to get a lot of eyes looking at the repo in coming weeks it'd be great to solve this today.

[2016-04-05 20:28] durack1 opened #319 "Update eofs to 1.1.0"
This is a duplicate of https://github.com/UV-CDAT/uvcdat/issues/1910

It should be closed once https://github.com/UV-CDAT/uvcdat/pull/1911 is merged

[2016-04-05 22:39] durack1 commented on #319
Closed by https://github.com/UV-CDAT/uvcdat/pull/1911
@gleckler1 @doutriaux1

[2016-04-05 22:39] durack1 commented on #319
Closed by https://github.com/UV-CDAT/uvcdat/pull/1911
@gleckler1 @doutriaux1

[2016-04-05 22:39] #319 closed

[2016-04-05 22:40] durack1 commented on #305
@jservonnat we're starting to clean things up for a new release, if you are not able to reproduce this we'll close it (along with any other rogue issues)

[2016-04-05 22:41] durack1 commented on #304
@jservonnat we're starting to clean things up for a new release, if you are not able to reproduce this we'll close it (along with any other rogue issues)

[2016-04-06 03:19] gleckler1 opened #320 "external check of parameter table model and obs data"
@doutriaux1 @durack1 With a switch available on the parameter table it would be great to be able to do a dry run only on trying to read all model (including land sea masks) and obs data and to report the results in a file that can be browsed.   If there is a single script for doing all of these checks CD, PG and PD via iteration should be able to provide some comprehensive error trapping.

[2016-04-06 22:16] #290 closed

[2016-04-21 23:15] gleckler1 opened #321 "develop ENSO metrics (bellenger 2014)"
Peter creating branch to work with Jiwoo on this...

[2016-04-22 20:01] gleckler1 opened #323 "conda install for PMP?"
In 10 days the PMP EOS article will be published.   Shouldn't we have an experimental PMP conda build available before then, much like the recent UV-CDAT release at https://github.com/UV-CDAT/uvcdat/wiki/Install-using-Anaconda   ?  @doutriaux1 @durack1

[2016-04-25 14:17] doutriaux1 commented on #323
Yep it's in the conda branch. @durack1 @gleckler1 quick questions:

 * name? `pcmdi_metrics` or `pmp` for conda package
* which organization? `uvcdat` like the rest of uvcdat or `PCMDI` like cmor?

[2016-04-25 16:14] durack1 commented on #323
pcmd_metrics vs pmp is up to Pete.. I'd vote the PCMDI group however..

[2016-04-25 17:20] gleckler1 commented on #323
@doutriaux1 @durack1

name => pcmdi_metrics
organization =>  PCMDI

Here is confirmation the EOS article is going to be published this week or next.   Shall we copy over https://github.com/UV-CDAT/uvcdat/wiki/Install-using-Anaconda to the PMP install instructions and modify as necessary?

[2016-04-25 17:23] doutriaux1 commented on #323
yes but the install part should be:

`conda install -c PCMDI pcmdi_metrics`

[2016-04-25 17:23] gleckler1 commented on #72
@PBrockmann @doutriaux1 @durack1
Anaconda it is!

[2016-04-25 17:23] #72 closed

[2016-04-25 17:25] durack1 commented on #72
@gleckler1 this link may also be very useful upon closing this issue:

https://github.com/UV-CDAT/uvcdat/wiki/Install-using-Anaconda

[2016-04-25 21:26] durack1 commented on #281
@doutriaux1 a candidate for closing?

[2016-04-25 22:45] durack1 commented on #323
It seems that at least on crunchy, some perms issues are tripping us over:
[code]

[2016-04-25 23:03] doutriaux1 commented on #281
yes it is actually already fixed and now deprecated anyway...

[2016-04-25 23:03] #281 closed

[2016-04-25 23:11] durack1 commented on #304
@jservonnat any more info on this? If not we'll close it as we're starting to clean things up for a new release

[2016-04-25 23:11] durack1 commented on #305
@jservonnat any more info on this? If not we'll close it as we're starting to clean things up for a new release

[2016-04-25 23:39] gleckler1 commented on #323
@doutriaux1 pls fix this (PD's comment above) permission issue so that PMP can be tested (not done yet with conda install) on crunchy... then set up for oceanonly also... thanks.

[2016-04-27 00:57] durack1 opened #325 "Add durolib library"
The functions inside durolib.py are being heavily used, this should be folded into the package.

@doutriaux1 how easy is it to clone a file during install? Conda package wrapping?

@gleckler1 @lee1043 pinging you both here

[2016-04-27 15:26] doutriaux1 commented on #325
you want to go the conda way. I'll push  a PR on your durolib to do this.

[2016-04-27 15:27] doutriaux1 commented on #325
@durack1 where is durolib repo?

[2016-04-27 15:41] durack1 commented on #325
@doutriaux1 https://github.com/durack1/pylib/blob/master/durolib.py

[2016-04-27 15:59] doutriaux1 commented on #325
so it's just one file?

[2016-04-27 16:00] doutriaux1 commented on #325
I would recommend renaming your whole pylib repo `durolib` and give a more menaningful to the durolib.py file. Then package the whole thing for conda.

[2016-04-28 01:24] durack1 commented on #325
@doutriaux1 at this stage yep.. I will be adding a couple of new functions in time, and there may be a `json` or similar data file required

[2016-04-28 17:23] gleckler1 opened #327 "clean up tags?"
@doutriaux1 @durack1
We currently have the following tags:  v1.0.0, v1.0, 1.05, 1.0

Would should be consistent... do we have a 'v' in front or not?   In the EOS paper we do - its PMPv1.1 ...
I don't think we have to use the "PMP" or "v" ... although it might be nice to do so...
The main thing is that we are consistent.
Next Weds May 4 we will tag 1.1 .... shall we call in PMPv1.1   ?
Is there a w

[2016-04-28 18:30] gleckler1 opened #328 "build fail..."
@doutriaux1 @durack1 I don't understand impact of anaconda on Travis, but this "build fail" icon is really a blemish.   We should remove this for now.
Agreed?

[2016-04-28 18:39] gleckler1 opened #329 "add User notice to be at the top of all json files produced..."
@doutriaux1 Add the following disclaimer to be at the top of all json files (when viewed via more, vi, etc).

USER-NOTICE:  The results in this file were produced with the PMP v1.1 (https://github.com/PCMDI/pcmdi_metrics).   They are for research purposes only.   They are subject to ongoing quality control and change as the PMP software advances, interpolation methods are modified, observational d

[2016-04-28 21:08] #323 closed

[2016-04-29 15:40] doutriaux1 commented on #327
@gleckler1 tags are free in github, I have no objection. Let's have both.

[2016-04-29 16:06] gleckler1 commented on #327
@doutriaux1 @durack1 I see the diversity of naming in uv-cdat...  I think it is confusing to have things like v2.4.1 and uvcdat-2.4.1 ... what is the difference?   Of course a few developers know, but there may come a time (very soon with the PMP) where there are non experts browsing through our accomplishments.   If we are going to have both for the PMP, lets have one which is "official" - I vote

[2016-04-29 16:10] doutriaux1 commented on #327
PMP- is not standard practive though, most software just have either the version number `X.x` or a v in front of it `v1X.x` I don't see why you care if there are many variant of this, but if you do it's ok to have just one.

[2016-04-29 16:16] gleckler1 commented on #327
@doutriaux1 mostly politics - we are going to be queried about specific advancements across versions and it will help if we can be clear and consistent and not have multiple naming conventions that include X.x
Why is there v2.4.1 and uvcdat-2.4.1  ... how does one know which is the official (e.g., referenced in a paper)?

Lets drop the PMP if its not standard, but make tags that start with a "v" a

[2016-04-29 16:22] gleckler1 commented on #292
@doutriaux1  Just want to make sure you got the notice about the pull request (I'm new to this part)... other than adding disclaimer to top of jsons, this (adding zonal mean and departure from zonal means) is the main analysis addition needed to get into "v1.1" for early next week.

[2016-04-29 16:48] doutriaux1 commented on #327
sounds good.

[2016-04-29 19:01] gleckler1 commented on #292
@doutriaux1 I went to branch did a pull, so some changes come down... when I ran a test I don't see the zonal mean (and departure results) and more but the following was inadvertently appended to the json:
"METRICS": {
"rms_xyt": {
"Abstract": "Compute Spatial and Temporal Root Mean Square",
"Contact": "Peter Gleckler gleckler1@llnl.gov",
"Name": "Spatio-Temporal Root Mean Square",
"URI": "http://

[2016-04-29 20:33] gleckler1 commented on #329
@doutriaux1 You will need to make this trivial change - I do not understand your class structures enough to do this.

[2016-04-29 21:19] gleckler1 commented on #327
@doutriaux1 @durack1 here is another reason why its good to have a consistent naming convention that I'm sure you're experienced with ... I'm trying to prepare some documentation for the wiki and its important to have a clearly defined tag to point to. :-)

[2016-04-29 21:41] gleckler1 commented on #272
@doutriaux1 See pull request.

[2016-04-30 01:17] gleckler1 opened #331 "wrong obs in test obs dir - test suite fails"
@doutriaux1 @durack1 changes obs really much up everything.  We need to make it easier to update obs database and not have issue propagate across package.   Need to replace test obs file...
tas_pcmdi-metrics_Amon_ERAINT_198901-200911-clim.nc
with
tas_ERAINT_000001-000012_ac.nc

Yes... we want to have the dates in the obs clim filenames but we've got to clean up obs database before making a new ver

[2016-05-02 03:55] doutriaux1 commented on #327
no problemo my friend, vx.x.x it is.

[2016-05-02 13:45] #327 closed

[2016-05-02 13:53] doutriaux1 commented on #331
@gleckler1 this is all taken care of in the "conda" branch which revamps the test suite to address all these things. It's 99% done but I need to sit with you because of some discrepancies that appeared on mac.

[2016-05-02 16:49] gleckler1 commented on #329
@doutriaux1 Can you do this soon so that I can re-run all of the statistics on all CMIP simulations?

[2016-05-03 00:21] #331 closed

[2016-05-03 23:18] gleckler1 commented on #329
@doutriaux1 disclaimer is in... ok to merge with master

[2016-05-03 23:20] gleckler1 opened #333 "Since zonal mean added, metrics fail on level data"
Since the zonal mean fcns were added pmp is failing on level data extracted from 4d, eg., ta-850

[2016-05-03 23:30] #329 closed

[2016-05-03 23:31] doutriaux1 commented on #333
will fix tomorrow

[2016-05-03 23:32] gleckler1 commented on #333
k

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, May 3, 2016 4:31 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com<mailto:pcmdi_metrics@noreply.github.com>>
Cc: gleckler1 <pgleckler@llnl.gov<mailto:pgleckler@llnl.gov>>, Author <author@noreply.github

[2016-05-04 04:40] durack1 commented on #307
@doutriaux1 the Travis badge still says failing

[2016-05-04 14:08] doutriaux1 commented on #307
I know, i know... Need to go thru the mac numbers with @gleckler1

[2016-05-04 15:29] gleckler1 commented on #328
@doutriaux1 @durack1  I have removed the travis link from readme.md until we can resolve why this is perpetually reporting as "failing"  .... that is unacceptable with EOS paper now published.   Question: is this travis report still relevant now that we are using Anaconda?

[2016-05-04 15:29] #328 closed

[2016-05-04 15:30] #292 closed

[2016-05-04 20:16] gleckler1 commented on #333
@doutriaux1 sorry, but this one is more urgent than deciphering max linux discrepancy... PMP currently not working 4d fields which we need to replace

[2016-05-04 20:20] gleckler1 opened #334 "Add monsoon index - wang"
Peter and Ken begging to work on this.

[2016-05-04 21:21] #300 closed

[2016-05-05 16:30] gleckler1 opened #336 "update disclaimer with EOS publication doi"

[2016-05-08 01:35] gleckler1 opened #338 "remove mod jsons without disclaimer"

[2016-05-09 16:35] gleckler1 opened #339 "update model jsons with disclaimer"

[2016-05-11 16:24] gleckler1 commented on #338
@doutriaux1 Indeed, could have been done with one pull request but I'm still getting familiar with github and two steps will help it stick more easily...  I'll set up a branch shortly with updated json files.

[2016-05-11 16:24] #338 closed

[2016-05-11 16:48] #333 closed

[2016-05-11 23:23] gleckler1 commented on #339
done

[2016-05-11 23:23] #339 closed

[2016-05-11 23:23] gleckler1 commented on #336
done

[2016-05-11 23:23] #336 closed

[2016-05-11 23:25] gleckler1 opened #342 "Implement Covey et al Diurnal cycle metrics"

[2016-05-12 15:14] gleckler1 opened #343 "produce a start to finish example including model and obs data, parameter file and creation of portrait plot"
@doutriaux1 lets team up onthis today, get it in there, and then tag v1.1

[2016-05-23 20:54] gleckler1 opened #345 "Add Taylor Diagram plotting"

[2016-05-23 23:54] gleckler1 commented on #345
@lee1043
Checking it in for the evening... its working but needs a lot of cleanup .... more tomorrow...
taylor1panel.py -y '/work/gleckler1/processed_data/metrics_package/metrics_results/cmip5clims_metrics_package-amip/v1.1/pr_2.5x2.5_esmf_linear_metrics.json' -s 'djf' -e 'amip'

[2016-05-24 20:41] gleckler1 commented on #345
@lee1043 .... ok a new branch 345_pjg_taylor_diagram
Is working kind of but needs improvement!
When on this branch, it is producing plot while running this at command line:
 taylor1panel.py -j '/work/gleckler1/processed_data/metrics_package/metrics_results/cmip5clims_metrics_package-amip/v1.1/pr_2.5x2.5_esmf_linear_metrics.json' -s 'djf' -e 'amip' -d 'NHEX' -v 'pr'

[2016-05-24 22:22] gleckler1 opened #346 "update jsons to include SD"
@lee1043 PG working on this now...

[2016-05-25 00:28] gleckler1 commented on #346
done

[2016-05-25 00:28] #346 closed

[2016-05-25 00:29] #304 closed

[2016-05-25 00:31] #279 closed

[2016-05-25 00:32] #293 closed

[2016-05-25 00:33] #289 closed

[2016-05-25 00:35] #307 closed

[2016-05-25 00:39] #272 closed

[2016-05-25 00:39] #238 closed

[2016-05-25 00:41] #87 closed

[2016-05-25 00:41] #73 closed

[2016-05-25 00:42] #84 closed

[2016-05-25 00:42] #30 closed

[2016-05-25 00:45] #64 closed

[2016-05-25 00:46] #26 closed

[2016-05-25 00:46] #74 closed

[2016-05-25 00:49] #233 closed

[2016-05-25 00:50] #137 closed

[2016-05-25 00:50] #215 closed

[2016-05-25 00:52] #219 closed

[2016-05-25 00:53] #29 closed

[2016-05-25 00:55] gleckler1 commented on #223
@doutriaux1 @durack1 need to confirm this one was resolved

[2016-05-25 00:56] #27 closed

[2016-05-25 00:58] gleckler1 opened #348 "complete documentation of v1.1"
@doutriaux1 once v1.1 has been tagged, we'll need to:
- [ ] Validate version info is correctly written (version indicated v1.1)
- [ ] Update wiki so correct paths are noted (for test cases, demos etc)
- [ ] Obtain zenodo DOI
- [ ] Finalise README.md with updated DOI
- [ ] Move tag point to new commit
- [ ] After tag point set, reset all checkout tagpoints to point back to `master` tags (metrics, U

[2016-05-25 01:01] #277 closed

[2016-05-25 01:05] #156 closed

[2016-05-25 01:06] #222 closed

[2016-05-25 01:10] #255 closed

[2016-05-25 01:13] #260 closed

[2016-05-25 01:28] durack1 commented on #305
@jservonnat closing this

[2016-05-25 01:28] #305 closed

[2016-05-25 15:05] gleckler1 commented on #227
@durack1 is this implemented?

[2016-05-25 15:47] doutriaux1 commented on #27
@gleckler1 why did you close this? You do not want this anymore?

[2016-05-25 15:49] doutriaux1 commented on #294
@gleckler1 so you want `case_id` to be a key in the parameter file `metrics_output_path` and `model_clims_interpolated_output` strings?

[2016-05-25 15:51] durack1 commented on #227
@doutriaux1 following the query from @gleckler1 is this done yet?

[2016-05-25 16:09] doutriaux1 commented on #227
@durack1 I'm waiting for the year mark before looking at it :wink:

[2016-05-25 16:10] doutriaux1 commented on #227
and the second year mark to actually implement it :stuck_out_tongue_winking_eye:

[2016-05-25 16:24] durack1 commented on #227
@doutriaux1 it would seem to me that one year and four months should be a suitable "settling" time.. Should this be reset as a `1.1` milestone for the end of the week?

[2016-05-25 17:12] gleckler1 commented on #27
@doutriaux1   We need to discuss strategy for PMP expansion that will include additional mean climate metrics (e.g., monsoon precip index, regional statistics) as well as inter-annual variability and high frequency analysis... will these all be driven by the same driver?   I tend to think not, except possibly for the additional analysis using climatologies (monsoon, regional,...) we may decide to

[2016-05-25 17:19] gleckler1 commented on #294
@doutriaux1 The main point is that user should be able to fully control path/filename of output json from parameter file.   Currently, case_id is added to the path in the driver... better would be to do this in the parameter file so driver is fed full path...  FYI, below is a zeroth order example parameter file I've constructed for a 1st time user (with no python experience) ...

#################

[2016-05-25 17:25] gleckler1 commented on #227
@doutriaux1 @durack1 Great to get this working for Jerome in > v1.1 ... my only concern with now is that things are functioning properly... there were difficulties with the pytz library in durolib which I thought was being used to deal with the UTC thing but maybe I've garbled that.

[2016-05-25 17:36] gleckler1 commented on #320
@doutriaux1 @durack1 Last week I was really impressed at how well they were trapping user errors in the ILAMB package.   This can make all the difference to users.   We should revisit this for our parameter files, having a dry run test case accomplished via a dedicated script that can be continuously modified with new exceptions as we bang on it.   So, I propose again this be done in a separate fi

[2016-05-25 17:38] gleckler1 commented on #86
@doutriaux1 @durack1 This is REALLY important and will be used for various analysis including later testing model dependence.   But we should discuss how best to do this and we are not going to make it for v1.1 so for now downgrading label

[2016-05-25 17:41] gleckler1 opened #349 "Make simple bias bar charts with existing jsons"
PG and maybe JW will try to get this one in time for v1.1

[2016-05-25 17:49] durack1 commented on #325
Linked https://github.com/durack1/pylib/issues/11 and https://github.com/durack1/pylib/issues/12

[2016-05-25 17:51] durack1 commented on #320
@gleckler1 it would seem that there are many things to chat about - wanna schedule a sit down so we can go over the more comprehensive and targeted issue list and bang things into line regarding the milestones and then also set dates?

[2016-05-25 17:52] durack1 commented on #349
@gleckler1 I also promised to contribute to this..

[2016-05-25 18:07] doutriaux1 commented on #349
@chaosphere2112 has a bar graph/histogram graphic method

[2016-05-25 18:12] chaosphere2112 commented on #349
Yup, I'm working on getting it into UV-CDAT (pull request will be issued shortly)

[2016-05-25 18:14] durack1 commented on #349
@chaosphere2112 @doutriaux1 things are currently being developed using matplotlib.. Once it's available if you guys are happy to assist in pulling matplotlib -> VCS/UV-CDAT for the plots that would be ideal

[2016-05-25 18:34] gleckler1 commented on #320
@durack1 @durack1 noon lunch in courtyard?

[2016-05-25 18:39] gleckler1 commented on #349
@lee1043 If you start this before leaving go ahead and start a new branch for it.   Taylor diagram is higher priority.   But that other thing you have going on is much higher priority than all of this!

[2016-05-25 18:51] lee1043 commented on #349
@gleckler1 Thanks, I will. :)

[2016-05-25 21:07] jservonnat commented on #227
Hi @durack1 @gleckler1 @doutriaux1! Let's say this is not a priority for me, I totally forgot it... Still, I think this would be a good thing anyway, but it doesn't come into play in the way I work.
So feel free to spend your time on something else and close this issue if you want ;).

[2016-05-25 22:01] gleckler1 commented on #223
@doutriaux1 Just confirmed results for land and ocean model data.   Not yet outputting interpolated obs, but thats another issue....

[2016-05-25 22:01] #223 closed

[2016-05-25 22:01] gleckler1 opened #350 "fix correlation calculations"

[2016-05-25 22:02] #227 closed

[2016-05-25 23:30] gleckler1 opened #351 "reorg of demo and docs"

[2016-05-26 18:06] gleckler1 commented on #345
@lee1043  seasonal stds fixed and problem pr xyt_corr (>1) removed for now to undergo further testing.  Awaiting branch ( 272 pjg add std newsoln) with these corrections to be pushed by CD and will update jsons in the next 1-2 days

[2016-05-26 18:52] gleckler1 opened #354 "Add units and var id to jsons..."
@doutriaux1  While you are adding an additional level of "results" to the jsons, please add "units"  at the level above the new "results"

[2016-05-26 19:00] lee1043 commented on #349
Draft script using matplotlib was upload to branch 349_bias_bar_chart. Still need to give correct unit information for the y-axis, which should coming from the json file although it is not in there for now...

[2016-05-26 19:35] gleckler1 opened #355 "portrait status - png not working"
@doutriaux1
First test with portrait using conda.... pdf looks good but png is blank.
Is there already a way can add a title to the top of the portrait or is that for v1.2?
[test.pdf](https://github.com/PCMDI/pcmdi_metrics/files/285184/test.pdf)

[2016-05-26 20:58] doutriaux1 commented on #355
hum... Travis is using the conda and the pngs work. Although you're on mac, so it might be different. Thanks,

[2016-05-26 21:10] gleckler1 commented on #355
@doutriaux1 produced it on oceanonly ... is the command still
x.png('crap')
x.pdf('crap')

[2016-05-26 21:23] doutriaux1 commented on #355
using conda?

[2016-05-26 22:00] gleckler1 commented on #355
@doutriaux1  we ... I' mean oui

[2016-05-26 22:27] covey1 commented on #342
One extension planned for the Metrics Package involves data at high time frequency, e.g. 3-hourly data instead of the usual monthly means. CMIP5 includes 23 two-dimensional atmospheric fields sampled every 3 hours. An increasing number of these fields are observed globally by satellites at high space/time resolution, e.g. TRMM precipitation data in the Obs4MIPs database. The attached files provide

[2016-05-28 00:53] gleckler1 commented on #345
Now working with updated jsons that have "RESULTS" key... example...
taylor1panel.py -j '/work/gleckler1/processed_data/metrics_package/metrics_results/cmip5clims_metrics_package-amip/v1.1/pr_2.5x2.5_esmf_linear_metrics.json' -s 'djf' -e 'amip' -d 'NHEX' -v 'pr'

[2016-05-31 19:43] durack1 opened #357 "Interactive web graphics"
I just noted the nifty javascript interactive web graphics at:

http://www.abc.net.au/news/2016-05-03/budget-2016-sliced-diced-interactive/7363834#spending/breakdown/2017/general-public-services

@chaosphere2112 do you have much experience with interactive graphics? I do think such snazzy stuff would be super useful in the ongoing metrics development..

[2016-05-31 19:51] chaosphere2112 commented on #357
@durack1 Yeah, I've done interactive visualization for the browser (I did [this](http://www.sambfries.me/HopViz/) a little bit ago). You can get a lot of whizz-bang for your buck, and it's not very hard to assemble. They're better for exploring data, trying to find interesting things that you don't know are there (versus traditional static visualization). Having a tool for interactively exploring

[2016-05-31 19:59] durack1 commented on #357
@chaosphere2112 exactly, the whizz-bang aspect is useful.. It's also a nice way to capture a large amount of data in a fairly compact format.

Good to know you've had some experience with this..

[2016-05-31 20:02] doutriaux1 commented on #357
@jservonnat isn't it what you and Patrick Brockmann are trying to do?

[2016-05-31 21:27] durack1 commented on #357
I just spotted this graphic and thought it was an interesting way of capturing info
![reproducibility-graphic-online2](https://cloud.githubusercontent.com/assets/3229632/15691086/b59619c8-273b-11e6-8146-cb3a7d883a00.jpg)

[2016-05-31 22:57] #354 closed

[2016-05-31 23:00] gleckler1 opened #358 "update obs json dic"
Need to add "default" to rlutcrf and rsutcrf datasets

[2016-06-01 14:43] #351 closed

[2016-06-01 14:44] #350 closed

[2016-06-01 14:45] doutriaux1 commented on #350
@gleckler1 commenting out is not quite the same as "fixing" no?

[2016-06-01 14:45] #294 closed

[2016-06-01 15:48] gleckler1 commented on #350
@doutriaux1  Y and N.   Some probs with the corr were fixed (same values for each season)... but yes the xyt for precip only (?) is producing values >> 1... we need to figure this out.   Closed the issue for now only to reduce clutter of what needs to be done in the next few days before lockdown of 1.1... we don't have to have the pr xyt fixed by then but of course it would be good...

[2016-06-01 16:07] durack1 commented on #350
@gleckler1 I'd suggest setting this to a milestone (future) and reopening if it's still an unresolved issue.. You can always then just sort to only show yourself 1.1 items for e.g.

[2016-06-02 00:17] gleckler1 opened #359 "odd failures..."
@doutriaux1  Something strange happening... can't run on too many variables... bombing in irreproachable ways.   Crashes after Nth variable but on rerun works fine on the Nth variable run by itself.... example.... output:

Exception in thread Thread-9064:
Traceback (most recent call last):
  File "/export/gleckler1/anaconda2/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run(

[2016-06-02 00:21] durack1 commented on #359
@gleckler1 the `pingPCMDIdbThread` is attempting to report to HQ if I'm not mistaken.. This needs to be considered by @doutriaux1 to see whether it's at all useful, otherwise turf..

[2016-06-02 13:56] doutriaux1 commented on #359
@chaosphere2112 let's restart the server and see if it helps.
@gleckler1 try to set your env variable `UVCDAT_ANONYMOUS_LOG` to  `False` or edit your `${HOME}/.uvcdat/.anonymouslog` to set it there.

[2016-06-02 14:01] durack1 commented on #359
@doutriaux1 @chaosphere2112 if it turns out that the issue is problems logging then I'd advocate this all gets revisited.. It should cause a code bomb like this

[2016-06-02 18:05] gleckler1 commented on #359
Thanks seems to have done the trick turning to False ... will keep it that way!

[2016-06-02 18:05] #359 closed

[2016-06-02 18:07] durack1 commented on #359
@doutriaux1 @chaosphere2112 I would advocate that this logging needs a revisit if it is causing outages for users.. It should ping and if ANYTHING goes wrong it just continues, rather than what occurred above..

[2016-06-02 18:09] chaosphere2112 commented on #359
@durack1 The logging absolutely needs a revisit. It's on the (long) list of things to do.

[2016-06-02 18:10] durack1 commented on #359
@chaosphere2112 thanks for the heads up - glad to know it's on the to-do list

[2016-06-09 15:42] gleckler1 opened #360 "removing json files from build"

[2016-06-09 16:06] doutriaux1 commented on #360
???

[2016-06-09 16:41] gleckler1 opened #361 "rectangular sub global ?"
@doutriaux1
Not remembering if this is implemented... don't see it on
https://github.com/PCMDI/pcmdi_metrics/blob/master/doc/parameter_files/input_parameter_file_all_options.py

If its there, great, we'll use it now.   If not, can it be implemented toute suite?  NCAR is interested in it now... if not there or possible to do fast it will be fine to just add to v1.2 list

[2016-06-09 17:49] gleckler1 opened #362 "Basin scale inter-annual variability (Santer et al 2009)"

[2016-06-23 00:47] #360 closed

[2016-06-24 22:17] gleckler1 opened #364 "remove clutter in doc/parameter_files"

[2016-06-27 20:59] #364 closed

[2016-06-27 21:04] gleckler1 commented on #348
@durack1 @doutriaux1  We need to produce a v1.1 now, please.   We need to get the jsons off github and removed from the conda build.   Please accept pull request to remove jsons and then lets tag a version to send to conda

[2016-06-27 22:04] doutriaux1 commented on #357
@gleckler1 it's an enhancement for 2.0. Why close this?

[2016-06-27 22:37] gleckler1 commented on #357
@doutriaux1 ok to stay open but its clutter among things we need to get done on short term.

[2016-06-27 23:07] durack1 commented on #357
@gleckler1 unclutter your issue list using the milestone tag:
https://github.com/PCMDI/pcmdi_metrics/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.1
![1p1](https://cloud.githubusercontent.com/assets/3229632/16398691/3104e382-3c81-11e6-837e-b5fa29b23cd8.png)

If we don't have multiple milestones there'll be no other way to capture information and separate this against targeted releases

[2016-06-28 13:40] doutriaux1 commented on #357
not really, just sort by milestone.

[2016-06-28 19:25] gleckler1 opened #367 "wrong single level (ua_850, etc) interpolated filenames"
@doutriaux1
Will need CD to repair this as pcmdi_metrics.io.base.Base in driver is too terse for PG to follow.   The problem is single sliced layers (ua_850, ta_200, zg_500, ...) have a duplicate (but x100, in pa rather than hPa) description in the filename.   The correction for the file below is to remove the "20000-" in the filename.

cmip5.MPIESM-MR.historical.r1i1p1.mo.Amon.ta_**20000-**200.ve

[2016-06-28 23:20] gleckler1 commented on #355
@doutriaux1 ... x.png works with x=vcs.init(bg=1,geometry=(2400,3200)), but with x = vcs.init() it does not.

[2016-06-28 23:23] durack1 commented on #355
@gleckler1 got a UV-CDAT version number for us?
[code]

[2016-06-28 23:27] gleckler1 commented on #355
print cdat_info.version()
['', '2.4.1']

[2016-06-28 23:32] durack1 commented on #355
@gleckler1 I too have hit issues with `2.4.1` the current `master` branch has a bunch of fixes underway that are getting closer.. Can you build a `nightly` version of UV-CDAT locally to be testing against?

[code]
That should at least get you back up and running and generating png files

[2016-06-28 23:42] durack1 commented on #325
@doutriaux1 in prep for `1.1` how do I get the `durolib` library wedged into the metrics - this is fairly trivial to do right?

[2016-06-28 23:43] durack1 commented on #345
@gleckler1 I suggest moving this to `1.2`

[2016-06-28 23:43] durack1 commented on #343
@gleckler1 I suggest moving this to `1.2`

[2016-06-29 00:00] durack1 commented on #348
@doutriaux1 can you proceed with the `1.1` tagging steps above and update the conda release.. It'd be great to get the conda release updated to `1.1` tomorrow

[2016-06-29 00:06] gleckler1 commented on #348
Yes, @doutriaux1 @durack1  FREEZE NOW and get on conda

[2016-06-29 14:12] doutriaux1 commented on #348
@gleckler1 @durack1 we're releasing uvcdat 2.6 today. As soon as it's out. I will release 1.1. Ok?

[2016-06-29 15:53] doutriaux1 commented on #348
yes I guess you're right we do not require any specific version of uvcdat so we can do that. But I would still prefer to wait, people are going to get 2.4.1 if they install right now vs in a couple of hours.

[2016-06-29 16:50] durack1 commented on #348
@doutriaux1 as long as we have `v1.1` out by COB today I don't think it matters.. I personally do like the graphics tweaks coming in `UVCDAT v2.6.0` and would personally wait a day for it

[2016-06-29 18:15] gleckler1 commented on #348
@doutriaux1 @durack1 We will have another version ready next week.   The critically thing right now is to remove the jsons from the conda build.

[2016-06-29 18:26] gleckler1 opened #368 "add processing of NCAR clims to demo/externals"

[2016-06-30 01:49] gleckler1 commented on #361
@doutriaux1 This is an enhancement that we should put at the top of the list - being able to define a rectangular domain in the parameter file.   Is it already partly implemented??

[2016-06-30 13:52] doutriaux1 commented on #361
@gleckler1 you mean sub-regions? Like EL-Nino at such?

[2016-06-30 18:21] gleckler1 commented on #361
@doutriaux1   Yes!
While your at it, you could hijack what has been started on a branch and put it where you think it belongs...
https://github.com/PCMDI/pcmdi_metrics/blob/334_monsoon_wang/src/python/devel/monsoon_wang/lib/PMP_rectangular_domains.py (pcmdi/scripts ?).

[2016-06-30 19:54] doutriaux1 opened #369 "json files should contain filed indication which var was used"

[2016-06-30 21:24] durack1 commented on #348
@doutriaux1 can you generate the zenodo DOI today? And if so can you tick off the list of items [up top](https://github.com/PCMDI/pcmdi_metrics/issues/348#issue-156641527) and close this issue?

[2016-07-01 14:21] gleckler1 commented on #369
@doutriaux1 pls clarify filed indication"

[2016-07-01 14:25] #368 closed

[2016-07-01 14:26] gleckler1 commented on #361
@doutriaux1 I don't see branch to test this... is it hidden somewhere?

[2016-07-01 14:32] gleckler1 commented on #367
@doutriaux1 note how the level info is dealt with in filename (e.g. "ta_850") should be consistent between output clims and json files

[2016-07-01 17:24] gleckler1 opened #371 "setup.py needs to reflect reorg of demo dir"
@doutriaux1 @durack1 We've changed the organization of the demo directory in the source codes but not the binaries.   setup.py needs to be modified to reflect this.   PG will try...

[2016-07-06 20:58] gleckler1 commented on #358
Additional correction:  ids are rltcre and rstcre

[2016-07-06 21:18] durack1 opened #372 "Continuing build and test issues"
@doutriaux1 it seems that the [`travis` build tests are continuing to fail](https://travis-ci.org/PCMDI/pcmdi_metrics/builds/142877787#L819-L837) - this time it appears that upstream issues with `cdms2` have caused problems:
[code]

[2016-07-06 21:23] durack1 commented on #348
@doutriaux1 can you bump my repo privileges to admin so I can sort the items out above? As I'm not an admin I can't generate Zenodo DOIs..

[2016-07-06 22:39] durack1 opened #374 "setup.py and conda update"
Considering we've moved to a `conda` install path the `setup.py` and directory structure needs a re-think - will have to consult @doutriaux1 to figure out what is in and out of the current `conda` build

[2016-07-06 23:47] gleckler1 commented on #374
@durack1 @doutriaux1  I think the demo dir is getting picked up by conda without the setup.py (see below).   What is in v1.1 demo is abit mucked up because the model subdirectories were not git removed before the tag.   But otherwise I think its ok.   But I agree we need to discuss how/why the setup.py is used...

/export/gleckler1/anaconda2
[gleckler1@oceanonly ~/anaconda2]$ ls -lrt
total 164
-rw

[2016-07-07 00:43] durack1 commented on #374
So this is what you get when using conda `envs`:
[code]

There is no `src` dir or other things that `setup.py` is meant to create

[2016-07-07 18:24] durack1 commented on #348
@gleckler1 @doutriaux1 this `v1.1` issue was hijacked during discussions - I'll create a new issue for the `v1.1.1` tagging along with the new milestone created today

[2016-07-07 18:27] durack1 opened #375 "1.1.1 tagging"
@doutriaux1 once v1.1.1 has been tagged, we'll need to:
- [x] Validate version info is correctly written (version indicated v1.1.1)
- [x] Update wiki so correct paths are noted (for test cases, demos etc; not valid for 1.1.1)
- [x] Obtain zenodo DOI
- [x] Finalise README.md with updated DOI
- [ ] Move tag point to new commit
- [ ] After tag point set, reset all checkout tagpoints to point back to

[2016-07-07 18:27] #348 closed

[2016-07-07 21:37] gleckler1 commented on #361
@doutriaux1 can't find your test branch!?

[2016-07-08 13:27] doutriaux1 commented on #374
@gleckler1 just let me know what `demo` you want to be distributed I'll set the rest up.

[2016-07-08 15:57] gleckler1 commented on #374
closely related to #371

[2016-07-08 16:15] durack1 commented on #374
@gleckler1 if you see it as a duplicate copy across the relevant info and close the less relevant one..

[2016-07-08 22:06] gleckler1 commented on #358
Verified already updated in master

[2016-07-08 22:06] #358 closed

[2016-07-09 00:18] durack1 commented on #371
@gleckler1 @doutriaux1 this is a dupe of #374 so closing

[2016-07-09 00:18] #371 closed

[2016-07-11 21:04] gleckler1 commented on #367
@doutriaux1 ok, regional domains may take a little work, but this one should be quick/easy... but not for me!

[2016-07-12 20:39] gleckler1 commented on #369
@doutriaux1  Still not clear what this issue is for... time to close?

[2016-07-12 21:21] doutriaux1 commented on #369
@gleckler1 I think the variable information is only comtained in the file name `tas_bla.json` nowhere in the json file we have a field: `variable:tas`

[2016-07-12 22:06] gleckler1 commented on #369
@doutriaux1 ok, I thought that is what you meant and I agree  - good to get it in z json...

[2016-07-12 22:08] lee1043 opened #377 "Climate variability modes"
Working with @gleckler1  to add NAO variability mode

[2016-07-12 22:12] durack1 commented on #325
@doutriaux1 thanks for the help on this - I believe we're closed as `1.0.0` is now available at https://anaconda.org/durack1/durolib

[2016-07-12 22:12] #325 closed

[2016-07-14 01:30] durack1 commented on #361
@doutriaux1 @gleckler1 I believe #252 is a dupe of this issue - I suggest closing both when the rectangular region specification is working

[2016-07-14 14:53] doutriaux1 commented on #252
@markcollier #361 will actually implement this. It was a quick fix wasn't it 😜  Sorry about that.

[2016-07-14 15:00] durack1 commented on #226
@doutriaux1 @gleckler1 I think this is another dupe of an existing PR?

[2016-07-14 22:17] durack1 commented on #226
duplicate of #369, closing

[2016-07-14 22:17] #226 closed

[2016-07-18 21:31] doutriaux1 commented on #367
@gleckler1 we need to talk this was `intended` I think the first one is the actual value retrieved and the second one is the value in param files. So you want to merge them into:
`cmip5.MPIESM-MR.historical.r1i1p1.mo.Amon.ta-200.ver1.1979-1989.interpolated.linear.2.5x2.5.global.AC.nc` ?

[2016-07-18 22:10] gleckler1 commented on #367
@doutriaux1  oui!

[2016-07-18 22:46] #252 closed

[2016-07-18 22:46] #361 closed

[2016-07-19 04:00] durack1 commented on #372
@doutriaux1 [`master` is now building successfully on linux](https://travis-ci.org/PCMDI/pcmdi_metrics/builds) should we amend the title of this issue to also get `OS X` working and then close this?

[2016-07-19 13:58] #372 closed

[2016-07-19 14:00] doutriaux1 commented on #355
@gleckler1 @durack1 is this still true?

[2016-07-19 14:01] durack1 commented on #372
@doutriaux1 we've got `OS X` working too?

[2016-07-19 14:02] durack1 commented on #355
@gleckler1 can answer that..

[2016-07-19 14:05] gleckler1 commented on #355
@doutriaux1  I will check after 7:30-9am telecon, and its ok if its not fixed for 1.1.1.   Before trying to deal with it please first address
https://github.com/PCMDI/pcmdi_metrics/pull/373
and
https://github.com/PCMDI/pcmdi_metrics/issues/367
I need these fixed before I can finalize demos for last 1.1.1 pull request

[2016-07-19 14:10] doutriaux1 commented on #372
not yet I'll open an issue for osx

[2016-07-19 14:11] doutriaux1 opened #380 "Add OSX to travis continuous integration"

[2016-07-19 15:03] doutriaux1 opened #381 "custom key seems broken"

[2016-07-19 15:55] durack1 commented on #380
@doutriaux1 this would be an ideal candidate for the last issue tagged against `1.1.1` - it'd be good to get our systematic tests working asap..

[2016-07-19 15:57] doutriaux1 commented on #380
@gleckler1 and I don't think it's really high priority. I'd say a huge chunk of our customers are on Linux systems.

[2016-07-19 15:58] doutriaux1 commented on #380
And I put 3.0 just to mess with you @durack1 😜

[2016-07-19 16:00] durack1 commented on #380
I shall need to create a `robust` tag, and remove it in situations such as this :disappointed:

[2016-07-19 16:11] doutriaux1 commented on #380
There's a french saying: `Le mieux est l'ennemi du bien`

[2016-07-19 16:12] doutriaux1 commented on #380
In the same line of thought: https://en.wikipedia.org/wiki/Le_Chef-d%27%C5%93uvre_inconnu

[2016-07-19 16:29] durack1 commented on #380
I have a saying in my family: "Aspiring for 51% and settling for 30% means that you'll be lucky to reach 25% but 100% certain of mediocrity"

[2016-07-19 16:47] #367 closed

[2016-07-19 16:47] #369 closed

[2016-07-19 16:47] #381 closed

[2016-07-19 17:05] durack1 commented on #343
@gleckler1 this needs to be merged before #374 can be finalised - as you're generating files and directory structures that `setup.py` needs to know about.. So unless you can specify what stuff needs to be updated in `setup.py` and the `conda install` path this will need to be finalised before #374 and then #375 tagging and release step..

[2016-07-19 17:13] gleckler1 commented on #343
@durack1 changes to setup.py have been proposed in pr https://github.com/PCMDI/pcmdi_metrics/pull/376

[2016-07-19 20:20] gleckler1 opened #384 "Create json data query demo"

[2016-07-19 23:13] gleckler1 opened #388 "update obs dic"

[2016-07-20 00:11] durack1 commented on #388
Duplicate of #358 closing :)

[2016-07-20 00:12] durack1 commented on #388
@gleckler1 is this a `1.1.1.a.5.3.35pm` milestone?

[2016-07-20 00:13] #320 closed

[2016-07-21 00:13] gleckler1 opened #389 "pr 3hr xmls needed to begin work on diurnal cycle"
@durack1  Not needed to be run weekly.   Just once would do on the historical runs...

[2016-07-21 01:53] durack1 commented on #389
@gleckler1 take a peek at `crunch:/work/cmip5/make_cmip5_xmls_da.py` You'll need to edit your destination path to your `HOME` and then you should be close to a `daily -> 3hr` tweak and you're off

[2016-07-21 19:14] gleckler1 commented on #343
@doutriaux1  It would be nice if we could point to a complete list of "official keys" available for the PMP.   I think that is documented (sort of) in input_parameter_file_all_options.py which is in the /doc directory of the repo.   I guess We should point to this file in the repo rather than its buried location in the build?

[2016-07-21 20:26] durack1 commented on #374
@doutriaux1 @gleckler1 are we done with this?

[2016-07-21 20:27] durack1 commented on #375
@doutriaux1 @gleckler1 is it tag-a-roony time yet?

[2016-07-21 20:52] gleckler1 commented on #375
We are not going to make it before you take off,  but count on this happening on Aug 3.
Happy travels
P

From: "Paul J. Durack" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, July 21, 2016 at 1:27 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@noreply.github.com<mailto:pcmdi_metrics@norepl

[2016-07-21 20:55] durack1 commented on #375
@gleckler1 if you have another week, may as well get more ambitious then.. What else can be wedged in in a week?

[2016-07-21 21:05] gleckler1 commented on #375
Just had a pow wow… change of plans.   Tagging now.   Will be ready for beautification with zenodo at all shortly…
What time are you leaving home?

From: "Paul J. Durack" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PCMDI/pcmdi_metrics <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, July 21, 2016 at 1:55 PM
To: PCMDI/pcmdi_metrics <pcmdi_metrics@nor

[2016-07-21 21:19] durack1 commented on #375
@doutriaux1 @gleckler1 #374 and #343 are still open?

[2016-07-21 21:38] #374 closed

[2016-07-21 21:42] durack1 commented on #375
@doutriaux1 `[![DOI](https://zenodo.org/badge/23150/PCMDI/pcmdi_metrics.svg)](https://zenodo.org/badge/latestdoi/23150/PCMDI/pcmdi_metrics)` for Zenodo DOI/Badge

[2016-07-21 22:09] durack1 commented on #343
@gleckler1 @doutriaux1 this is still open, AFTER tagging `1.1.1` is it to be moved to another milestone or is it already done?

[2016-07-21 22:12] durack1 commented on #343
@gleckler1 it's also `HIPRIORITY` which means it could be more or less important than `CRITICAL` or `TOPPRIORITY`, yet may be less important (or is it more important) than `DECISIONNEEDEDNOW`, `Lingering but still important` or `SolutionUnderTesting`

[2016-07-22 13:56] doutriaux1 commented on #343
@durack1 enjoy your vacation. `pmp_demo_1.py` does this up to the portrait creation. The branch `jason_class` is a HUGE improvement that will make the last part (portraits creation) much easier for the end user.

[2016-07-23 00:55] durack1 commented on #343
@doutriaux1 then do you want to close this, and we can tweak under a different issue/milestone?

[2016-07-25 13:39] #343 closed

[2016-07-25 13:40] doutriaux1 opened #390 "create portrait plots demo"

[2016-07-25 13:40] doutriaux1 commented on #343
@durack1 opened #390 to finish this

[2016-07-26 23:05] gleckler1 opened #391 "update regions for variability"

[2016-07-27 20:51] doutriaux1 commented on #391
typos in PR merged by @gleckler1 please fix

[2016-07-27 20:57] lee1043 commented on #391
typo corrected, sorry! @gleckler1 @doutriaux1

[2016-08-05 02:00] durack1 opened #394 "Update and CMORize observational database"
The observational database will be CMORed and updated to include both climatological data along with timeseries. The ultimate aim is to house a version-controlled database hosted in the ESGF system and include the download of this data during the install/or run step.

Some alternate approaches to versioning input data can be found at: https://github.com/BreakawayLabs/mom/issues/151

I also note th

[2016-08-09 16:06] doutriaux1 opened #395 "Add derived variable capability"
pr = PRECL+PRECS

[2016-08-13 00:41] #375 closed

[2016-08-13 00:43] durack1 commented on #303
@doutriaux1 is this a dupe of #380? If so I suggest we close one of these dupes

[2016-08-13 00:44] durack1 commented on #384
@gleckler1 wanna assign a milestone here?

[2016-08-13 00:44] durack1 commented on #388
@gleckler1 wanna assign a milestone here?

[2016-08-13 00:45] durack1 commented on #391
@gleckler1 wanna assign a milestone here? @lee1043 is there an open/merged PR that goes with this issue - if so should it be closed?

[2016-08-13 00:45] durack1 commented on #395
@doutriaux1 wanna assign a milestone here?

[2016-08-13 02:20] doutriaux1 commented on #303
yes and no, this defintely holds #380

[2016-08-13 02:21] doutriaux1 commented on #391
@lee1043 @gleckler1 can we close now that typo is fixed?

[2016-08-13 02:22] doutriaux1 commented on #395
hum... is 2.0 when we port to the CDP? or 3.0?

[2016-08-15 15:59] lee1043 commented on #391
@doutriaux1 Yes we can!

[2016-08-15 16:09] #391 closed

[2016-08-16 17:27] gleckler1 commented on #389
@durack1 could use your help with both 3hr and daily pr for historical and picontrol.  Does not need to be in cron job.

[2016-08-16 17:34] durack1 commented on #389
@gleckler1 what's the milestone on this - are we a `1.2` nexter?

[2016-08-18 16:10] gleckler1 commented on #389
@durack1 what is needed asap is some xmls for historical 3hr and daily "pr".... ok if its only 1 realization/model ... this will enable us to get started on a series of high freq analysis

[2016-08-20 00:32] durack1 commented on #389
@gleckler1, so I ***think*** there should be a bunch of `3hr` and `day` files for `pr` building in:
[code]
Take a peek on Monday and see what has been built.. You should have multiple experiments and ***most*** of the current data indexed on the local systems.. However it is cobbled together, so may require some iteration

[2016-08-22 18:37] gleckler1 commented on #389
@durack1   thanks, but still no can read... permissions need to be set recursively

[2016-08-22 19:01] durack1 commented on #389
@gleckler1 should be fixed now, however it's still building so will need to redo once it completes..

[2016-08-22 20:21] durack1 commented on #389
@gleckler1 ok seems to be complete - wanna close this if you can read the xmls?

[2016-08-23 16:59] gleckler1 commented on #395
@doutriaux1 Lets talk about this.   We currently "derive" variables before input into the PMP, and there advantages to that approach.

[2016-08-23 17:02] gleckler1 opened #398 "Add alternate zonal bands"
our default includes
        'NHEX' : {'domain':cdutil.region.domain(latitude=(30.,90,'ccb'))},
        'SHEX' : {'domain':cdutil.region.domain(latitude=(-90.,-30,'ccb'))},
       'TROPICS': {'domain':cdutil.region.domain(latitude=(-30.,30,'ccb'))},

which is good but there are several other common definitions, one will be added here

[2016-08-23 17:27] gleckler1 opened #400 "add area-weighting to bias and MSE; change PR units"

[2016-08-23 20:44] #389 closed

[2016-08-24 13:56] doutriaux1 commented on #398
@gleckler1 #399 adds the regions but not in the default list. Is this correct?

[2016-08-24 15:30] durack1 opened #402 "Upstream colormap and area weight changes lead to test failures"
@doutriaux1 looks like the test images need to be updated, see #401 and the errors at https://travis-ci.org/PCMDI/pcmdi_metrics/builds/154607147 :
[code]
@gleckler1 pinging you here

[2016-08-24 15:34] doutriaux1 commented on #402
if we change the math then we change the numbers. That means we need to change the test results

[2016-08-24 17:12] durack1 opened #403 "Augment PMP traceability from source"
Following the comments from @gleckler1 in #401, there's a need to further capture diagnostic information so that ongoing issues can be accurately reported and diagnosed - this will be achieved by augmenting the information captured in the PMP-developed json output, following the discussion in #401:

[code]

Currently we have [the following written to jsons for e.g.](https://github.com/PCMDI/pcmdi_

[2016-08-24 17:22] gleckler1 commented on #403
@doutriaux1 @durack1  Definitely need to do this and soon.   When versions aof CDMS, cduitl and gentuil become easy to trap to put into jsons we should be that explicit.   But if that is not doable yet maybe for now we could just include version of UV-CDAT until.   CDP version can also be added when the time comes but that too is not ready - correct?
Does "platform and version" include hardware an

[2016-08-24 17:26] durack1 commented on #403
@gleckler1 @doutriaux1 found where to add this - [here](https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/io/base.py#L135-L149)

Just need to know what to add..

[2016-08-24 19:02] gleckler1 commented on #403
@durack1 @doutriaux1  It should be easy to add some information now which can improve overtime as UV-CDAT is further modularized and CDP enters the fold.   Having some info now would be VERY helpful, thus MS1.2... suggests PD can take this on and include for now...

- [ ] Platform and version
- [ ] PMP software version
- [ ] PMP obs version (currently "hardwired at PMP.obs.v1.1)

[2016-08-24 19:04] #398 closed

[2016-08-24 19:05] #388 closed

[2016-08-24 19:07] gleckler1 commented on #303
@doutriaux1 @durack1  What is the status of this - should it be merged with another issue?

[2016-08-24 19:09] durack1 commented on #303
@gleckler1 my understanding is that this requires more work and is not resolved yet - [we're only testing against `linux` in the travis tests](https://github.com/PCMDI/pcmdi_metrics/blob/master/.travis.yml#L1-L2) - this needs to be solved so that `OS X` tests can be turned back on

[2016-08-24 21:01] durack1 commented on #384
@gleckler1 not sure what this is.. Some more info and a milestone would be helpful for others to attempt to get at what this means to you

[2016-08-24 21:03] durack1 commented on #390
@gleckler1 is this a dupe of #384?

Also I've just managed to obtain vector graphic copies of the PCMDI logo, so that could be used to badge things if required..

[2016-08-24 22:22] gleckler1 commented on #268
@doutriaux1  The recently added capability of selecting a "region+mask" is largely what was expected out of this issue... so closing...

[2016-08-24 22:22] #268 closed

[2016-08-24 22:28] gleckler1 commented on #342
@doutriaux1  @covey1 We finally have in-house xmls to work with to advance this:  /work/durack1/cmip5/historical/atm/3hr/pr

CD, CV Lets meet to discuss how to advance this as it is now a hi priority in our timeline as determined by SFA milestones

[2016-08-24 22:36] #355 closed

[2016-08-24 22:43] gleckler1 commented on #384
@durack1 ... PG and CD working on demos for how to create a portrait plot and how to extract info out of json files

[2016-08-24 22:58] durack1 commented on #342
@gleckler1 out of curiosity, who is the "CV" guy..?

[2016-08-24 23:01] gleckler1 commented on #342
@doutriaux1 @covey1 Scratch that should read CC

[2016-08-24 23:05] gleckler1 opened #404 "Monsoon evolution metrics - pentad scale"
PG, KS and JL to begin working on monsoon onset metrics

[2016-08-24 23:06] durack1 commented on #342
@gleckler1 just edit the existing comment.. I just did.. And then deleted all the redundant ones..

[2016-08-24 23:09] gleckler1 commented on #342
@doutriaux1 @covey1  one thing that is going to be a challenge here is that we may find the xmls to be very slow... thats ok, as long as they work.

[2016-08-24 23:12] durack1 commented on #404
@gleckler1 I'd use the handles so you actually ping folks: @lee1043, I think Ken is not on the grid yet..

[2016-08-24 23:15] durack1 commented on #384
@gleckler1 @doutriaux1 renamed to target just the json query demo as the portrait plot demo already has it's own issue #390 - both assigned to the 1.2 milestone

[2016-08-25 14:06] doutriaux1 commented on #268
@gleckler1 it's not quite the same though but close you're right

[2016-08-25 19:00] gleckler1 commented on #403
@durack1 https://github.com/UV-CDAT/uvcmetrics/blob/master/src/python/common/utilities.py
A good start!

[2016-08-25 19:02] covey1 commented on #342
Peter and Paul,

I'm free to meet with you any time. I could apply the new XMLs to scripts
I put on GitHub a while ago--or first get those scripts in synch with my
new improved methods. Your choice.

C

-----Original Message-----
From: gleckler1 <notifications@github.com>
Reply-To: PCMDI/pcmdi_metrics
<reply+012b0bcdb0e5363417993dc56c89ecb20d543df9148a094b92cf0000000113d5e1a8
92a169ce09336cb2@repl

[2016-08-27 02:33] durack1 commented on #403
@gleckler1 @doutriaux1 just for comment, I've updated the versioning info captured for the WCRP-CMIP/CMIP6_CVs#28, this [looks like](https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_institution_id.json#L23-L30):
[code]
We could potentially reuse some of this bits in the final solution to this standing issue PCMDI/pcmdi_metrics#403

[2016-09-07 16:07] gleckler1 opened #405 "Sector scale sea-ice (Ivanova et al., 2016)"

[2016-09-07 18:35] gleckler1 commented on #349
@lee1043 Do we still need this branch or is the latest bar chart covered in another branch (enso, monsoon, variability)?   Not sure if we should have a general (multiple purpose) branch for bar charts or if it should be scattered about different branches.

[2016-09-07 23:40] gleckler1 commented on #404
@lee1043  Lets talk about this one when you feel ready to do so.

crunchy xmls are at /work/durack1/cmip5/historical/atm/da/pr

For each of the monsoon domains in Sperber et al. (DOI 10.1007/s00382-014-2099-3) we will want to:

1) Compute and save domain area average time series of daily precipitation for a selected beginning year and end year (default could be 1980-2005).  Have options to save in

[2016-09-07 23:43] durack1 commented on #404
@gleckler1 @lee1043 just for completeness Ken has a bunch of "supplemental" plots hosted at https://pcmdi.llnl.gov/home/about/staff/sperber/suplemental.html

[2016-09-08 14:55] gleckler1 commented on #400
@doutriaux1 this issue can be closed when graphic error in test suite is fixed in PR 399 and its merged with master

[2016-09-08 16:22] gleckler1 opened #406 "pr xy_corr_ann error"
Annual mean precip correlation (only) is multiplied by conversion factor - needs to be fixed.

https://github.com/PCMDI/pcmdi_metrics/blob/master/src/python/pcmdi/mean_climate_metrics_calculations.py

[2016-09-08 16:35] gleckler1 commented on #406
This has been fixed in PR 399 which needs to be merged with master

[2016-09-08 16:37] gleckler1 commented on #402
@doutriaux1 @durack1 this needs to be updated so that PR 399 can be MM'ed (master merged)

[2016-09-08 16:46] durack1 commented on #402
@gleckler1 this is in the queue for @doutriaux1 - when #401 passes (due to the colour palette tweak) this issue can also be closed

[2016-09-08 19:03] gleckler1 opened #407 "zm option"
@doutriaux1 we currently have option in parameter files to save interpolated model clims as netcdf files.   We should add a companion option to save model 12month zonal means to netcdf files (pre-interpolation).    These could be in a single file as (12, latitude).

[2016-09-10 01:36] #406 closed

[2016-09-10 01:38] gleckler1 commented on #403
@durack1 It would be good to start this process, even if there is only 1 or 2 things to add to jsons at this point.   Version of pmp would be especially useful.

[2016-09-10 01:39] gleckler1 commented on #400
merged

[2016-09-10 01:39] #400 closed

[2016-09-10 01:40] #402 closed

[2016-09-12 16:21] gleckler1 commented on #405
PG to work with DI on this.

[2016-09-12 16:32] gleckler1 opened #408 "template for multi-panel VCS maps"
@lee1043   JW and PG to work on template for producing 4 panel maps with VCS module.   Driven by arguments using argparse or just as a function.    The top row (two) panels will be for the mod and obs for a given variable, with a color scale centered between and just below the two plots.   The bottom row (2 plots) will be for two difference plots (MOD-OBS and MMM-OBS), with a color scale centered

[2016-09-12 23:36] gleckler1 commented on #408
@lee1043 branch created with sample script for producing mean climate makes 408_pgjw_vcs ... JL will likely need PG to change some permissions...

[2016-09-14 18:43] doutriaux1 commented on #407
@jservonnat awesome we can now assign work to you! Awesome! Don't worry about this one though, I was just testing.

[2016-09-14 20:26] doutriaux1 opened #409 "capability for developer to easily install any branch via conda"

[2016-09-15 16:29] tangq opened #411 "missing portraits.scr file"
After installation, the portraits.scr file is missing. I have to manually copy it to bypass the problem.

[2016-09-15 16:35] gleckler1 commented on #411
@tangq @doutriaux1 Thanks for reporting this!

[2016-09-15 16:37] doutriaux1 opened #412 "have travis push to nightlies"